[2019-06-01 13:46] cschol opened #1 "Minor plugin.json updates required"
I am reviewing your submission to the Rack plugin manager and there are some minor updates to the `plugin.json` file required:

Here is a diff of the changes:

[code]

Everything else looks good.

[2019-06-01 16:43] stoermelder commented on #1
Fixed in 6920151828b3e91d5d0532d7b00f8c8b2f29257f

[2019-06-01 16:45] #1 closed, assigned to stoermelder

[2019-06-14 20:50] cschol opened #2 "Rack v1: Invalid tags in plugin.json"
The manifest validation script found the following issues in `plugin.json`:
[code]

Valid tags are defined in:
https://github.com/VCVRack/Rack/blob/v1/src/plugin.cpp#L534

[2019-06-14 21:00] stoermelder commented on #2
Already fixed in da7dc2f5b556abf73b4ebfe8e11cd17dfc4469ad. Will be ok in next version 1.0.2

[2019-06-14 22:01] cschol commented on #2
Thank you!

[2019-06-23 21:46] #2 closed, assigned to stoermelder

[2019-06-27 20:38] BoscoRemus opened #3 "NYSTHI 4MIX - 16MIX mixers"
Can not map the color faders or color pans in the NYSTHI 4MIX - 16MIX mixers..

[2019-06-28 20:18] stoermelder commented on #3
Hm, I think Antonio of NYSTHI implemented his own faders that aren't exposed as parameters to Rack. I tried VCV MIDI-MAP and it doesn't work either.

Edit: Saw you issue. I can't do anything about it when a module uses its own logic. Sorry...
https://github.com/nysthi/nysthi/issues/195

[2019-06-28 20:21] #3 closed, assigned to stoermelder

[2019-06-29 14:16] vcvrackideas opened #4 "STRIP - Something strange with locating saved strips"
Hi Ben! Sometimes Strips doesn't even see vcsss files in the folder, but sometimes it do. But I've got such a strange Windows 10 error when load it, you can look at the screenshot.
![2019-06-29_17-16-28](https://user-images.githubusercontent.com/42435368/60385429-a8890c00-9a91-11e9-8ca0-574d88ebc48c.png)

[2019-06-29 17:28] stoermelder commented on #4
Should already been fixed in the latest build from commit 9cb5dc7.
The file-browser issue is caused by Rack and will be fixed in its next release.
https://github.com/VCVRack/Rack/issues/1407

[2019-07-01 07:13] vcvrackideas opened #5 "CV-PAM - MIDI Merging with MidiMap"
Is it possible to merge midi mapping from real controller and CV PAM from one knob? This will be awesome to connect knob wiggling to CV sending. Really useful for live situation...

[2019-07-01 08:31] vcvrackideas opened #6 "ReMove Lite - monitoring from IN while recording"
So it will be very nice if you can apply monitoring function from input to output chain while module is doing recording...

[2019-07-01 09:40] stoermelder opened #7 "STRIP - add Rack version to vcvss-file"
See title. Future versions of Rack might change JSON format of storing modules.

[2019-07-01 09:42] stoermelder commented on #4
Rack v1.1.1 has been released. Can you check if these problems are gone?

[2019-07-01 10:06] stoermelder opened #8 "STRIP - add copy-and-paste of strips"
See title.

[2019-07-01 15:56] vcvrackideas commented on #4
Now it see the files but when I'm trying to load vcsss it shows me again this, but it works when I'm pressing 3-4 times "ignore" button
![2019-07-01_18-53-22](https://user-images.githubusercontent.com/42435368/60450161-e91f8b80-9c31-11e9-8dba-a151e1496c7a.png)

[2019-07-01 16:08] stoermelder commented on #4
Are you using the latest build? I've fixed this issue some time ago and never experienced it again.
https://github.com/stoermelder/vcvrack-packone/releases/tag/Nightly

[2019-07-01 16:14] stoermelder opened #9 "STRIP - save cable colors"
https://community.vcvrack.com/t/idea-of-one-module-which-can-disable-a-group-of-modules/4399/28?u=stoermelder

[2019-07-01 16:21] vcvrackideas commented on #4
oooh, my fault!  just download win build and everything works awesome! thank you

[2019-07-01 16:23] stoermelder commented on #4
No problem, thanks for reporting anyway!

[2019-07-01 16:23] #4 closed, assigned to stoermelder

[2019-07-01 20:28] stoermelder commented on #9
Implemented in 190d0a6881db5148c267b44889d4c9e4025ff57c.

[2019-07-01 20:28] #9 closed, assigned to stoermelder

[2019-07-01 20:29] stoermelder commented on #7
Implemented in 39f1fbadf8bbb74c8d62da922e235f2030ff7eec.

[2019-07-01 20:29] #7 closed, assigned to stoermelder

[2019-07-02 12:30] vcvrackideas opened #10 "STRIP - Adding another ON mode ON - 5V, OFF - 0V"
So it's like using OR NOR functions - if Gate is on STRIP becomes ON and when Gate is off STRIP becomes off.

[2019-07-02 19:32] stoermelder commented on #10
Added in 70e2e0923c9ba57c601b5b2d4ebc5ab043de8cb9, 0V=LOW, >=1V=HIGH.

[2019-07-02 19:32] #10 closed, assigned to stoermelder

[2019-07-02 22:09] stoermelder commented on #10
Fixed voltage in c09c9baa407ba96831d9db660ca05372271e8eda.

[2019-07-03 18:06] stoermelder opened #11 "STRIP - add undo-actions"
See title. Original code for copy/paste/load/save contained history actions that were removed.

[2019-07-03 20:45] stoermelder commented on #8
Added in 5d2b2f73314007b2a97f31912c241755acbe81eb.

[2019-07-03 20:45] #8 closed, assigned to stoermelder

[2019-07-04 20:49] stoermelder opened #12 "ReMOVE - add undo-actions"
See title.

[2019-07-04 21:11] stoermelder commented on #6
Added in 3e20e541935b112c68c4f89858707cd3c27d04ac and will be available in v1.0.4 of PackOne.

[2019-07-04 21:11] #6 closed, assigned to stoermelder

[2019-07-04 21:49] stoermelder opened #13 "ReMOVE - add randomize-fuction"
Generate a random number of random graphs when the module is randomized.

[2019-07-05 17:20] stoermelder opened #14 "ReMOVE - add optional slew between on jumps between start and end or sequences"

[2019-07-07 14:17] stoermelder commented on #5
I‘m not sure if I understand correctly.
Can’t you use the normal MIDI-CC module  in combination with CV-MAP? This way you have CV and the knob is controlled by MIDI.

[2019-07-07 19:15] stoermelder commented on #13
Implemented in dcbaa284fcfc2084749226f425d6370525811bb1.

[2019-07-07 19:15] #13 closed, assigned to stoermelder

[2019-07-07 20:26] stoermelder commented on #12
Implemented in f8c4955d8d2f7b6b383e92c3c042adc2a767e9f4.

[2019-07-07 20:26] #12 closed, assigned to stoermelder

[2019-07-07 20:27] stoermelder opened #15 "Dark Theme"

[2019-07-08 00:01] Eurikon commented on #15
Yes please!
I already use it here, in my own edited svg,
but will be great if you make it built-in just as Submarine did? :)

![stoermelder-dark](https://user-images.githubusercontent.com/40998416/60775494-1ed9de00-a124-11e9-83c4-3c496c8560fe.jpg)

cheers!

[2019-07-08 00:03] Eurikon opened #16 "Strip: not loading preset when mode is "right-side""
windows 10
module version: 1.0.4

When i set the mode button to the "right-side", no preset will be loaded.

[2019-07-08 03:21] stoermelder commented on #16
Hi Latif, can provide more information? I've checked it and I see no problem right now.
Does the preset you are loading have a "right-side"? It may seem that the modules does nothing when loading a preset that was saved in "left-side" or when the right-side was simply empty.

[2019-07-08 08:51] Eurikon commented on #16
Ben! totally my bad:)
I did not fully understand the mode button i guess!
Now i do, thanks for pointing it out, everything works fine as it is.

----
On a side note: did you see the message about uMap i sent in the forum,
or should i open an issue for it here on Github?

[2019-07-08 18:18] Stubs42 opened #17 "STRIP - add cut & paste"
add Cut & Paste of strips.
Would be nice to be able to move a strip without loosing the cabelling.
Great for reorganizing and refactoring patch.
Thumbs up for this piece of software.

[2019-07-08 19:28] baconpaul opened #18 "STRIP - Thought: take you to Library for unresolved Slugs"
Strip is super clever. Thank you for writing it.

I was thinking: if someone gives me a strip which uses a plugin I don’t have in my library (or if I give people a strip which uses a library they don’t have) right now you just kinda skip that module gracefully.  But in your moduleFromJson code you do return NULL if you can’t load the plugin and at that point you know the slug name.

Have you consi

[2019-07-08 19:39] baconpaul opened #19 "STRIP - Thought: look for strip presets in plugins in a standard spot"
So I have a couple of sets of plugins I’ve written. Cool. Let’s say, with the next release of surge-for-rack, I include something like “res/strips/“ which contains directories like “FX/Blah” and “Voices/Blah/SingleOSC.vscc” or some such. That is, I make a set of strip presets which I ship with my module.

You could easily have strip scan the `pluginDir/*/res/Strip` by convention and then use that

[2019-07-08 21:12] stoermelder commented on #16
Hi Latif, no problem. I'm glad everything is working fine now :-)
Yes, I did receive your message. I will look into it… I'm a bit behind my messages, lots going on in the last days...

[2019-07-08 21:12] #16 closed, assigned to stoermelder

[2019-07-08 21:25] stoermelder commented on #18
Hi Paul,
right now a very similiar popup comes up as when opening a patch with missing plugins. It tells you which module from which slug is missing.
I'm not sure if it's a good idea to do "my own thing" here. I'd rather jump on what Rack is doing in the future when modules are missing in patches instead of inventing something right now.
Thinking about it, I got an idea: I could add a dummy blank

[2019-07-08 21:32] stoermelder commented on #19
Hi Paul,
I tought about how to provide an easy way to access strip-files too, but I postponed it to a later version. I rather have people playing around with the module right now instead of working on it for weeks :-)
I have to say I like the idea of building a submenu and scanning for files. I will definitively look into it!

[2019-07-08 22:02] stoermelder commented on #17
Implemented in 894bd2474a83007f7d674bf681dfcf273c576abe.

[2019-07-08 22:02] #17 closed, assigned to stoermelder

[2019-07-09 00:26] baconpaul commented on #18
Yeah that’s a way better idea

[2019-07-09 00:35] baconpaul opened #20 "Strip - input output mapping through dummies"
One more idea. And again I don’t mind if you reject and close these of course. And this is the last one!

Strip is basically making a sub program in rack. In most modern languages subprograms have input and output parameters. In strip this would be expressed as unbound inputs and outputs in the generated modules

But - and work with me here - imagine if strip or another module in your family was b

[2019-07-09 17:51] stoermelder commented on #20
Hi Pual, yes makes sense to me. Sounds like a interesting idea. Have you another module in mind that provides these patchpoints? I looked trough Rack's module browser and found nothing actually that could be used as patchpoints in a meaningful way…

[2019-07-09 20:35] baconpaul commented on #20
No I didn’t. I thought about writing one (I mean it is not a *hard* module  write) so i could do this but thought instead perhaps you would like to bundle it with strip.

I could also imagine the Strip module having two widgets for itself; one the narrow strip you have now and the other wider with the patch points in it then just put this functionality into the strip module itself.

(What I’m real

[2019-07-09 20:52] stoermelder commented on #20
I think it's better to do a separate module. First, you can scale how many patchpoints you want, just add another patchpoint-module. Second, I can image that someone wants to have "inputs" as the most left module and "outputs" on the most right module, when building an effect. Or at some significant position in the middle the strip.
Thinking one step further, some sort of macro-knobs could be usef

[2019-07-09 21:34] baconpaul commented on #20
yeah right - like what's the control surface for your patch basically. So inputs have a knob and an input which echos; and outputs are echo only or maybe e echo and a gain.

[2019-07-09 21:56] stoermelder commented on #20
A quick sketch, nothing finished yet...
![Anmerkung 2019-07-09 235550](https://user-images.githubusercontent.com/47640667/60925887-32608280-a2a5-11e9-8e94-72fd48596e84.jpg)

[2019-07-13 09:51] stoermelder commented on #14
Trimpod needed, but not clear where to place on the panel.

[2019-07-13 17:31] stoermelder opened #21 "STRIP - add option to handle just some modules"
As suggested by @vcvrackideas. Possible implementations:
- special module for blocking
- context menu option to configure the number of modules, maybe just two Options 1/all

[2019-07-14 18:14] stoermelder opened #22 "STRIP - exclude some parameters from randomization"
Suggested by an user:
[code]

[2019-07-14 19:28] stoermelder opened #23 "GOTO"
New module. Just as reminder, more details will follow later.

[2019-07-14 19:29] stoermelder opened #24 "HISTORY"
New module. Just as reminder, more details will follow later.

[2019-07-15 19:09] Coirt commented on #23
#23

[2019-07-17 16:31] ContemporaryInsanity commented on #22
You can do this now.  If you use CV-MAP to map a voltage to a control (or controls) STRIP will not randomise them.

[2019-07-17 19:09] stoermelder opened #25 "OB/SCENE"
New module, details will be revealed later.

[2019-07-17 19:10] stoermelder commented on #22
I know, I proposed this trick myself 👍

[2019-07-17 19:13] stoermelder commented on #5
I guess this is what the upcoming MIDI-CAT module (working title) does.

[2019-07-17 19:13] #5 closed, assigned to stoermelder

[2019-07-17 19:24] Coirt commented on #22
You used to be able to hold down a parameter with the mouse in previous versions of Rack and press CTRL+R, the held parameter would stay hidden from Randomise, very useful bug. Nice to know Mappings exclude! Will definitely use that trick.

[2019-07-17 21:05] stoermelder commented on #21
After thinking about it for a few days I tend to adding a simple module for blocking. Something like Submarine TD-202.

[2019-07-17 22:18] stoermelder commented on #22
Implemented in e334684878311772e6efadccf3234a3de095a9a5.
Short press button EX, LED turns red: learn excluded parameter.
Long press button EX: clear all excluded parameters.
LED green: At least one parameter is exlcuded.
Manual update is pending.

[2019-07-19 20:44] stoermelder opened #26 "Modules for Korg Volca"
Specialiced modules for midi-out to Korg Volcas, directly providing ports for the (few) available midi cc commands.

[2019-07-19 22:48] stoermelder commented on #22
Completed with 21cb54066f75a9533fc49d57277405662b5bb6a5.

[2019-07-20 15:22] Eurikon opened #27 "8FACE - slot start incorrect"
Hi there Ben,

when i give 8Face a clock (Clocked Impromptu), and set 8Face to "seq trigger"
on pressing run from Clocked, 8Face will always jump to 2nd position and start from there.
This is not desired.

And when i set 8Face to "Clock" and give it clock from Clocked Impromptu, 8Face does not respond. Is that normal?

[2019-07-20 15:31] Coirt commented on #27
Well it is on the first pattern already so I'd say this is normal behaviour. One way to work around it might be to set 8Face to the last preset when you feed it a clock.

Clocks / triggers usually or should respond to between 1-2v [(manual)](https://vcvrack.com/manual/VoltageStandards.html#triggers-and-gates) clocked spits out 10 volts.

[2019-07-20 15:34] stoermelder commented on #27
Hi Latif!
First issue: there was a problem with early versions of 8FACE, but I can't reproduce this behaviour with the released version. Are you sure you are using the version from the library? If yes, can you provide a patch and I'll check whats going on.

Second issue: yes, this is how it is supposed to work. In clock-mode a manual button press is delayed until the next clock trigger, so preset

[2019-07-20 15:46] Eurikon commented on #27
Thanks Ben, i just realized this about 30 seconds ago, while fiddling with it.
This is like an "arm/quantized" function, ok got it! :)

I will send you a patch about the first issue, but first i will make sure that it is what i am experiencing.

[2019-07-20 15:54] Eurikon commented on #27
Ok i made sure that it is what i am experiencing.
I will send you the patch in community forum inbox.
Simply press start on Clocked, and 8Face will instantly jump to 2nd slot and start from there :)

[2019-07-20 16:09] stoermelder commented on #27
Hm, I see what you mean. I checked SEQ-3 and it behaves the same... I'm not sure...

[2019-07-20 16:16] Eurikon commented on #27
ok, take your time.
For now i found that if i keep the "output reset high when not running" ,
8Face operates how i want it.
But that option in the Clock is not always preferred, as it will also send the same state to other parts in the patch where i don't want it.
Anyway maybe it can hint you in the right direction. :)

[2019-07-21 08:19] stoermelder commented on #27
What I meant was that I'm not sure if there is a problem. The option "output reset high when not running" is enabled by default on Clocked and I checked several sequencers and all behave this way when disabling this option. What is the reason you want to disable it?

[2019-07-21 10:29] Eurikon commented on #27
I can't remember exactly what problem it was causing for me, cause it has been changed for a while now by Marc.
But i do remember that when it got introduced i had some patches with fx in it go crazy, so i defaulted to disabling it since i didn't need that state anyway.

That state was introduced for a request from users, for sequencers to stop and retain at the position where they stopped.
And fo

[2019-07-21 17:24] stoermelder commented on #27
Ok, I close this issue for now. Please feel free to add a comment and I reopen if necsessary!

[2019-07-21 17:24] #27 closed, assigned to stoermelder

[2019-07-21 17:43] stoermelder opened #28 "HEXASEQ"
Sequencer with multiple lanes constructed out of hexagon cells allowing transitions between the lanes.

[2019-07-22 15:24] Chaircrusher opened #29 "8Face controlling 8Face"
Obviously an infinite regress of 8Face is a chance for exponential explosion but...

I experimented with an 8Face taking snapshots of an 8 face, which in a perfect world, would be a 64Face (8 snapshots of 8 snapshots of the adjacent module).

It doesn't seem to work, at least when I played with it controlling a Skylights Alan Turing sequencer.

It seems like the leftmost 8Face doesn't change prese

[2019-07-22 15:36] stoermelder commented on #29
Hi Kent,
yes, that's right, 8FACE does not apply presets on loading, because you could have made manual changes on the controlled module and I don't want overwrite them without asking. I could add an option "Apply preset on load", but which preset should be loaded? The first slot?

[2019-07-22 16:29] Chaircrusher commented on #29
I see the issue, so yeah propogating through preset changes might be a terrible idea.

My simplest possible patch to verify 8face controlling 8face appears to work, with the Specific Value module. Patch [attached.](url
[8face-FMVoices.vcv.zip](https://github.com/stoermelder/vcvrack-packone/files/3418331/8face-FMVoices.vcv.zip)

)

Changing presets in Skylights Turing Machine might not really be as

[2019-07-22 17:39] stoermelder commented on #29
Yes, using Turing Machine is not the best module the verify it's working as expected :-) I used VCV 8vert as controlled module and it seems ok, 8FACE storing presets of 8FACE.
Is it ok then or do you think an option for "autoloading" presets could be useful?

[2019-07-22 18:30] Chaircrusher commented on #29
I think it's a good idea as an option but probably not as a default behavior.

[2019-07-22 19:18] stoermelder commented on #22
I reopen this issue because I'm reverting the implementation. I'm very unhappy how I've done it and the ugly workarounds I needed to get it work.
I will think about it and hopefully find an elegant solution at a later point.

[2019-07-23 21:06] FMTolstoevsky commented on #22
Please don't frighten me, Ben! I sincerely hope that you will preserve that wonderful feature in your future releases. For me it works very good so far ;)

[2019-07-23 21:19] stoermelder commented on #22
I think this feature is indeed useful and it will come back, just my implementation sucked.
It worked nicely most of the time, but changing the modules of a strip with excluded parameters caused some problems. I was able to work around them with even worse code.
I have to think a bit longer over it to find a solution  that not only works but will be maintainable in future versions of the module,

[2019-07-24 21:26] midiguru opened #30 "8face with JW NoteSeq"
I'm reporting this both to you and to JW Modules, as I have no way of knowing where the problem lies. When 8face recalls the data in NoteSeq, certain of the recalled notes are _displayed_ correctly, but they don't reach the _playback_ mechanism. Re-editing and re-storing the notes will start to correct the problem, if new notes are entered, but the fix is quirky, as this video illustrates.

The mi

[2019-07-24 21:41] stoermelder commented on #30
Please check if loading presets manually works as expected.

[2019-07-24 21:59] midiguru commented on #30
When I click on the buttons in 8face, I get the same result. Some notes fail to load for playback, even though they're displayed in the grid.

[2019-07-24 22:03] Coirt opened #31 "Rack crash CV-MAP / PAM"
Windows 7, Rack 1.1.3

When Map / Pam is in mapping mode and the module is deleted with `backspace` rack crashes.

To reproduce enter mapping mode on any slot and hit backspace.

Crash does not occur when the deleting through the context menu. Probably because of the focus of "mapping..." when left mouse button is pressed.
_Core CV-MAP does not crash._

stack trace:
[code]

[2019-07-24 22:05] stoermelder commented on #30
I meant does it work when you use NoteSeq's context menu for saving and loading presets? 8FACE is doing essential the same, so it is likely it won't work either.

[2019-07-24 22:06] Coirt commented on #31
Here is the `make debug` seg fault:
[code]

[2019-07-24 22:11] midiguru commented on #30
Yes. That answers the question, I think. NoteSeq isn't storing its own preset data correctly. I'll follow up with JW.

[2019-07-24 22:54] stoermelder commented on #31
Thanks, fixed in 7c5abbaaa2b299ce049ff427711e93a07a6b4c81.
Some strange template-thing.

[2019-07-24 22:54] #31 closed, assigned to stoermelder

[2019-07-24 22:58] stoermelder commented on #22
Back again in 377671d.
Works now nicely with proper thread-handling.

[2019-07-24 22:58] #22 closed, assigned to stoermelder

[2019-07-25 02:13] FMTolstoevsky commented on #22
Very excited to read this :) Will check new beta soon

[2019-07-27 08:32] stoermelder commented on #30
Fixed in https://github.com/jeremywen/JW-Modules/commit/cf8ead980b3e44413633a4aad9ade9e4a2b8d242.

[2019-07-27 08:32] #30 closed, assigned to stoermelder

[2019-07-27 13:28] dheles opened #32 "Add MIDI tag to MIDI-CAT"
Testing out your very useful MIDI-CAT module from the current nightly build, I noticed it doesn't yet have the MIDI tag, so it doesn't show up in the plugin browser when I'm filtering for them.

[2019-07-27 16:32] stoermelder commented on #32
Please be aware that this module is not finished yet.

[2019-07-29 17:22] ContemporaryInsanity opened #33 "MIDI-CAT - toggle mode and momentary mode for mapped notes"
Having mapped a note to a switch / button, have right click menu option for toggle or momentary.  Perhaps also a step mode for three way+ switches.

[2019-07-31 12:00] Coirt opened #34 "Request for module: CV recorder"
I thought there was a way to record CV with remove maybe it was just when I tried it in beta or I'm mistaken. But anyway...

Input CV signals and record what is played. Accept a clock signal to get timing and set recording to  #pulses to record the CV signal, playback then plays based on the clock signal, number of pulse and time (samples) of recording. Changing clock speeds will keep the recorded

[2019-07-31 12:17] stoermelder commented on #34
ReMOVE Lite can record incoming CV instead of parameter automation, just use the IN-port.
If you need really high accuary it's maybe easier to use any sampler in Rack which can record. Something like Simpliciter by NYSTHI.

[2019-07-31 12:31] Coirt commented on #34
Ah okay I remember now it has to be mapped to record!

[2019-07-31 12:31] #34 closed, assigned to nobody

[2019-07-31 17:44] ContemporaryInsanity opened #35 "STRIP - allow "inclusion" mode instead of parameter exclusion"
A menu option to switch between randomisation exclude and include, would make it much easier to set just a few controls for randomisation on modules with dozens of controls.

I cannot overstate how much I appreciate your work, truly exceptional stuff.

[2019-08-01 04:31] stoermelder opened #36 "MIDI-CAT - „Locate and indicate“ triggered by midi input"
Jump to mapped parameter on incoming midi message.
Inspired by https://github.com/VCVRack/Rack/issues/1513.

[2019-08-01 06:18] stoermelder opened #37 "MIDI-CAT - pickup-mode for mapped CCs"
https://github.com/VCVRack/Rack/issues/1424

[2019-08-01 17:37] #36 closed, assigned to stoermelder

[2019-08-01 18:50] stoermelder commented on #33
Toggle mode added, increment mode not. Maybe in later update.

[2019-08-01 18:50] #33 closed, assigned to stoermelder

[2019-08-01 19:25] matthieuroche commented on #36
Hi Ben,

I am glad that you found the enhancement I raised interesting :) Does it mean that I can compile the current version of PackOne ad test the feature?

Thanks in advance!

Best
Matthieu

[2019-08-01 20:03] stoermelder commented on #37
@MaZe6K Please check if it's working nicely for you. I'm not quite sure.

[2019-08-01 20:08] stoermelder commented on #36
Hi Matthieu, yes, you can compile it yourself or you can download an automatic build from the latest commit here:
https://github.com/stoermelder/vcvrack-packone/releases/tag/Nightly
Please be aware, the module is not yet released and future builds could be incompatible.

[2019-08-01 20:13] stoermelder commented on #36
Some quick instructions how this works:
The module can switch between normal operating mode and "locate and indicate" mode on the context menu. When activating the last, any midi message for a mapped parameter will be discarded, instead the mapping indicator of the parameter will blink for a few seconds and module is centered on the screen.

[2019-08-01 20:31] matthieuroche commented on #36
Hi Ben,

this is very handy! Is the fact that MIDI Messages are killed in locate
mode a necessary step?

An idea that I had in mind when submitting the request on Github was that
maybe the tooltip that shows up when you approach the mouse (for example)
could show up when the knob receives a MIDI message, maybe with a
background color that would make it easy to see.

Thanks again for working this o

[2019-08-01 20:32] stoermelder commented on #32
Fixed in b52912d7dc25dc9b4d42e2330970a20af0315172.

[2019-08-01 20:32] #32 closed, assigned to stoermelder

[2019-08-02 19:28] MaZe6K commented on #37
It doesn't seem to work yet, when activating "Locate and indicate" it seems to react the same way as "Operating." If I move a midi knob that is at a different position than the controlled knob on the module, it causes it to jump to that position. It should do nothing until the midi knob reaches the same position as the knob on the module and then go on from there.
I would recommend to call the two

[2019-08-02 19:32] MaZe6K commented on #37
I just found a small bug: The channel filter does not seem to work, I have channel 1 selected, but it also reacts to the same CC's on all other channels of the same device.

[2019-08-02 19:34] stoermelder commented on #37
Please click on a specific slot with mapped cc. There you'll find a "Pickup" mode on the context menu.

[2019-08-02 19:41] MaZe6K commented on #37
oh... sorry... I was on the wrong module altogether... :D now I see what Locate and indicate is... But pick up mode still doesn't seem to work.

[2019-08-02 19:48] stoermelder commented on #36
mode a necessary step?

No, it isn't. I thought it would be good to be able to play around without changing any parameter. But I can change that. What do you think?

[2019-08-02 19:50] stoermelder commented on #37
Did you enable "pickup" mode on the slot you're testing with?

[2019-08-02 19:53] MaZe6K commented on #37
yes, and I was really making sure this time, tested several times and even deleted the module and loaded a new instance and mapped and activated pickup mode again... the knobs still react to a new position immediately.

[2019-08-02 20:00] stoermelder commented on #37
I have a report from another user saying "it's working great", so it must be something specific on your combination of devies. What midi controller are you using? Can you supply a patch file?

[2019-08-02 20:08] MaZe6K commented on #37
I use a novation Launch Control XL. I have several user mappings on it and can switch the mapping. So I switch to a different preset, move the knob (it sends a different CC now), then switch back to the first preset and move the knob and it jumps immediately.
BUT now I just discovered that if I close Rack, move the knob, then start up Rack again, it works (but only the first time, switching preset

[2019-08-02 20:28] MaZe6K commented on #37
I guess you just didn't expect my use case of having a knob change position without sending the mapped CC while the patch is running. Sorry for complicating things :)

[2019-08-02 20:29] stoermelder commented on #37
Ah ok, I understand now. Then it behaves how designed this feature at the moment: once "picked up" by the controller it will follow all controls, even when jumping around. I thought this is a good idea for digital controllers (I tested it on the touch faders of a Maschine Jam).
Maybe I can add another mode which picks up on every jump.

[2019-08-02 20:41] MaZe6K commented on #37
That would be great, then I could map 100's of controls and jam around without having to fear sudden jumps :)

[2019-08-02 20:47] MaZe6K commented on #37
One more note: When moving the mapped knob with the mouse and then again moving the knob on the controller, pick up mode also works nice so far.

[2019-08-03 07:20] stoermelder commented on #37
I added a second mode, but it is dependent how precise the midi controller works: I have to draw a line between "control jumps to a different position" and "control is moving really fast". I decided to draw this line at about +/-10% difference to the last reported position.
So, moving a knob or fader really fast will "lose" the mapped parameter.

[2019-08-03 08:39] #35 closed, assigned to stoermelder

[2019-08-03 09:26] stoermelder opened #38 "STRIP - forbid AUDIO-8 or AUDIO-16 in a strip"

[2019-08-03 09:39] MaZe6K commented on #37
Nice! Thank You! Works like a charm! I couldn't move the faders fast enough to loose it, seems to work perfect this way. (edit: I can move the faders fast enough, but I wouldn't reach this speed during jamming around with it :) )
I would however prefer a global option for the whole module, could become a lot of searching and clicking this way...

[2019-08-03 18:30] stoermelder commented on #37
I don't want an additional option, but I added in ac308316ed1a14e99cafcd711f6b7d7b7a1c5783 that learning a mapping will use the same mode as the previous slot. So, learn the first slot, change "pickup"-mode, then learn all other slots.

I'm closing this because I think the two pickup modes are working good enough for now.

[2019-08-03 18:30] #37 closed, assigned to stoermelder

[2019-08-03 19:01] ContemporaryInsanity opened #39 "8FACE does not reliably switch MIDI-CAT mappings."
Works fine sometimes, other times it misses out mappings.  Easy to recreate, just save two states of MIDI-CAT to 8FACE and switch a few times.  VCV MIDI-MAP works reliably.

[2019-08-03 19:10] stoermelder commented on #39
Did you try the latest build? I did some changes on this today.

[2019-08-03 19:14] stoermelder commented on #38
Rejected, users should make sane decision on modules wihin a strip.

[2019-08-03 19:14] #38 closed, assigned to stoermelder

[2019-08-03 19:28] ContemporaryInsanity commented on #39
I was on the last one I grabbed this morning.  New one seems ok.

[2019-08-03 19:30] #39 closed, assigned to nobody

[2019-08-03 20:49] stoermelder commented on #29
Added an Option to autoload the first preset slot on load. Should be enough for now.
Feel free to comment on this and I reopen if necessary.

[2019-08-03 20:49] #29 closed, assigned to stoermelder

[2019-08-04 14:39] matthieuroche commented on #36
Hi Ben,

Maybe there is a way in-between. I am not à développer so my description
may be unclear. Is it  feasible to buffer the first few milliseconds during
which the knob is turned, focus the parameter that is under control, and
start sending data?

Also, as I suggested in my previous email, do you think that tooltips could
be displayed on knob movement? It may be more usable than module focus.

[2019-08-06 22:28] pgatt opened #40 "Feature Request: patch switching"
Hi Ben, I thought of an idea for a module and I thought VCV’s resident wizard might be the person to ask if it’s possible.

What if we had a module that took two triggers in - one to close the current patch with saving, one to close without saving, and then a file selection input to select the patch you want to open after closing the current one.

The reason I ask is that I would like to sequentia

[2019-08-07 05:42] stoermelder commented on #40
Hm, are you aware that loading a new patch would also unload the module itself?

[2019-08-07 11:31] pgatt commented on #40
Yes but what would stop me from having another instance of the module in the next patch with a different file chosen but with the same midi input making the trigger happen. A bit Patch-ception I know.

[2019-08-07 11:32] pgatt commented on #40
By the way totally understand if it’s too crazy or wouldn’t work or is not in line with your pack.

[2019-08-07 11:43] stoermelder commented on #40
I will check if it possible. A crazy idea indeed :-)
One question about the workflow: Is the next file pre-selected and stored within the parch and loading is delayed until a trigger is received?

[2019-08-07 11:51] pgatt commented on #40
My thoughts of how it could work was the module would be saved with a link to the patch file that would be the next in the sequence but it would wait until it received a gate to close the current patch either with or without saving and then launch the new one.

[2019-08-08 09:23] stoermelder commented on #40
I investigated Rack's code yesterday and it should be possible without much effort, I estimate 4 hours of work to create a panel, write necessary code and test it.
May be called EXIT.

[2019-08-08 09:25] pgatt commented on #40
That is so awesome! Thanks Ben! What about “stage left” for a name?

[2019-08-08 09:27] pgatt commented on #40
https://youtu.be/Q3-a4qWCtIg

[2019-08-09 00:36] zeronoises opened #41 "STRIP - add option to set default save directory"
Strip by default wants to save in the program directory on my Linux box. Unfortunately, I keep Rack itself in the /opt directory - which of course needs root access.
It's slightly tedious having to navigate to the user dir (which I keep on my home partition) - could Strip not make a note of my preference?

[2019-08-09 18:25] MaZe6K opened #42 "MIDI-CAT filter in newest nightly build not good for pick up mode"
Hi there!

I just downloaded the latest nightly build and wanted to tell you that it makes MIDI-CAT with pick up mode 2 pretty much unusable. I assume this is the new filtering that I read about?
With the last build I used, it worked really great, with the newest one I can not make fast enough movements without loosing the control.
Fortunately I have a backup of the previous version which I will u

[2019-08-09 19:10] stoermelder commented on #42
Thanks, I reverted the filtering for now.

[2019-08-09 19:10] #42 closed, assigned to nobody

[2019-08-11 19:57] Eurikon opened #43 "8Face: pingpong not working as expected"
Hi Ben!

ping pong is not working, it is not proceeding to next step.
it stays halted at the first slot.

The other modes work perfectly.

[2019-08-11 20:05] stoermelder commented on #43
Thanks for reporting, but I can't reproduce. Please provide a example patch.

[2019-08-12 16:35] Eurikon commented on #43
ok , will send it

[2019-08-12 16:41] Eurikon commented on #43
Hmmm, i could not reproduce it :-x
Sorry to have wasted your time mate.
Anyway if it happens again in the future, i will document it better before opening an issue.

[2019-08-12 19:44] stoermelder commented on #43
No problem, do not hesitate to respond here or open another issue if you discover something strange.

[2019-08-12 19:44] #43 closed, assigned to nobody

[2019-08-15 09:48] ContemporaryInsanity opened #44 "STRIP / ZZC Phaseque crash"
Attempting to select ZZC Phaseque voltage knobs for inclusion in STRIP randomisation crashes rack.

[117.876 fatal src/main.cpp:38] Fatal signal 11. Stack trace:
8: ./Rack() [0x56d951]
7: /lib/x86_64-linux-gnu/libc.so.6(+0x3ef20) [0x7fdf7cfeef20]
6: /home/ewen/.Rack/plugins-v1/Stoermelder-P1/plugin.so(_ZN5Strip13ExcludeButton10onDeselectERKN4rack5event8DeselectE+0x10c) [0x7fdf5474353c]
5: ./Rack(_

[2019-08-15 11:58] zezic opened #45 "Missing WhiteLight dependency"
Can't compile because of missing WhiteLight:
[code]

[2019-08-15 12:13] stoermelder commented on #45
WhiteLight is included in Rack SDK 1.1.3.

[2019-08-15 12:16] zezic commented on #45
Ah, thank you! My bad.

[2019-08-15 12:16] #45 closed, assigned to nobody

[2019-08-15 12:31] zezic commented on #44
Thanks for reporting, @ContemporaryInsanity.

@stoermelder, this is because some of `ParamWidget`'s of ZZC Phaseque have no `->paramQuantity` initialized. They have X/Y displays and actually they have two separate `ParamQuantity` instances at `->paramQuantityX` and `->paramQuantityY`.
So the solution here is to check if `ParamWidget` has its `->paramQuantity` initialized before accessing the `para

[2019-08-15 18:35] Eurikon opened #46 "uMap - add option to invert on OUT"
Hi Ben, could you please add a invert toggle switch for the output at the bottom of the module?
This way i can invert the signal that is passed out, to control a second uMap that will do the exact same thing to a different parameter but then inverted :)

[2019-08-16 05:59] stoermelder commented on #44
@zezic Thanks for investigating this issue! I can fix that, but are you aware that an uninitialized `ParamQuantity` prevents from using such things as MIDI-mapping? I haven't bought Phaseque yet, so I can't check...

[2019-08-16 06:01] stoermelder commented on #46
Hi Latif, you mean outputting -3.5V instead of 3.5V, for example? Yes, I can add that.

[2019-08-16 06:04] stoermelder opened #47 "ReMOVE Lite - add option for EOC on OUT"
https://community.vcvrack.com/t/stoermelder-remove-trigger-eoc/

[2019-08-16 08:29] ContemporaryInsanity commented on #44
I can confirm that midi mapping does not work with Phaseque.

[2019-08-16 10:47] Eurikon commented on #46
Yes please :)
thanks!

[2019-08-20 17:26] ContemporaryInsanity opened #48 "ReMOVE pass through request"
I note that a request to route 'in' to 'out' while recording has been addressed, would it also be possible to route 'in' to whatever the module is mapped to?

For context, I attempted to use MIDI mapped Vult Knobs into ReMOVE 'in' to record movements from a hardware controller, which works fine, but I don't get to hear the result while recording, only on playback.

I may of course be going about t

[2019-08-30 12:08] Eurikon opened #49 "Audio 64 - multi devices?"
Hi Ben just a thougth.
Is it technically possible to create 2 device windows in the module, that will allow to select any of the audio devices found on the machine.
And then let the user assign those devices to any of the unassigned connections.
Or in groups, say if device one offers 16 channels, the module then will automatically occupy the first 16 connections, leaving the others unassigned for

[2019-09-10 10:26] Eurikon commented on #49
I just realize that VCV can only use one audio device at a time even if 2 were available in it.
Since it audio engine uses one device to sync to it, or something like that right?

[2019-09-10 11:09] stoermelder commented on #49
Hi Latif,
to be honest, I didn't dig that deep in Rack's Audio engine yet. I guess you might be right, but I don't know how Rack's engine syncs to the interface excatly.
I added Audio-64 just because I wanted to use it myself and because it was a really easy task (just needed to change the number of ports and creating a panel).

[2019-09-10 11:12] stoermelder commented on #48
That sounds more than a bug instead of expected behaviour. I will look into it.

[2019-09-15 19:14] Eurikon opened #50 "8FACE - placement on the left of module"
Is there any chance that 8Face could have an option to be placed at the left side of the module it will be controlling?
Some modules have an expander on the right side, and therefor 8Face can not "reach" the main module to be controlled.

[2019-09-27 22:19] stoermelder commented on #50
Added. Thanks for the suggestion, Latif!

[2019-09-27 22:19] #50 closed, assigned to stoermelder

[2019-09-27 22:22] Eurikon commented on #50
Wow seriously? @-@ that is fantastic news!! Thanks Ben!!

[2019-09-28 18:08] #48 closed, assigned to stoermelder

[2019-09-28 19:14] #47 closed, assigned to stoermelder

[2019-09-28 19:16] #46 closed, assigned to stoermelder

[2019-10-02 15:18] diimdeep opened #52 "Module idea: Patch loader replacing missing modules with dummy ones"
Opening .vcv patch with missing modules in library presents challenge to figure out lost wire connections and repatch with existing modules.
Missing modules could be replaced with dynamic dummy modules preserving in/out cables.

AFAIK strip is basically patch loader and this should be trivial to implement.

[2019-10-09 13:27] technochitlin opened #53 "Strip- keep original cable colors of patch"
Currently Strip seems to assign cable colors randomly when loading a patch- is there any way that the original cable colors could be kept?

Before saving-
![image](https://user-images.githubusercontent.com/737753/66485622-c0980080-ea6e-11e9-8bb0-c2e8522a7638.png)

After re-loading-
![image](https://user-images.githubusercontent.com/737753/66485551-a3633200-ea6e-11e9-9803-a21dfbe443ae.png)

[2019-10-09 13:38] technochitlin commented on #53
Oops... I just discovered this only happens when the WM-101 Submarine Wire Manager is loaded. Otherwise load fine. My error, sorry...

[2019-10-10 05:25] stoermelder commented on #53
Yes, STRIP saves and recalls cable coloring. Glad you sorted it out!

[2019-10-10 05:25] #53 closed, assigned to nobody

[2019-10-10 10:51] pgatt commented on #40
Is there any update on this Ben?

[2019-10-10 12:27] technochitlin commented on #53
I realize you closed this, but I just want to add- if you SAVE while the WM-101 module is loaded, it will save ALL the colored cables, not just the 'standard 4'; if you load a preset with the WM-101 loaded you get the randomized colors, but if you load the preset with WM-101 unloaded ALL the colors you saved- even the non-standard ones- are recalled.

[2019-10-10 12:33] stoermelder commented on #53
I’m not sure what I should do. Sounds to me like expected behavior...

[2019-10-12 23:41] stoermelder commented on #40
I added module EXIT in the latest commit, but I'm not conviced I'm going to keep it.
I had many crashes due to synchronization with Rack's engine while debugging. These crashes doesn't seem to appear in the release version of Rack. Feel free to test it and let me know if it works reliable for you.

[2019-10-13 01:37] pgatt commented on #40
No it crashes here too. That’s a shame, still love the idea of it.

[2019-10-13 01:39] pgatt commented on #40
Log file if it helps.

https://www.dropbox.com/s/hdz5lbrvh193c1x/log%202.txt?dl=0

[2019-10-13 07:06] stoermelder commented on #40
It is quite easy to initiate the loading of another patch but I hadn’t considered how crucial the right timing would be.
The problem is that Rack‘s engine thread is right in the middle of processing an audio frame when loading is triggered from a module and the engine does not like that. Same problem when loading from the GUI thread.
The right moment would be between two frames on the GUI thread b

[2019-10-13 07:24] stoermelder commented on #52
There is another issue suggesting this function for STRIP. I can’t do anything for loading patches in general as errors and missing modules are handled from Rack itself.
I can definitely replace a missing module with a dummy module, the harder part is to figure out what to do with cable connections as there is no port information available if the module is missing. The only option is to store some

[2019-10-13 07:28] stoermelder commented on #52
Also, a module provides no information on ports through the API in Rack v1 except for an integer index.
This will change if https://github.com/VCVRack/Rack/issues/1457 is added in a future version of Rack.

[2019-10-17 19:06] stoermelder commented on #40
I'm sorry to say but I have to drop this idea.
The only way I can think of getting this stable would be by hacking into a component of the menubar which is rendered out of the context of the modules and widget. I really don't want to do this.

[2019-10-17 19:06] #40 closed, assigned to stoermelder

[2019-10-17 19:13] stoermelder commented on #52
I close this one:
About STRIP to handle missing modules there is already #18. About a module for general patch loading: It is not possible, I investigated this for #40 without any success.

[2019-10-17 19:13] #52 closed, assigned to stoermelder

[2019-10-17 21:44] stoermelder commented on #41
Dialogs open now in the `patches`-folder of the Rack-userdir.

[2019-10-17 21:44] #41 closed, assigned to stoermelder

[2019-10-18 00:01] pgatt commented on #40
Hi Ben,

That's a shame but thanks so much for trying to make it work.

[2019-10-18 08:03] zeronoises commented on #41
Thank you!

[2019-10-20 11:40] stoermelder commented on #15
Currently all module panels are cleaned up to follow a common theme across all three plugins. Additionally a dark theme will be added in the next version 1.3.0.

[2019-10-20 11:42] stoermelder opened #54 "ARENA"
XY-pad like Orbiter in Sugar Bytes' Aparillo synth.

[2019-10-20 13:07] stoermelder commented on #54
This is going to be a huge module with lot of controls:
- 8 inputs
- x/y control by CV with attenuation CV for each input
- 8 recording slots for x/y for each input, selectable by CV
- 2 outputs with x/y control by CV

[2019-10-20 16:07] diimdeep opened #55 "Module idea: Remote control"
Like CV-MAP but in grid layout and instead of external signal show knob for each mapped parameter.
Inspired by Bitwig Remote Control

![Screenshot 2019-10-20 at 19 01 26](https://user-images.githubusercontent.com/485713/67162458-cb0aa200-f36c-11e9-92f6-30ec4e1018de.png)

[2019-10-20 16:20] stoermelder commented on #55
Sounds interesting. I'm no Bitwig user but I have an 8-track licence.

[2019-10-21 19:53] submitaudio opened #56 "Midi-Cat with Arturia Beatstep"
Love this module!,
Is it possible to use the Arturia midi protocol for midi in and out (knob controll): They use the Relative midi mode. Like that i can use my Rotary knobs without jumping or snap.
Thanks!

[2019-10-23 04:54] stoermelder commented on #56
I don’t own a Beatstep. Can you elaborate this request a little more?

[2019-10-23 09:44] submitaudio commented on #56
Relative mode means that the encoders send MIDI messages that can increment or decrement a parameter without there being jumps in the values. This allows for smooth operation and allows for greater interaction in applications that support this type of MIDI data. Example:
If the encoders are set to RELATIVE 1 (using the free MIDI CONTROL CENTER software), the encoders will send a stream of MIDI mes

[2019-10-25 21:02] stoermelder commented on #56
Ah, I remember now. someone mentioned MIDI relative mode some time ago. I will look into it!

[2019-10-25 21:03] stoermelder commented on #54
This going to happen... about 50% finished already...

[2019-10-25 21:03] #54 closed, assigned to stoermelder

[2019-10-26 11:18] submitaudio commented on #56
Thank you...

[2019-10-27 08:32] stoermelder opened #57 "MESH"
The idea is to create a module like Mutable Instruments Grids but for random song arrangement.

I thought about this while following one of Omri Cohen's live streams: he creates a patch step by step by stacking one synth voice on the other. While this is quite nice most of the time it gets a bit thick and repetitive while in progress. Also, there are no "song arrangement" elements like verse, chor

[2019-10-31 06:04] stoermelder opened #58 "TURN"

[2019-11-01 12:53] stoermelder commented on #58
It's happening.

[2019-11-01 12:53] #58 closed, assigned to stoermelder

[2019-11-01 14:34] stoermelder commented on #49
I'm closing this because Rack v2 will support it.
https://community.vcvrack.com/t/rack-development-blog/5864/45

[2019-11-01 14:34] #49 closed, assigned to stoermelder

[2019-11-01 16:59] #14 closed, assigned to stoermelder

[2019-11-02 13:00] stoermelder opened #59 "CORONA"

[2019-11-04 16:40] glocke01 opened #60 "copy knob positions between adjacent, identical modules"
Sort of a polyphony hack - is it possible to make a module that would copy knob positions from one module to another of the same module? An example use would be to get stereo functionality from non stereo modules (e.g. filters, delays, or Macro Oscillator 2 in any of the various granular modes).

[2019-11-04 16:56] stoermelder commented on #60
You can do this right now, I showed it in a very early version of my modules.
It would require some parameter mapping, but is this what you are talking about?
https://community.vcvrack.com/t/module-cv-map-for-cv-controlling-any-knob-slider-or-switch/1914/14

[2019-11-04 16:57] glocke01 commented on #60
yes, you already solved it! thanks!!

[2019-11-04 16:57] #60 closed, assigned to stoermelder

[2019-11-11 18:50] stoermelder opened #61 "ARENA - physics"
https://community.vcvrack.com/t/stoermelder-arena-preview/6417/20

[2019-11-11 18:51] stoermelder opened #62 "MIDI-CAT - n-way toggle mode"
#33
https://community.vcvrack.com/t/stoermelders-packone-v1-2-0/3852/105

[2019-11-18 17:03] nay-seven opened #63 "8FACE - module grouping like STRIP"
Hello,
A quick question/suggestion, as i see Strip can act/random on several modules, is there a chance 8FACE can do the same for presets ? saving presets for a block of modules can be a cool tool ?
I know i can add several 8FACE modules and drive them by 1 control , but group mode can be quickest an cpu friendly ?

I of course also dream of a "global " 8FACE who can save 8 (or more) presets for a

[2019-11-18 21:04] vcvrackideas commented on #63
yep, I'm in too! Very like idea, especially when using it with arm and midi contollers together, would be very handy.

[2019-11-18 21:07] stoermelder commented on #63
Thanks for the suggestion, I will check how much change it needs to support multiple modules.

[2019-11-18 21:43] nay-seven commented on #63
Thanks a lot to consider it  !

[2019-11-23 11:00] stoermelder commented on #24
Module for storing Rack's undo-history within a patch.
Currently not possible: There is no way to serialize custom undo actions implemented by modules.
https://github.com/VCVRack/Rack/issues/1638

[2019-11-23 13:50] #11 closed, assigned to stoermelder

[2019-11-23 15:49] stoermelder opened #71 "8FACE - add undo-actions"

[2019-11-25 13:42] david-c14 commented on #24
I'm going to comment here, rather than on the VCVRack/Rack github.

Surely this can only work if you can somehow force every developer to revisit their custom `history::Action`s to implement the serialize/deserialize methods.

Also I wasn't clear what your intention was for the slug. I myself have implemented only one custom `history::Action` class, but it uses lambda functions to implement undo a

[2019-11-25 16:42] stoermelder commented on #24
I missed the necessity of slugs at first. The problem is obviously deserializing JSON to instances of some identified class, exactly how you described the situation. Rack uses slugs for plugins and modules, the same concept would be needed for `history::Action`.
Still, this proposal must be considered at least :-)

[2019-11-29 17:54] ContemporaryInsanity opened #72 "8FACE - more contrast?"
Small light blue / light green leds on a light blue background, very little contrast, difficult to see when module is small.

[2019-11-29 17:55] ContemporaryInsanity commented on #72
Perhaps build bigger lights into bigger buttons?

[2019-11-29 17:58] stoermelder commented on #72
Hi Ewen, maybe you want to test the latest build of my plugin :-)

[2019-11-29 18:03] ContemporaryInsanity commented on #72
Wow!

[2019-11-29 18:03] #72 closed, assigned to nobody

[2019-11-29 21:34] stoermelder commented on #72
I hope you like it better with the updated layout. A dark theme is also on my to-do list but this is going to be something for the version after next release.

[2019-11-29 22:51] stoermelder opened #73 "INFLECTION"
Sequencer. Take two (or more) permutations of a specified length and allow morphing between them.

[2019-12-07 20:19] PaulPomeroy opened #74 "Problem using 8FACE with VCV Chords"
[20191205A5-sh.vcv.txt](https://github.com/stoermelder/vcvrack-packone/files/3935485/20191205A5-sh.vcv.txt)

This is a weird one. I'm using 8FACE with VCV Chords. I have a set of 10 chords (presets) both loaded in CHORDS and stored in slot 2 of 8FACE. I have a different set of 10 chords stored in slot 1. 8FACE is set up to switch between slots using notes in the C4 range. I'm using a 4-step sequen

[2019-12-08 02:01] stoermelder commented on #74
Hi Paul, I will have a look but most likely this is an issue with Chords. 8FACE loads essentially a preset of the module, so first thing to try would be loading presets of Chords manually and check if these work as expected.

[2019-12-08 03:49] PaulPomeroy commented on #74
Thanks, Ben. I tried loading chords (saved in a CHORD Preset) into CHORD as the patch was playing and things appeared to work fine but I'll need to create another simpler patch to test this. The timing of the load could be significant. What **_might_** be happening is that, because CHORDS is getting told to advance to the next chord at exactly the same time (i.e., using the same clock pulse) that

[2019-12-08 08:34] stoermelder commented on #74
I just checked your patch and it is weird indeed. There is definitvely something going on in Chords. On the left is the preset that is loaded, on the right the preset that is active after load, the first chord is different?

You're right that it has something to do withing loading and advancing the same time. I added Bacon SampleDelay set to 16 samples between the clock and ADV of chords, then it

[2019-12-08 17:42] PaulPomeroy commented on #74
Thanks, Ben. My guess is that part of that incorrect first chord is due to it loading the notes for the chord in Preset 5 (4,8,11,15) into the wrong location (i.e., Preset 1). That 27 it comes up with for the 4th note is a little harder to figure out. It's probably not a coincidence, though, that 27 in binary is 000**1**1011 and 11 (eleven) is 000**0**1011 -- so something between the "advance" and

[2019-12-08 17:42] #74 closed, assigned to stoermelder

[2019-12-08 21:58] Eurikon opened #75 "MIDI-CAT - custom text labels"
Hi Ben :)
can we please have custom text input for the controller text labels?

[2019-12-09 13:03] stoermelder commented on #74
I will create a feature request for Rack for handling these issues a better way, maybe something can be added for v2.

[2019-12-09 18:14] PaulPomeroy commented on #74
Thanks, Ben. I remember, from decades ago, now, spending a lot of time chasing down a bug in some automation software I'd written. It turned out to be something caused by a small section of code that tripped on itself when running on a multi-threaded system. The solution was simple: we added a thread-locking function to make the code wait its turn, but it took a _long_ time to chase down what was

[2019-12-09 18:34] stoermelder commented on #74
Yes, the issue is some kind of similar and has to do with synchronization. To be honest I'm surprised that almost no module causes problems with 8FACE as it does an unsychronized load of the preset. Currently there is no hook or event or something in Rack's engine for doing stuff between samples. Maybe Andrew can address this although it will be used mostly by my modules :-)

[2019-12-09 18:34] stoermelder commented on #74
Ah, and thanks for your donation, Paul!

[2019-12-09 19:32] stoermelder commented on #75
Hi Latif, nice suggestion! Can you check the latest build if it works for you this way?

[2019-12-09 21:32] stoermelder commented on #74
https://github.com/VCVRack/Rack/issues/1656

[2019-12-10 06:10] PaulPomeroy commented on #74
FYI, I replaced the clock divider I was using with Holonic Systems' "Gaps divisions" module, set to "even" mode and cabled to trigger the 4-step sequencer every 10th clock pulse. And ... the problem went away -- the two different sets of chords are loaded in by 8FACE with no errors showing up in CHORDS. The change must have altered the event sequence enough to let CHORDS load in the new set of cho

[2019-12-10 10:58] Eurikon commented on #75
Wow double thumbs up.
Works just as i wished it would, thanks Ben! :)

[2019-12-10 11:01] #75 closed, assigned to stoermelder

[2019-12-13 00:31] RichieHindle opened #76 "8FACE causes Entrian Acoustic Drums to crash"
As I understand it, 8FACE calls `ModuleWidget->fromJson(...);` from its own worker thread.  This seems a bit dangerous, and it's causing one of my modules to crash.

(Simplified details, in case they're helpful: imagine a module has a member variable `thing`, and two lines of code like this in `fromJson()`:
[code]
That code is normally only run in the main UI thread of rack.  Elsewhere, in `draw()

[2019-12-13 00:59] RichieHindle commented on #76
I realise I may have misunderstood the change that introduced the worker thread... previously, was `ModuleWidget->fromJson(...)` called from the audio thread?  That's also likely to cause the same problems, so my request to make that change optional wouldn't help.  I believe the only safe way to do this is to call `ModuleWidget->fromJson(...)` from the UI thread.

[2019-12-13 20:45] pnortnaomi commented on #63
I hope this this feature could be implemented. It would be very helpful.

[2019-12-14 11:58] stoermelder commented on #76
Hi Richie, thanks for your investigations. You are absolutely right about potential problems of using a worker thread for loading presets and I was aware about that when I implemented it. I know my module is doing stuff that isn't 100% stable. The thing is, even calling it from the UI thread may cause problems because the call is unsychronized to the DSP thread and some variables may change in the

[2019-12-14 19:32] RichieHindle commented on #76
I don't think that's true.  From the module's point of view, there's no difference between a call to `fromJson()` from the user pasting a preset, and 8FACE calling `fromJson()` from the UI thread.  The lack of synchronisation between the UI thread and the audio threads is already something that modules have to deal with.

Your suggestion in https://github.com/VCVRack/Rack/issues/1656 would fix thi

[2019-12-21 17:11] fractalgee opened #77 "MIDI-CAT loses mapping on save preset and reopen hangs Rack"
I just mapped my 2 connected Minilar controllers to MIDI-CAT (32 slots) and then went to save this as a preset. After saving the module was back to all 32 slots reporting 'Unmapped'.
Tried to reload the saved preset and it hangs Rack, has to be killed, which leaves a zomby Bridge Server background process behind.

Rack 1.6.2
Win 10
latest plugin manager Stoermelder modules.

Attached: the saved pr

[2019-12-21 17:36] stoermelder commented on #77
Sorry, there is no API in Rack to keep parameter mappings across patches. You can try VCV's MIDI-MAP module which will give you most probably the same result by loosing all mappings.
The only way I know of keeping mappings within a group of modules is using my own STRIP module.

[2019-12-21 17:40] fractalgee commented on #77
OK, hmm, that is a missing feature then, will see if an FR can be filed for
Rack to add that ability. The preset file looks a bit weird though in that
first module is 0 and second is -1.

Reason I used yours was that the VCV one can only map 16 of the
controllers, as even adding second one does not see Minilar2, so stuck :(

On Sat, 21 Dec 2019 at 18:36, Ben <notifications@github.com> wrote:

[2019-12-21 17:46] stoermelder commented on #77
This is strange. VCV's MIDI-MAP supports up to 128 mappings slots and there is no limitation in using the same MIDI device in multiple MIDI modules. Maybe you can check again but this sounds more like a bug in Rack.

[2019-12-21 19:30] fractalgee commented on #77
maybe so, but still the device names at bottom of the vcvm file look
illegal (-1) so no idea how Rack would save that unless module had it set
like that? Anyhow, will file an issue, as Midi-CC from VCV does not see
Midilar 2, only 1, yours sees both, as they are chained together . Anyhow,
for sure a FR for adding API to save MIDI mappings is in the works, but
still, device number -1 looks fishy to

[2019-12-29 12:22] stoermelder commented on #63
I will consider this request after the source for Rack v2 is made public.
The current implementation of 8FACE has some issues which can hopefully addressed in the next version of Rack. Adding "grouping" right now would decrease the stability of the module even more.

[2019-12-29 13:51] nay-seven commented on #63
ok, thanks !

[2019-12-29 19:45] cschol opened #78 "Failed to load Intermix component SVGs"
When loading the plugin version 1.4.0, the following warnings are issued:

[code]

I don't see the SVGs in the repository.

[2019-12-29 19:49] stoermelder commented on #78
Did you check the commit I referenced?
https://github.com/stoermelder/vcvrack-packone/tree/f9c8c9f1fd9dc2cc80671f8c82fd27f1bfda8579
I renamed the files in a later commit but this should not break older commits as far as I know?

[2019-12-29 19:52] cschol commented on #78
The SVGs are there. I missed them because I didn't look in the `components` directory.

I know what the issues is:

`Components` is upper-case in the C++ code:

[code]

But the directory is `components` on my Linux system.

[2019-12-29 19:52] stoermelder commented on #78
Yeah, I thought the same some seconds ago...

[2019-12-29 19:59] cschol commented on #78
Yeah, you have to be careful with case-sensitive systems. This problem won't show on Windows. Let me know when it is fixed and I will integrate.

[2019-12-29 20:35] stoermelder commented on #78
Thank you for your assistance, Christoph!
Fixed in 613036f4ab2042e3b6e3a7ed7399ee0725860352.

[2019-12-29 20:42] #78 closed, assigned to stoermelder

[2019-12-31 13:06] stoermelder commented on #25
Dropped due to INTERMIX.

[2019-12-31 13:06] #25 closed, assigned to stoermelder

[2019-12-31 21:34] stoermelder commented on #15
Completed. Panel design might not be final but works for now.

[2019-12-31 21:34] #15 closed, assigned to stoermelder

[2020-01-01 04:52] johnnovak opened #79 "MIDI-CAT - Add CV smoothing"
First of all, this is a great module, so thanks for taking the time to write it!

However, it's not really usable for me because it's a step back from MIDI-MAP in one important regard and also the soft takeover is a bit buggy. So here's the problems I found so far:

1. Assign the freq of VCO-1 to a MIDI fader. Start wiggling the MIDI knob at various speeds. Notice that the CV is stepped, the frequ

[2020-01-02 08:36] ligantx opened #80 "INTERMIX: enable/disable button for outputs"
I would like to ask for a new feature that i guess its easy to implement..
As there is button for enable/disable and midi map capabilities for every input line..it would be useful to add enable/disable and midi map capabilities button to outputs (see picture).
This can help so every 8x8 connection can be enabled with any combination of 8 midi enabled inputs and 8 midi enabled outputs.

![064](http

[2020-01-02 08:58] stoermelder commented on #80
I'm not quite sure if I understand your request correctly: The button you circled on the right side disables the first row and the first output port. There is no "disable" button for the inputs on the bottom but this seems a bit of overkill as enabling the inputs is main purpose of the matrix. Besides that you can use scenes for that :-)
At the moment there is no manual for the module. I guess it

[2020-01-02 09:29] stoermelder commented on #79
Hi John,
1.  I understand what you are describing but it can be hardly seen as a bug. Are you aware that every MIDI CC has values from 0 to 127? This is a very limiting precision when it comes to controlling the frequency of a VCO and it will be "stepped" by design so to say. I am aware that MIDI-MAP has some slew limiting going on which has been added in Rack v1.1.0 or so. I tried adding it too b

[2020-01-02 09:36] stoermelder commented on #77
Are you sure that "Midilar 2" is not a MIDI output port? MIDI-CC won't see output ports as it is only an input module but CV-CC will see output ports.
My module is using Rack's MIDI API and I haven't implemented anything myself on that topic, my module "sees" exactly the same MIDI ports a every other module.

[2020-01-02 09:56] fractalgee commented on #77
That is odd, the MIDI-CC sees Minilar1, which is the first 16 ports of MIDI
out that the minilars send. If I add a second I still cannot map the second
one that is actually connected straight to the first one so 32 ports as far
as I can make out. Your MIDI-CAT module clearly sees both Minilar 1 and 2
and I can happily map me all 32 ports. So if it is using same code then I
am confused, as the VCV

[2020-01-02 10:09] ligantx commented on #80
sorry for not being more clear..
what i want to do is:
with two different midi messages, enable a connection..
So i was thinking, if i push my two buttons on a midi controller (that i will midi map) i would enable a specific connection..
Lets say i have two 8 button midi controllers..
I would like, if press button 3 to the first one...and 5 to the second..to do a connection at 3x5 (horizontal 3, v

[2020-01-02 11:28] stoermelder commented on #80
Ah, I see. So you don't need additional buttons, you want to enable a button of the matrix using 16 buttons on your MIDI controller, 8 for the inputs, 8 for the outputs. In current your solution with MUTE8 you can only disable one input or one output but you cannot disable a specific connection, right?

[2020-01-02 12:40] ligantx commented on #80
Actually i need 8 extra buttons..but for the horizontal axis (the outputs)..as the arrow shows..

My current solution works fine, but i have to make a lot of extra work (to connect every mute8 out to father&son)..with INTERMIX if there were 8 extra on/off buttons to the OUTPUTS(horizontal)..it could work...

NOTICE: i should point that earlier..i want to accomplish virtual cables..SO, it supposed

[2020-01-02 14:01] stoermelder commented on #80
Just a note: The horizontal ports are the input ports.
Ok, I have an idea. I don't want more buttons because they won't add any more functionalty. But I can add some "widget" near the input ports on the horizontal row which allows mapping your MIDI controller. I've done something similar on my ARENA module. A connection could then be made by selection the input port and afterwards the output port

[2020-01-02 14:18] stoermelder commented on #77
Hm, isn't the VCV MIDI-CC module the thing you want? It outputs CV for MIDI CC, similar as CV-PAM outputs CV for parameter movements.

About the crash on "Unmap": Does it also happen with the MIDI-MAP module? If yes it could be indeed a problem in Rack's MIDI implementation. Still, I have no explaination why there should more MIDI devices visible in my module...

[2020-01-02 14:35] ligantx commented on #80
thats sounds nice..
i guess "allowing midi mapping" you mean on/off the horizontal ports right?

[2020-01-02 14:41] stoermelder commented on #80
No, I mean to enable every button on the matrix. It is a bit difficult to explain, I'll do a short video later.
You press and hold MIDI button for input port 3, then you press the MIDI button for output port 5, which will enable the connection in column 3, row 5.

[2020-01-02 16:09] fractalgee commented on #77
MIDI-CC maps MIDI messages (sent by the minilars) to CC which you can
access via plugging in cables to the different ports that are mapped....
It does work until 16 ports, then nada. I also cannot tell you why yours
sees both sides whereas the MIDI-CC just one...    My previous request was
serious for a mutant stepchild between the poly outs on MIDI-PAM and the
MDI-CAT, so I don't have to permanen

[2020-01-02 16:17] stoermelder commented on #77
I understood your suggestion but I don't think it is worth the effort: You can simply use MIDI-CAT and MIDI-CC side-by-side for the same MIDI device and the same CCs. You can also add more instances of MIDI-CC if you need more than 16 CCs and use the same MIDI device as before.

[2020-01-02 18:17] fractalgee commented on #77
OK, understood, but the multiple MIDI-CC does not work, as I tried and
indicated above, so will have to see if I can find a way, so far not yet ;)

On Thu, 2 Jan 2020 at 17:17, Ben <notifications@github.com> wrote:

[2020-01-02 21:32] stoermelder commented on #80
I decided against using the existing buttons for several reasons. Instead I added small circles on the rows and columns, these parameters can only be used for MIDI-mapping. Pressing the control for column 3 and then the control for column 2 enables the pad 3 from the left and 2 from the top. Should be quite intuitive.

Feel free to try out the latest build:
https://github.com/stoermelder/vcvrack-p

[2020-01-02 21:36] stoermelder commented on #77
It does work here, tried it again just now. If it doesn't work with your MIDI controller you should report a bug on Rack's repository as multiple modules using the same MIDI device is definitively supported.

[2020-01-03 01:35] ligantx commented on #80
that looks perfect!..
i tried to make this work but i havent done any vcv rack stuff as developer..so i followed this `https://vcvrack.com/manual/Building#setting-up-your-development-environment` but i couldnt make this work..

Do you have any easy to follow tutorial? I tried to paste the windows zip content to `....\VCV\Rack\res\ComponentLibrary` but it doesnt work..(where i have to put the plugi

[2020-01-03 05:34] stoermelder commented on #80
Sorry for the inconvenience, you don’t need to setup a build environment.
https://vcvrack.com/manual/Installing#installing-plugins-not-available-on-the-plugin-manager

[2020-01-03 08:04] fractalgee commented on #77
ok, weird I can't get it to work, so will keep trying or log a bug with
Andrew...

Anyhow, keep making nifty modules, they are very much unique! Btw, Maze is
also very neat, Arena I still have to get head around ;)

go well

On Thu, 2 Jan 2020 at 22:36, Ben <notifications@github.com> wrote:

[2020-01-04 04:37] johnnovak commented on #79
Thanks for your quick reply! Ok, so here's some clarification:

1. Yeah, I'm fully aware of it how MIDI CC workse. The slew limiting/interpolation was added to MIDI-MAP for a reason, the reason being that when you turn a MIDI knob fader slowly, you don't want to hear a stepped response. That's not just a useful outcome for most scenarios, e.g. you turn a MIDI knob controlling something, you want a

[2020-01-04 22:46] johnnovak commented on #79
I checked my favourite softsynth plugin, Zebra 2 from u-he, and the MIDI CC smoothing is actually configurable:

![image](https://user-images.githubusercontent.com/698770/71772502-aac7a800-2f97-11ea-9f8c-442154fc69f3.png)

So probably it would be best to do something similar.

[2020-01-05 09:28] stoermelder opened #81 "SAIL"
The only downside I can see if the knob is already in a low CC value 'positition' going lower on a control that is set to a higher value doesn't work, but nevertheless they way you've implemented this works quite well!!!

https://github.com/VCVRack/Rack/issues/1677
@tokkeherfst

Mapping keyboard will be a problem: I module can only capture keyboard events when it is in focus, except for SHIFT etc.

[2020-01-05 09:31] tokkeherfst opened #82 "SAIL"
Continuing this thread from vcv rack...

Wow Ben, SAIL is awesome! Just mapped modwheel CC output from one of my beatstep pro knobs and it works absolutely great ;-)
The only downside I can see if the knob is already in a low CC value 'positition' going lower on a control that is set to a higher value doesn't work, but nevertheless they way you've implemented this works quite well!!!

You might ju

[2020-01-05 09:43] stoermelder commented on #82
Mapping keyboard keys is a problem as modules receive only keyboard events when currently in focus. The only way right now is using the keyboard MIDI driver in one of the MIDI modules.

I don't own a Beatstep Pro so it would be a bit hard to test these relative modes. There had been several request about this in the last months, so I will see what I can do.

[2020-01-05 09:44] stoermelder commented on #82
https://github.com/VCVRack/Rack/issues/1677

[2020-01-05 09:49] tokkeherfst commented on #82
Thanks, I will have look what I can get out of the keyboard midi driver. Being able to use the shuttle wheel would be cool, but the BSP knob control addresses most of my tactile gripe already ;-)

I'd be happy to run any tests for you on those relative CC modes. It comes down to statically mapping specific static midi cc values to a 'mouse value increase/decrease', instead of mapping the diff in C

[2020-01-05 11:39] stoermelder commented on #82
I'm trying to avoid any MIDI code within this module. I have a Maschine Jam here and the faders support two relative modes but none of them seem to work like you described.
Some sort of dump of the MIDI data or CV out of MIDI-CC would be helpful indeed.

[2020-01-05 13:36] tokkeherfst commented on #82
Ok, did some measurements on the MIDI-CC mode (using scope and CC number 75 on the beatstep pro)

**ABSOLUTE**: MIDI CC values: 00-0F / Voltage: 0-10V

**RELATIVE1**:
 Single Increase -> MIDI CC values: sequence of 40 and 41 / Voltage change to 5,12V
 Single Decrease-> MIDI CC values: sequence of 40 and 3F / Voltage change to 4,96V

However when turning the lightly knob  in the same direction I do

[2020-01-05 14:06] vcvrackideas commented on #82
So cool device, a gamechanger at least. But takeover mode is not always ok. Sometimes I always have to turning up  (fully CW) to turn down some knob and vice versa with CCW position...It would be awesome if you can make some mode with no takeover mode to allows parameters jumps exactly in the knob position of end. I suppose that it would be remove some "slew" in midi behavior that you have been ac

[2020-01-05 14:15] tokkeherfst commented on #82
@vcvrackideas yeah that is the problem with using Absolute CC mode
If (a) relative CC mode could be supported (doesn't look to be a standard though) then that could be a solution for this issue you are seeing ....

[2020-01-05 16:55] stoermelder commented on #82
This will be no problem but I’m not quite sure when to apply the value. Should it be on the first change while hovering a parameter?

[2020-01-05 17:38] vcvrackideas commented on #82
don't know yet exactly but I think we should start trying from this one

[2020-01-05 19:40] stoermelder commented on #82
Ok, I had to rewrite the module from scratch:
- Parameter changes were not very smoothly before, now they are, I also added a Smoothing-option (not needed for MIDI-CC, but anyway...)
- Holding the SHIFT-key will increase the precision by factor 10 (same as MOD-port)
- Added Absolute-mode, needs some testing if it is useful this way.

[2020-01-05 19:47] stoermelder commented on #82
Thanks! I've read somewhere that CC data 63 (decimal) is the "center", +/-1 means slow knob movements, +/-2 faster, +/-3 really fast. I will try to implement it but I will be dependent on your testing as none of my controllers seem to support this protocol.

[2020-01-06 06:26] vcvrackideas commented on #82
oh wow, thanks! that becomes more interestingly. So here are my results -
- smoothing has no affect on absolute mode (CV curve has same SLEW pass with on or off setting) and it's quite ok but if you can add an option or slider with ability to set slew amount from perhaps 0.2 s to 5s (slow ones good for live performances) or this value could control by CV too...
- however absolute mode has pretty e

[2020-01-06 07:22] tokkeherfst commented on #82
Separate Coarse/fine inputs are an excellent idea! Would rather like that too rather than the Mod input.

Both modes work fine for me with beatstep pro set to absolute mode. I find the naming a bit confusing: I suspect they mean this:
- Relative: I suspect this is the prior behavior of the module
- Absolute: the newly added method asked by @vcvrackideas

This confused me at first, as I though "rel

[2020-01-06 07:29] stoermelder commented on #82
"Smoothing" is meant for more steppy CV sources but it has no effect on CV out of MIDI-CC because this module outputs smooth values already. I can add a slew control with CV if this might be interesting.

[2020-01-06 07:32] stoermelder commented on #82
You can add two instances of the module, one with MOD-port set to a constant high value. This way you can use one knob for coarse and one knob for fine.

Edit: There is bug in the latest build. It needs voltage >1V on MOD but I intended >=1V. Will be fixed.

Edit2: The idea of MOD was to use a button on your controller for enabling fine control but use the same knob.

[2020-01-06 07:45] vcvrackideas commented on #82
Yes, I'm very interesting in it. Thanks. And thanks for clarifying on how input MOD should be using. A button on the controller really makes sense.

[2020-01-06 09:04] stoermelder commented on #82
I've added exponential slew limiting a few seconds ago. I think an exponential curve is more useful than linear but nothing is decided yet. Let me know what you think.

I'm a bit undecided about relative mode on the Beatstep Pro. I like to support it but a module needs to inspect the incoming MIDI messages to handle it correctly, CV from MIDI-CC is not enough. On the other side it might be a bette

[2020-01-06 09:26] stoermelder commented on #82
On MIDI-feedback: I can easily add an output port which sends the current value of the hovered parameter. Then you can patch it to CV-CC and send it to the same CC as receiving...

[2020-01-06 09:26] tokkeherfst commented on #82
Yeah, based on CV from MIDI-CC alone it is not going to be optimal... you'd have to turn pretty hard to get below that lower voltage threshold or above the upper one. That would make it very unresponsive.

Maybe a midi-based module that outputs an positive voltage gate when an 'increase' relative CC sequence is received and negative voltage for the 'decrease' relative CC sequence. When nothing is

[2020-01-06 09:49] vcvrackideas commented on #82
Amazing Idea! looking forward to it because touchOSC-like controllers are really needed feedback for smoothing performance.

[2020-01-06 09:57] stoermelder commented on #82
Done.

[2020-01-06 10:24] stoermelder commented on #82
I‘m thinking about a new utility module which would be useful for working with keyboard events and some potential Beatstep relative protocol implementation.

It has three input ports. INC and DEC for increment and decrement. There is also a RESET port. And parameter for the stepsize. Everytime a trigger is received on INC or DEC the output voltage is increased or decreased by the stepsize, within

[2020-01-06 10:39] tokkeherfst commented on #82
Tried to use the OUT port to feedback the controlled value to the Beatstep Pro but it looks that is not supported by Arturia. Would have been a nice solution as well to the relative knob issue.

But the Mod/Fine control works great when assigned to a toggle button CC!

About your new utility module idea, nice idea but we will have the same issue there. Eventually you will hit the 10V ceiling or 0V

[2020-01-06 10:41] vcvrackideas commented on #82
Wow yeah. Overall - this is working solution already. But I've noticed some strange lags:
- look at this gif please. you will notice that sometimes scope is showing us strange behavior that looks like as AD envelopes (or inverted ones sometimes). This react visually as a knob or fader in this case runs faster up or down and after approx. 0.3 sec it fit in that knob position and behaves as expected

[2020-01-06 10:50] stoermelder commented on #82
Yes, you’re right. But... I can use the OUT-port of SAIL to reset it to the parameter‘s current value. This way hitting the ceiling or bottom would be the end of the parameter‘s range anyway.

[2020-01-06 10:58] stoermelder commented on #82
Are you sure SLEW is set to zero? Could be the same issue as your last bullet point...

I’m processing only every 64th sample which is about Avery 1,5ms at 44100Hz, MIDI is much slower anyway. But I can reduce the delay to every 32th sample but I’m not sure if this solves anything.

Hm, this is most probably a bug. I’ll check.

[2020-01-06 11:03] vcvrackideas commented on #82
Yep checked twice. Settings are - mode absolute, smoothing off (on doesn't change anything), and slew 0 sec. This looks like a small ricochet, I think it depends on where the knob is. But quite strange just because it's and endless encoder with proper (maybe, don't know yet about lag or so) midi feedback.
About delay - yes, maybe it will work, should try.

[2020-01-06 11:19] stoermelder opened #83 "PILE"
I‘m thinking about a new utility module which would be useful for working with keyboard events and some potential Beatstep relative protocol implementation.

It has three input ports. INC and DEC for increment and decrement. There is also a RESET port. And parameter for the stepsize. Everytime a trigger is received on INC or DEC the output voltage is increased or decreased by the stepsize, within

[2020-01-06 11:28] vcvrackideas commented on #82
EDIT: when slew is up that odd ricochet is still present in absolute mode. maybe it's just too fast for midi to place the encoder in the right position and then it need a few milliseconds to figure it out?
EDIT: and fine knob doesn't react in absolute mode at all but works ok in relative

[2020-01-06 11:48] stoermelder commented on #82
I've just made a new commit. Hopefully it is gone though I couldn't reproduce it yet.

Yes, in absolute mode FINE does nothing. Feels strange to me as it should be absolute.

[2020-01-06 12:13] vcvrackideas commented on #82
thanks. but nope kinda bug is still here. it can be touchosc thing I should check it on my BCR2000 later at home. I think this is something about not proper midi feedback CV-CC can't get that to touchosc just because this kind of jumping looks similar when regular controller knob assign to the different parameter but I don't sure.

[2020-01-06 12:39] vcvrackideas commented on #82
still can't figure out how to control buttons in vcv rack with SAIL. I've created PUSH button in touchosc but it only press the button and don't want to release the parameter to zero so works as a toggle one. As far as I remember there was no problem with MIDI-cat to do same thing

[2020-01-06 13:03] stoermelder commented on #82
Can you try to disable "Smoothing" in the context menu?

[2020-01-06 13:11] vcvrackideas commented on #82
yep but it's still the same. I think there is something in MIDI-CC module. I monitor its output instead of SAIL's one and it's showing me same jumps but they look slewed at attack instead AD "sharp style" in SAIL

[2020-01-06 15:14] vcvrackideas commented on #82
SOLVED ALL TROUBLES with all of these jumps and strange behavior
![2020-01-06_18-13-19](https://user-images.githubusercontent.com/42435368/71827029-6419a100-30b0-11ea-907e-f584a5f056c2.png)
 EDIT: out option is continuous
EDIT2: in that way there is no issue only when SLEW is zero. if more than zero = big jumps to the different side of rotating knob\fader

[2020-01-06 15:21] stoermelder commented on #82
Ah, I see. Then the cause might be the value smoothing built into the MIDI-CC module :-(

[2020-01-06 19:38] stoermelder commented on #82
I'm not so sure about the OUT-port anymore :-(
You can try Reduced-mode for OUT. It is a really bad name but it outputs only changes of the parameter which are not done by the module itself. Especially any slew going on won't be sent to OUT.

[2020-01-07 06:25] vcvrackideas commented on #82
- Well that picture above is pretty work for me as expected so there is no complain) I think slew is just don't needed thing for absolute mode.
I'm still thinking about two separate knobs on my touchosc - one for absolute and another for relative and two separate SAIL instances for both of them. And if I would need a slew and fine control I'll use relative one.
- Still can't figure out how operate

[2020-01-07 06:49] tokkeherfst commented on #82
Did some tests with the INC/DEC inputs in order get some kind of keyboard mapping (and from that ShuttlePro) working:
- midi-cv from keyboard, pressing key Z for note C4 (0v) key P for note E6 (2,333V)
- Hetrick comparator to set thresh at 1V
- comparator Trig patched to INC/DEC on Sail, sends 5V when condition is true

I do get a reaction from sail, but this setup only allows me to decrease the v

[2020-01-07 07:13] stoermelder commented on #82
Did you try MIDI-GATE instead? In my test this module patched to INC/DEC worked fine.

[2020-01-07 07:24] vcvrackideas commented on #82
On dec\inc mode I've only got OK result with these connections (SAIL works only in absolute mode but again with ricochet I've mentioned on absolute mode before) and only works with Pile just because sail dec\inc doesn't want to work at all, odd.
![2020-01-07_10-21-20](https://user-images.githubusercontent.com/42435368/71876469-d7b2c100-3137-11ea-88bc-72a77f7dd045.png)

[2020-01-07 07:27] vcvrackideas commented on #82
Same behavior described in my post above

[2020-01-07 07:27] tokkeherfst commented on #82
Ahh, didn't even knew that MIDI-GATE module existed!
Setup below works great, also with my Shuttle Pro!
Next to try is to map some extra keys/notes for Fine control ;-)
Shift Pedal may also be a good way to do this!

![image](https://user-images.githubusercontent.com/1422502/71876397-ea70ca00-3126-11ea-9083-540a2cb4bb41.png)

[2020-01-07 07:30] vcvrackideas commented on #82
HM when I connected directly into the sail I get missed steps sometimes but it's all ok when through the Pile ...

[2020-01-07 07:32] vcvrackideas commented on #82
Just downloaded latest build - same behavior and needed to set Pile to 0-10v range to work all knobs correctly in inc\dec mode
EDIT: but it's ok now in relative mode of sail

As I said before somehow I've got missed steps with direct connection to Sail(

[2020-01-07 07:33] tokkeherfst commented on #82
You don't need Pile for this IMHO as you can connect directly to Sail inc/dec

[2020-01-07 07:37] stoermelder commented on #82
Unfortunately I can't reproduce this behaviour... also, it seems to work for Tom. Can you test it without anything patched to the IN-port?

[2020-01-07 07:44] stoermelder commented on #82
I have to look into that if I can anything do about it. The problem is that the API allows setting the value 0.5 for a button which should only have 0 or 1.

[2020-01-07 07:44] tokkeherfst commented on #82
![image](https://user-images.githubusercontent.com/1422502/71877476-869bd080-3129-11ea-820d-b15bbf438c49.png)

Testing with FINE linked to SHIFT in combination with INC/DEC from MIDI-GATE, seems to somewhat work: value moves fine-grained when SHIFT is pressed **but only for a limited range**.
I suspect this has something to do with the way the internal voltage of SAIL gets adapted by FINE?

Tom

[2020-01-07 07:46] stoermelder commented on #82
Yes, you are right. There is most probably a problem with my calculations.

[2020-01-07 07:53] vcvrackideas commented on #82
Same but noticed FUN thing - some modules (tested on faders of mindmeld and befaco slew, same behavior) needs a more voltage to switch the step than inc dec mode of sail can offers to it. Pretty strange. And that's why Pile into IN of Sail works - it's just ignore this limitation, don't know why.

[2020-01-07 08:00] vcvrackideas commented on #82
![sail dec inc](https://user-images.githubusercontent.com/42435368/71878488-cddf8c80-313c-11ea-9dff-3910e9cdd1e7.gif)
you can just compare amount of gates to the amount of changes. odd

[2020-01-07 08:08] stoermelder commented on #82
Ok, this is strange indeed. Internally the voltage range 0-10V is mapped onto the parameters value range. So 10% in voltage change should result in 10% parameter change.

[2020-01-07 08:10] stoermelder commented on #82
Ah, this might be an "issue" I am aware of: If you use INC/DEC and go over 10V you have to trigger the same number of times to get within 0-10V again.

[2020-01-07 08:21] vcvrackideas commented on #82
Ok, thanks! inc\dec honestly it doesn't quite important to me, just a nice features to have. I'm looking forward on your answer about lock button implementation instead) and proper buttons working as well

[2020-01-07 09:00] stoermelder commented on #82
This won't be that easy. SAIL depends on the fact that a module does exist if a parameter is currently hovered. This might sound trivial but is essential for its function. If you "lock" the parameter and delete the module afterwards there is no stable way SAIL could aquire the information that the module is gone. This is the reason why parameter mapping exists as used in MIDI-MAP or my modules lik

[2020-01-07 09:05] vcvrackideas commented on #82
mmmmm....midi mapping? But just ignore it if it so hard to do, it was an instant idea taking from some ableton's advanced script with lock button on midi controller that prevents controller from switching from focused device during floating around the rest of interface.

[2020-01-07 09:10] stoermelder commented on #82
What might work without too much hassle... if you place a µMAP next to SAIL it could send the hovered parameter over automatically like an expander.

[2020-01-07 09:29] vcvrackideas commented on #82
ok, will try to do that!
and here is my visual report with fully worked settings and template. if you are curious what's inside the sail options - here is a strip file. No other type of connection and option of sail doesn't work properly with touchosc. Maybe it can help you in the future development of the module, who knows)
![2020-01-07_12-26-44](https://user-images.githubusercontent.com/42435368

[2020-01-07 09:35] vcvrackideas commented on #82
wow, trying now a bit more and realizing that slew thins brings a real analog feeling into controlling vcv rack, thanks again! really great for jamming or so

[2020-01-07 11:26] tokkeherfst commented on #82
I agree, adding slew is really a nice touch, otherwise the feel is too steppy...

Tom.

[2020-01-07 13:22] vcvrackideas commented on #82
Also Ben, is that possible to adapt somehow Remove's MOVE recording mode for using it with Sail without doing a mouse click? Now it works quite ok with TOUCH mode but I need to press and hold the mouse button to activate recording process and every mouse moving while holding can destroy automation a bit. This is not a problem for a slow ambient when user is in quite calm situation, but if he\she p

[2020-01-07 14:15] stoermelder commented on #82
You mean the click needed for start recording in REMOVE? How would you like to start recording then? You know you can use the REC-port for starting the recording?

[2020-01-07 14:28] vcvrackideas commented on #82
I mean - first thing I click to the record button (I switched to the move mode before that), then I move mouse to desired knob and start to move knob via sail+controller. So if Remove react to the moving of mapping knob without mouse clicking - that's what I'd like to do. But if mouse clicking is mandatory to start the recording process - there is no way to do that otherwise than use TOUCH mode wi

[2020-01-07 14:43] stoermelder commented on #82
Hm ok, a mouse click is not mandatory to start recording and I could start on first change of the knob, but would I know when to stop?

[2020-01-07 14:57] vcvrackideas commented on #82
oh, sorry for confusing, it seems there are no ways to do that. (

[2020-01-07 20:00] stoermelder commented on #82
Should be fixed in 78c1ede0e220be9fe5788dcedd96815400e34e43.

[2020-01-07 23:50] stoermelder opened #87 "MIDI-STEP"

[2020-01-07 23:57] stoermelder commented on #87
@tokkeherfst I implemented MIDI relative protocol as a separate module. It is a quick draft and far from finished but you can try it out.
It seems that "Beatstep Relative Mode 2" is available on NI controllers called "Relative". "Beatstep Relative Mode 1" seems to support three different velocities but due to lack of controller I couldn't test it.

[2020-01-08 06:07] tokkeherfst commented on #87
Thanks, I will give it a try tonight!

[2020-01-08 07:29] tokkeherfst commented on #87
Couldn't wait... ;-)

Beatstep Rel2 is working fine for me, for Beatstep Rel1 mode it is only increasing the value
When turning CW I see 3x 5V triggers in a row on INC, when turning CCW I see 1x5V trigger on INC, not DEC.

I guess a dump of the midi values might help:
CW turn:
![image](https://user-images.githubusercontent.com/1422502/71958124-c75e1d00-31ef-11ea-8f23-c4995b7eb9e2.png)

CCW turn:
!

[2020-01-08 09:01] stoermelder commented on #87
Thanks for testing, Tom!
I misread your previous MIDI dump, i will fix it later today. Can you try if you get 42 or 43 (third data column) when moving the knob faster CW? It seems that the Beatstep supports three different velocities in mode 1 but I'm not sure yet how to handle these. Currently 1, 2 or 3 triggers are generated. This will need some testing and fine-tuning after I fixed mode 1...

[2020-01-08 13:12] stoermelder commented on #87
Fixed in 7e5dd4219ce49f44ff501200c267c50d8025db64.

[2020-01-08 14:34] tokkeherfst commented on #87
Tests with the latest release and Beatstep Rel1 mode: works really nice!
There is clearly a difference in feel when turning fast and slow. In fact I had to bring down the step size a bit but that's really good in fact, so FINE really becomes a very fine control ;-)

BTW here is the CC value that I am seeing on midi (hex):

Slow CW: 41
Faster CW: 43
Very fast CW: 46 or more
Slow CCW: 3F
Faster CCW:

[2020-01-08 17:31] stoermelder commented on #87
I tuned it according your CC values in c2bc725683ae99f70c89ac543fd614e7708343d9. The changes shouldn't be that huge now, hopefully.

[2020-01-09 06:41] tokkeherfst commented on #87
Tested it, works really smooth ;-)

Loving it, now I can just turn one computer monitor towards my desk with synth hardware, take a wireless trackpad to select the Rack modules and use one knob on the beatstep to tweak any parameter.
Awesome, can't wait for my ES-8 to be delivered to bridge the virtual and physical synth world ;-)

[2020-01-10 20:46] stoermelder commented on #80
@ligantx had you chance to test the new mapping option?

[2020-01-10 20:49] stoermelder commented on #56
Some progress has been made regarding this request:
https://github.com/stoermelder/vcvrack-packone/issues/87
If everything works out successfully MIDI relative mode will be added soon.

[2020-01-10 21:02] Coirt opened #88 "MIDI-STEP - Changing theme to dark default can freeze upon close"
OS: Windows 10
rack version: dev.7a789af / release

When setting theme to dark by default a couple things go wrong.

1. The module you set the theme from does not change its theme to dark when in the Rack but it will change all in the browser upon reopening. Upon opening Rack the module you change to dark from will still be blue in the Rack.

2. Upon close after changing the theme Rack can sometim

[2020-01-10 21:14] stoermelder commented on #88
I'm not sure if I understand correctly. The "default" setting won't change any of the modules already added to the patch. Only new modules will apply the default setting on add. Each module stores its theme within the patch and will only change by the the individual setting.

[2020-01-10 21:34] Coirt commented on #88
Dark as default is not a global thing?

Added all and the freeze bug seems to occur with midi step

![themeBug3](https://user-images.githubusercontent.com/12150421/72187889-cf38df80-33f0-11ea-904f-f969bdc6d29f.PNG)

[2020-01-10 21:54] stoermelder commented on #88
"Dark as default" is a global thing but only for new modules. It does nothing for modules already added to the patch.

Can't reproduce any freezing. Will look further.

[2020-01-10 22:04] Coirt commented on #88
Ah okay it is the same with other modules with dark themes, I see. If you can change individually to dark could you use `extrn` to change all to dark as default when clicked from 1 module even if in the rack.

[2020-01-11 06:52] Coirt commented on #88
It is difficult to reproduce the freezing now for me also. Will keep trying but here is what midi step does when set to dark first and then dark as default:

![ThemeBug_1](https://user-images.githubusercontent.com/12150421/72200369-814bc800-3440-11ea-900c-d7f18cdd6181.gif)

_Also happens without setting dark first_

[2020-01-11 07:15] vcvrackideas commented on #82
Thanks, it seems to me inc dec now work fully ok!
I've also noticed that with slew =0s in relative and absolute mode there are slighly bitcrushing artifacts when moving a knob in any sound module like we applied a little bit of bitcrusher modulation. It's gone when add slew a little bit more. I suppose there was a "smooth" option before and it was for removing such artifacts, is that right? or you

[2020-01-11 09:12] stoermelder commented on #88
Ah ok, thanks, fixed in 68c847bc1a04f1121b9a442ba92227b04be15102.
Still trying to reproduce the freezing. It might be caused by Rack's MIDI API which caused some crashes for me in the past.

[2020-01-11 09:17] stoermelder commented on #82
Yes, you noticed right. I removed the "Smoothing" option as it caused too many problems with MIDI feedback if using the out-port. Also, VCV MIDI-CC has built in smoothing. Was the smoothing useful for you?

[2020-01-11 13:29] ligantx commented on #80
@stoermelder sorry for being so late, i tried it today and it looks to work but partially.. i mapped two latch button of my akai mpk mini and i can turn on and off but it isnt consistent..ill try to make a video of this later in the day..
actually is there any way to know if i pressed these small midi cc buttons of intermix?

[2020-01-11 14:57] stoermelder commented on #80
Yes, you can enable parameter tooltips and hover over them with the mouse pointer. One thing you have to know: You need to press and hold one of the horizontal controls first, then one of the vertical controls afterwards.

[2020-01-12 10:43] tomfug opened #89 "MIDI-CAT - Feature request: lock"
Hope it’s ok to suggest features here... love using MIDI-CAT with controllers that have visual feedback. Really added to the whole vcv rack experience. What I would love to see is a right click menu to lock the module, so that nothing can be mapped or unmapped in that state. This would prevent unmapping or mapping a controller with accidental mouse clicks in the module.

[2020-01-12 11:41] stoermelder commented on #89
Hi @tomfug, thanks for your suggestion! Added in ecb4b33098a68564574108e53470e09e37518ff6.

[2020-01-12 15:33] Boscop commented on #79
Yes, it would be useful (probably even as a default, but only in fast setting) but it also should be possible to disable it (via context menu) for some use cases.

@stoermelder This smoothing method works quite well:
https://github.com/JordanTHarris/VAStateVariableFilter/blob/b4ee4ac688a27b8cd1fa7c135ed8e316a3ac53be/Source/Utilities/ParameterSmoother.h#L123
It has configurable smoothing speed. (Bt

[2020-01-12 15:39] Boscop opened #90 "MIDI-CAT: Note doesn't toggle"
Hi, thanks for this great pack, I've been testing MIDI-CAT, and it seems to work well for CCs, but for notes, it doesn't work with Toggle mode. I tested it on the solo/mute buttons of the MixMaster module: The button state stays ON after being toggled on, no matter how many times I press the key (on my midi keyboard) after that.

[2020-01-12 16:33] stoermelder commented on #90
Thanks for reporting. This is a bug in the current public release and has already been fixed in b188c38.
You can download a recent build from here https://github.com/stoermelder/vcvrack-packone/releases/tag/Nightly or wait until v1.5.0 is released to the library.

[2020-01-12 16:39] Boscop commented on #90
Thanks for the quick response :)

[2020-01-12 16:39] #90 closed, assigned to nobody

[2020-01-12 18:38] tomfug commented on #89
Thanks Ben!

[2020-01-13 01:33] ligantx commented on #80
ill tried to replicate what i want to do:
when i press both buttons i enable the connection..when i press one of them i disable the connection,
[https://www.dropbox.com/s/u02fbvuwotp34e6/2020-01-13%2003-11-23.mp4?dl=0](url)

with INTERMIX, it is working fine to ENABLE the connection (i had to press "Full Level" button on akai mpk mini to send 0 and 1 values and not something like 0.76545), BUT i c

[2020-01-13 20:16] submitaudio commented on #56
Cool nice ;) i just installed Midi-Step and will try it out... Thanks again

[2020-01-19 17:12] tmladek opened #91 "STRIP: Feature request - Labeling?"
Hello,
hope you don't mind me suggesting a feature:

STRIP is *incredibly* handy, but once I'm more or less done with the layout of the patch, it just sits there, doing nothing (or I delete it and then have to re-adjust the strip itself).

What would be really neat is if it also had a labelling section (maybe kind of like cf's `LBL`?), so that one could use it to delimit different parts of the pat

[2020-01-29 19:51] #89 closed, assigned to stoermelder

[2020-01-29 19:52] #87 closed, assigned to stoermelder

[2020-01-29 19:52] #83 closed, assigned to stoermelder

[2020-01-29 19:53] #82 closed, assigned to stoermelder

[2020-01-29 19:54] stoermelder commented on #80
Yes, this should work.

[2020-01-30 21:35] stoermelder opened #92 "ARTIFACT"
Combination of CV-MAP and 8FACE: allows mapping of parameters and stores their current value in slots. These slots can be recalled or even morphed, manually or by CV. Provides some sort of snapshot-functionality.

[2020-01-30 21:38] stoermelder commented on #91
Thanks for your suggestion but wouldn't it be easier and more flexible just to include one of the existing labeling modules within the strip?

[2020-02-01 13:20] stoermelder opened #93 "MIRROR"
Module which uses parameter mapping to "clone" each value to one or more instances of the same module, exploiting the expander mechanism.

[2020-02-01 13:21] stoermelder opened #94 "MAZE - add ratcheting settings for each playhead"

[2020-02-01 13:22] stoermelder opened #95 "MAZE - add option for disabling port normalization"

[2020-02-01 13:57] matthleg opened #96 "Idea for new module based on midi-cat"
Hello, few days ago I did a small patch based on "midi-cat" and "strip" to use the same controller to controll diffrerent things (for those ,who have only one controller and want more knobs)
see photo
![Screenshot (10)](https://user-images.githubusercontent.com/36376831/73593265-6c73c900-4502-11ea-8e0d-2cfdbaddcce4.png)
and now I am thinking it could be really nice to have this in one module: to h

[2020-02-01 14:05] stoermelder commented on #96
23volts released a module which works this way I think, it’s called MUlTIMAP. Maybe you want to check it out, I hadn’t had a chance yet...

[2020-02-01 14:09] matthleg commented on #96
thanks for the iinformation I will have a look and tell you if it works for
me.

Le sam. 1 févr. 2020 à 15:05, Ben <notifications@github.com> a écrit :

--
Matthieu Legros violinmaker
masarykova 9
60200 BRNO
CZECH republic
+420 773 080 023
www.luthier-legros.com

[2020-02-01 14:39] matthleg commented on #96
I just tried MUlTIMAP, it is a nice module but it doesn't have the option
you have: PICKUP(JUMP) so it is not really useful...
But I will contact him to see if he can do it.

Le sam. 1 févr. 2020 à 15:09, Matthieu Legros <matthleg@gmail.com> a écrit :

--
Matthieu Legros violinmaker
masarykova 9
60200 BRNO
CZECH republic
+420 773 080 023
www.luthier-legros.com

[2020-02-01 17:59] stoermelder commented on #79
I had slew like MIDI-CC added at some point but it caused major problems with MIDI feedback so I dropped it. I thought a lot about it since then and I don't think it can be done with reliable MIDI feedback. Does any of you have a suggestion how smoothing can be added without breaking MIDI feedback?

[2020-02-01 19:49] JustMog commented on #87
Can confirm this works great with Ableton's push (2). No setup required on the push end,
Beatstep Relative #2 and NI Komplete both work equally well. Thanks!

[2020-02-01 21:35] #95 closed, assigned to stoermelder

[2020-02-01 21:36] #94 closed, assigned to stoermelder

[2020-02-03 00:37] johnnovak commented on #79
Maybe if you would describe the feedback problem in detail some of us could help? I'm not sure yet what the problem is.

[2020-02-03 00:38] johnnovak commented on #79
Also, this means the official MIDI module is also prone to feedback problems? If not, how so?

[2020-02-09 08:17] gazzar opened #98 "MIDI-STEP - add Relative (lin 2’s Comp.) / 7Fh/01h mode"
Since it's bad form to post to closed threads, I'm creating a new request for a different relative encoder mode in SAIL. In the closed thread, there's mention of three relative modes that the Beatstep Pro supports but I have a different controller with only one relative mode that seems different from all of the modes described in that thread. It is what is referred to in the Ableton docs as a "Two

[2020-02-09 13:10] stoermelder commented on #98
Thanks for your suggestion. I think you want it added to MIDI-STEP. This mode looks straightforward and easy to implement, also I have access to a Surface Dial at work for testing.

[2020-02-09 13:23] stoermelder commented on #79
The problem is that smoothing will cause a „MIDI feedback loop“, not sure how to call it. When a new value is received by MIDI and smoothing is applied, the actual knob position will have some different value which will be sent back to the controller. In most cases the controller will jump its position to the smoothed value but you’re might still be moving the control. This will sent another MIDI

[2020-02-09 14:22] gazzar commented on #98
Hey Ben, with that hint I think it may actually work already. Elephant lets you set the encoder values in the driver control. I just did a quick test changing them from [127, 1] to [63, 65] then setting MIDI-STEP to the Behringer mode, hooked the outputs to SAIL and it seems to work. I'll need to do a little more testing. If you like I, after I'm satisfied, I could send through some screenshots of

[2020-02-10 00:45] johnnovak commented on #79
Ah, I think I see what you mean. What about disabling sending back values when smoothing is applied? That would solve the problem for now for sure. I think many people could live with that compromise (I for one don't care about sending values back, so it's a non issue for me).

Then maybe in the future you can devise a method to get rid of the "feedback" when sending back values.

[2020-02-10 03:03] mattcollier commented on #20
Hello, STRIP rocks!  What we're looking for is the equivalent of an 'instrument rack' in Ableton Live. What is need is a convenient way of patching the instrument rack into the rest of the rack which is what this issue is about.  But also, what is needed is a convenient way to provide modulation to the internals.  This is 'mapping' in Ableton as demonstrated here: https://youtu.be/wqgG9rBrRcs?t=26

[2020-02-10 11:07] gazzar commented on #98
Hi again Ben. I spent a bit more time testing and Elephant indeed seems to work fine when set up as I described above. I did notice a little quirk where the Rack knob or slider being controlled can occasionally fail to reach the extreme ends of its range. Moving the mouse pointer away from and back over the control then allows the control to continue increasing or decreasing to its limit. Since MI

[2020-02-10 13:18] Xenakios opened #99 "INTERMIX - Fade times not working?"
It appears the fade in/out knobs don't do anything, the scenes switch immediately without fades applied when clicking on the buttons in the GUI. (Could be a user error/misunderstanding, though...?)

[2020-02-10 13:54] stoermelder commented on #99
Did you set the input port for fading? The display should show FAD.

[2020-02-10 14:59] Xenakios commented on #99
Ah right, I didn't notice the fades need to be enabled separately. Works now, thanks!

[2020-02-11 23:59] submitaudio commented on #56
I just tested it with my Beatstep: a got a big legg when i use more then 16 Pile modules in combination with Midi Step. And i wanted to create 4 midi channels x 16 controllers= 64 Pile modules. ;)

[2020-02-20 16:06] tmladek commented on #91
Hm, I guess you're right; I suppose I also kind of wanted to see this functionality in STRIP because cf's `LBL` crashes at the moment (:
(Which is obviously not your responsibility by any means)

And of course, not too much space would be even saved, as any label module is also at most 2HP. Thanks for considering, anyway!

[2020-02-20 16:06] #91 closed, assigned to nobody

[2020-02-20 19:19] #99 closed, assigned to nobody

[2020-02-29 11:58] ghost opened #100 "umap or other mod"
HI is there a way to use these modules to modulate a modules menu parameters like random or presets or scales in the right click menu?

[2020-02-29 17:36] stoermelder commented on #100
While this is not possible for arbitrary menu items in Rack v1, my STRIP module provides CV control for randomize, enable and disable.

[2020-03-01 01:20] ghost commented on #100
You are kidding!! Cool

From: Ben <notifications@github.com>
Sent: Saturday, February 29, 2020 12:36 PM
To: stoermelder/vcvrack-packone <vcvrack-packone@noreply.github.com>
Cc: modman2019 <chrisabigail@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [stoermelder/vcvrack-packone] umap or other mod (#100)

While this is not possible for arbitrary menu items in Rack v1, my STRIP module pr

[2020-03-06 12:09] ghost commented on #100
yes it works. But I need a way to exclude certain parameters from randomization now using the strip module

[2020-03-06 18:53] stoermelder commented on #100
Please check the manual, this is already possible.

[2020-03-07 10:46] ghost commented on #100
Sweet you though of it all!

From: Ben <notifications@github.com>
Sent: Friday, March 6, 2020 1:53 PM
To: stoermelder/vcvrack-packone <vcvrack-packone@noreply.github.com>
Cc: modman2019 <chrisabigail@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [stoermelder/vcvrack-packone] umap or other mod (#100)

Please check the manual, this is already possible.

—
You are receiving this because

[2020-03-21 10:37] pgatt opened #102 "Bypass trigger"
Once v2 drops with the bypass setting will you have a module that is basically similar to your randomize module but for the bypass setting?

[2020-03-22 18:04] stoermelder commented on #102
"Bypass" will replace "Disable" as far as I read. As STRIP currently supports CV control on "Disable" the answer might be "yes" but we have to wait until the source code for Rack v2 is made public.

[2020-03-22 18:05] #100 closed, assigned to stoermelder

[2020-03-22 18:09] stoermelder commented on #59
This one needs a new name...

[2020-03-23 07:00] gwatcha opened #103 "Not an issue I just wanted to say these modules are blowing my mind and I love you"
these are soooo cool
holy crap
all my minor annoyances with vcv rack have been vanquished
all this is so cool

thanks dude

[2020-03-26 22:34] stoermelder commented on #103
Thanks! Have fun and make some great music :-)

[2020-03-26 22:34] #103 closed, assigned to nobody

[2020-03-28 22:04] stoermelder opened #104 "STARLIGHT"
Stars falling from the sky...

[2020-03-28 22:05] stoermelder opened #105 "FLOWER + OFFSPRING + SEEDS"
Sequencer. Currently in development.

[2020-03-29 04:41] gazzar opened #106 "SAIL - Relative encoder mode fails to reach extreme ends"
_Originally posted by @gazzar in https://github.com/stoermelder/vcvrack-packone/issues/98#issuecomment-584070937_

I suggested in the above comment that there might be a bug in SAIL but maybe it's an intrinsic limitation I don't understand. Since that comment thread was marked as an enhancement I'm creating a new issue to enable this to be tracked as a bug (or closed if I'm misunderstanding someth

[2020-03-29 09:16] stoermelder commented on #106
Can you confirm this only happens if INC/DEC and IN are used the same time?

[2020-03-29 11:49] gazzar commented on #106
Actually I don't have IN connected. I just have INC/DEC connected like this and it still happens

![image](https://user-images.githubusercontent.com/131836/77848285-6acb3680-720f-11ea-9bb0-da399a3308e1.png)

[2020-03-29 14:11] stoermelder commented on #106
You are right. I did some strange calculations when entering a new parameter, not sure why I did it and what I was thinking. Can you check the latest build if it works for you?

[2020-03-29 17:31] stoermelder commented on #106
Ok, this was a real mess. I remembered why I did it this way but there was no hope for the existing code, I've rewritten the how logic of the module. You can't use IN and INC/DEC the same time anymore but it should work now as expected.

[2020-03-29 22:36] gazzar commented on #106
I just tested the nightly build and I'd say it is fixed now :) I think I hammered it fairly hard on various types of controls and I couldn't fault it. Let me know if there is anything else specific you want me to try. Thanks for fixing this; I think it's really nice and feels robust now!

[2020-04-09 05:56] vcvrackideas opened #107 "GRIP"
Hi Ben! Hope you're doing well.
I very like the option in your mapping modules that's called "lock parameters". I decided to try it to lock parameter that I don't want (or any user) to change anymore (to control only by external CV, for example for replicating synth in VCV or so). I was hoping CV PAM module could just work as a locker module for "mapped" knobs but it won't able to do that without

[2020-04-09 14:33] stoermelder commented on #107
Module added, feel free to test :-)

[2020-04-09 17:38] vcvrackideas commented on #107
Oh Ben, that was FAST! And yeah, works even more than expected) I mean this tiny panel is a pretty nice for the really big patches that need this module for sure, I like red mapping squares as well. Great job! looking forward for library release

[2020-04-10 03:33] vcvrackideas opened #108 "Browser for Strip"
One thing that still take me apart from permanent use of Strip as collection of "effect racks" is a lack of kind of internal mini browser even in right click menu. Could you say is it hard to implement some default user library folder and cache strip files to a strip for faster loading? The best looking and ux thing I've ever seen is Abletons user library, you can just drop any new effect or synth

[2020-04-10 10:57] ROGAVKA opened #109 "PILE: OUT stays high while RESET is high"
I just noticed that the output of PILE stays high as long as RESET input gate is high.
Is it intended behaviour? It messes my patch a bit with manual resets I do from my controller.

[2020-04-10 16:02] stoermelder commented on #109
RESET was actually intended to reset to the port's input voltage. Say, if want to set the current voltage to 5V and increment or decrement from there you trigger RESET with 5V. I guess this behavior makes it kind of hard to reset to 0V...

[2020-04-10 16:20] ROGAVKA commented on #109
Are you sure it works as intended then? If i send 5V trigger to RESET then in the end (when trigger comes back to zero) I end up with 0 on OUT. So, to reset a module to 5V one has to send 5V **constant** voltage to RESET... seems kinda counter-intuitive

[2020-04-10 19:18] stoermelder commented on #109
Yes, I am sure but I agree with you that it is not very intuitive. I guess I add an alternative mode for the RESET port?

[2020-04-10 22:15] ROGAVKA commented on #109
Sounds cool :) Just throwing an idea here, but what about adding also an OFFSET knob, so one can easily dial in specific reset value? It seems that PILE has some free space...

Also not to spawn request issues on the same module, have you considered adding polyphony to PILE? I use 16 instances today with same settings feeding from 16 knobs of my beatstep... And if I need another channel then it's

[2020-04-11 12:44] stoermelder commented on #109
I added POLY-PILE an few minutes ago. There would have been be too many corner-cases to handle if adding polyphony to the existing module, so a new module it is.

[2020-04-11 14:35] ROGAVKA commented on #109
Wow, that's awesome, thanks a lot!

[2020-04-11 17:32] stoermelder commented on #108
There are quite some limitiations in the user interface of Rack. While investigating an idea today I found out that it's possible to create a custom overlay like the module browser. It would take some amount of work but something similar for presets would be possible...

[2020-04-11 17:41] stoermelder commented on #88
I think this issue had been resolved.

[2020-04-11 17:41] #88 closed, assigned to stoermelder

[2020-04-11 17:44] stoermelder commented on #56
In the latest build MIDI-STEP can output all 8 channels on using a polyphonic cables on the first port and I added a polyphonic version of PILE called POLY-PILE. Feel free to check them out.

[2020-04-11 17:48] stoermelder commented on #77
I'm closing this one as MIDI access to hardware is handled by Rack itself and using the same MIDI device in multiple modules is definitively possible.

[2020-04-11 17:48] #77 closed, assigned to nobody

[2020-04-11 17:51] vcvrackideas commented on #108
Wow, looking forward for any solution you will find!

[2020-04-11 17:53] stoermelder commented on #108
Any suggestion how this could look like? A mockup maybe?

[2020-04-11 18:05] vcvrackideas commented on #108
Not really, I was only thinking about the list of presets and subgroups in right click menu, but I can't imagine yet how's custom overlay can be, could it contains some screenshot of strip? So technically is it possible to get some overlay like module browser on right click? If you can explain the technical limits of this I will think about mockup for sure!

[2020-04-12 22:14] stoermelder opened #111 "GLUE"

[2020-04-13 06:09] vcvrackideas commented on #111
Thanks Ben, this is AWESOME. I have some another suggestions though) What do you think on DUPLICATE option near the DELETE function in the right click on the module or on the each already added label? So when Duplicate is pushed Label switch would be automatically on and then user gonna select a new module to copy selected label and then apply to it with the same parameters and color as well, or i

[2020-04-14 00:45] submitaudio commented on #56
O Woow ok....
is it version 1.5?

[2020-04-14 00:48] submitaudio commented on #56
It's in version 1.6, ok nice....
please let me know when i can test it...

[2020-04-14 05:55] vcvrackideas opened #112 "Overlayed Blank Panel for hiding unwanted modules for tweaking but still needed for the patch"
So Ben since you're the god of absolute hacking (and especially for overlaying purposes now!) I've got another suggestion for you :-)
For example I have a strip, and I bring all of controls to the left and the core of the strip (modules that do the job and that mad bunch of connections) to the right. So to start using the strip creatively I don't even wanna see the core modules, all of those light

[2020-04-14 06:29] vcvrackideas commented on #112
Also I'm dreaming about the constructor which would allow to add on this (possible) overlayed panel knobs and cable ins\out to even more reduce the width of the strip (to remove all of those controls from the left of typical patch I've talked above). But I'm quite sure this is a bit away from the possible thing to do at all. Just share some thoughts, maybe sometime Rack API would allow to do that.

[2020-04-14 06:50] vcvrackideas commented on #111
Thanks for implementing duplicate feature Ben! However it doesn't copy an opacity settings (but not a big deal). Could you also do an automatic highlighting a label text in right click menu on the label itself? it can improve the speed of editing labels (also not a big deal, but just handy, I've seen it in new Submarine TD-410 text tool).
EDIT: sorry Ben didn't noticed it at the first time. Duplic

[2020-04-14 21:46] stoermelder commented on #111
Do you think this makes sense? It is just one line to be added but wouldn't you edit the text of the duplicated label anyway?

[2020-04-14 23:43] submitaudio commented on #56
ThanXX you so much ;) This makes VCV like real hardware ;) working nice with 4 midi channelsx16 knobs

![image](https://user-images.githubusercontent.com/6167892/79284204-3b2c5780-7eba-11ea-9c62-d49a171638de.png)

[2020-04-15 06:47] vcvrackideas commented on #111
So now it doesn't make any sense because you've just added a short name of the modules when created, and this is nice and don't need to duplicate text anymore, thanks!
And thanks for the CTRL+A! a huge timesaver
EDIT: btw Ctrl + A is only starting working when I added the first label by the previous standart operation. and then continue to work even I delete all the labels.
And thanks for the high

[2020-04-15 07:33] stoermelder commented on #111
Actually I didn’t add a short name, I added shortening the text to the label width. If the label is big enough the full text is shown as before.

Ctrl+A is only handled if GLUE is unlocked which automatically happens if you add a lab using the switch. The reason for that is you can have multiple GLUE modules and you don’t want them all to add a label on Ctrl+A.

[2020-04-15 21:11] JustMog opened #113 "ARENA - mix output levels"
having an issue with arena where the volume level of mix outputs 2, 3 & 4 seems only to update when the mix port position changes, otherwise not reflecting changes in in port positions.

[2020-04-16 10:59] Gbary1974 opened #114 "8Face crashes when paired with midi-map"
Had an issue trying to use 8Face to expand the functionality of midi-map. I have used midi map to map a launch control and then saved to step 1 of 8face. I've then remapped the launch control and saved this to step 2 on 8Face. When switching between them it seems I can switch from 1 to 2 fine but switching back causes rack to crash. I've attached a log txt.
[log.txt](https://github.com/stoermelder

[2020-04-16 12:51] stoermelder commented on #114
Most probably it is caused by the MIDI driver. I suggest you use one of the MULTI-MAP modules from 23volts which were developed exactly for this use-case.

[2020-04-16 13:35] vcvrackideas opened #115 "GLUE - support for labels inside STRIP"
Hope you can fix it...because otherwise nice dreams about good labeled STRIPS might be fall) Sure, I've included GLUE instance inside a strip but nothing happened. Tested two times with different strips but no effect.

[2020-04-16 13:38] stoermelder commented on #115
Known issue. May be fixed at a later point as it needs ugly hacking JSON data.

[2020-04-16 16:34] Gbary1974 commented on #114
Thanks for responding Ben, yes 23volts has exactly that thanks and works a treat. And don't worry I still have plenty of uses for 8Face.

[2020-04-19 15:12] #114 closed, assigned to nobody

[2020-04-19 17:37] stoermelder opened #117 "Linear-feedback shift register"

[2020-04-19 17:38] stoermelder commented on #107
Thanks Artem :-)

[2020-04-19 17:38] #107 closed, assigned to stoermelder

[2020-04-19 17:39] stoermelder commented on #105
Release is planned for 1.7.0.

[2020-04-19 17:44] stoermelder commented on #80
I'm closing this issue as its request will be implemented in another (experimental) module.

[2020-04-19 17:44] #80 closed, assigned to stoermelder

[2020-04-22 10:07] stoermelder opened #118 "Rungler"
https://www.muffwiggler.com/forum/viewtopic.php?f=17&t=155934

[2020-04-26 19:31] submitaudio opened #119 "MIDI-STEP - broken poly mode"
Midi step polymode: (V 162 beef 3a)
Thanks again for your nice updates. I have installed the latest Beta version.
I wanted to use Poly mode in midi step module (16 knobs) but there are only 8x2 conections in the module, how can i get 16x2 (inc/dec/) Or will you place a poly conection?
At this moment i have conected like this:

![image](https://user-images.githubusercontent.com/6167892/80317417-fa1

[2020-04-26 19:38] stoermelder commented on #119
If you switch to poly-mode all 16 channels are send on the first ports of INC and DEC. This way you only need one poly-cable to POLY-PILE. Let me know if it works for you.

[2020-04-26 22:58] submitaudio commented on #119
I tried, but no poly cable...

![image](https://user-images.githubusercontent.com/6167892/80322011-25a41f80-8822-11ea-9d45-3260e54c9e94.png)

[2020-04-26 23:13] submitaudio commented on #119
Take a look at my new build template (with 10 midi channels and 120 signed knobs and buttons ;)

[Mutable-instruments-template-V2.zip](https://github.com/stoermelder/vcvrack-packone/files/4536650/Mutable-instruments-template-V2.zip)

[2020-04-27 05:09] stoermelder commented on #119
You're right, please try the latest build, it is fixed now.

[2020-04-27 14:03] Telerex commented on #111
Loving Glue, the implementation is great.
Is there any chance of getting more colours in Glue or at least a black and white mode?

[2020-04-27 14:07] stoermelder commented on #111
Did you notice there is a input field for a custom color as hexstring?

[2020-04-27 14:40] Telerex commented on #111
I thought that was for display purposes only, as I can't seem to enter a string in that part of the apperance section. I know that that this is a pre-release version of Glue and that I should have given you more to fully implement it's features, but didn't want to miss out on such an important thing. Again, great module (as are all your others).

[2020-04-27 14:43] stoermelder commented on #111
There was indeed a problem with this input-field which has been fixed about a week ago. Did you try the latest build?

[2020-04-27 14:46] Telerex commented on #111
Will do. Thanks.

[2020-04-29 08:31] submitaudio commented on #119
Thank you for you hard work! On my (pc) laptop it's working perfect now!

Yesterday i build a large template file on my laptop (pc) and this morning i want to open the same file on the Mac, but i got a crash on startup. I installed exactly the same nighty build version on both systems... i have zipped the log and template file.

[S67-VCV-log.zip](https://github.com/stoermelder/vcvrack-packone/file

[2020-04-29 09:59] stoermelder commented on #119
Oh wow, there are a lot of my modules :-)
I had to rewrite how GLUE and GOTO store their settings which caused this problem. Thank you for reporting, it is fixed now in the latest build.

[2020-04-29 10:36] submitaudio commented on #119
Woow you are faster then light ;) It's working on both systems... And yes i have mapped about 160 knobs and buttons... I am so happy ;) I have build a fixed template and now i can create the real music!
ps. also nice that the Glue module have the function hide ;)

[2020-04-30 15:57] MaZe6K opened #120 "8FACE - ignore empty slots when using "trigger forward" to cycle"
Hello!

If possible, I think it would be a good idea to ignore empty slots when using a trigger to cycle through the saved presets in 8FACE, so that when you have only 3 presets saved for example, it skips back to preset 1 when receiving a trigger while on preset 3.

[2020-04-30 16:07] stoermelder commented on #120
I implemented it this way so someone can change presets on beat 5 an 7 but nothing happens on the other beats.
How about a „Clean up“ function on the context menu which removes empty slots and moves everything „to the top“?

[2020-04-30 16:22] MaZe6K commented on #120
I think I would prefer to have an option to ignore empty slots in the right click menu, or maybe an option to set the sequence length?
I didn't think about using it with empty slots on purpose like you mentioned, it makes sense too, but  might be a little more complicated to manage, since you can not delete slots.
Of course you can also use the reset as a workaround, so it's not crucial to the fun

[2020-04-30 16:56] stoermelder commented on #120
You can set the sequence length by long-pressing one of the buttons. Also, you can reset slots by long-pressing in write-mode.

[2020-04-30 17:15] MaZe6K commented on #120
oooh... sorry for not reading the manual.
That's amazing! :)
So then this thing is pretty much perfect as it is, sorry for bothering.

[2020-04-30 17:39] VegaDeftwing commented on #108
Hmm, I don't imagine a screenshot would be easily doable, so maybe even just a better load menu that opened a 'window' internal to rack instead of relying on the file manager that lists what modules are in the strip file? Also, I could see strip being expanded to include some in and out ports (basically an internal send/return, Like Vult's 'Send', but no knob) that are saved in the strip's wiring

[2020-05-01 01:06] Eurikon opened #121 "ROTOR mod A - output channel offset"
Hi Ben,

would it be possible to have a user selectable range for the output channels.
So that it would be possible to set a number of channels between A & B
ie: 3,4,5,6 or 9,10,11,12,13
etc.

hope that makes sense.
Cheers,
Latif

[2020-05-01 04:21] stoermelder commented on #121
Hi Latif, you mean an offset for the first channel used?

[2020-05-01 09:58] Eurikon commented on #121
Hi Ben,
yes i guess you are right, an offset for the first channel please :)

[2020-05-01 11:05] stoermelder commented on #121
At first I thought this should be a good idea but now I’m not to sure anymore. Can you describe your use-case for this?

[2020-05-01 16:09] Eurikon commented on #121
![rotor](https://user-images.githubusercontent.com/40998416/80819958-4d0a3c00-8bd6-11ea-8150-216d23ecfacb.png)

For example in this use-case i would like to send the random triggers that Rotor is receiving from the switch module.
To channel 4 - 8 while they are being rotated by Rotor over outputs 4 - 8, through one poly cable.
So that to control the mutes for Mindmeld channel 4 - 8.

[2020-05-01 16:11] stoermelder commented on #121
Ah, its about the output (and not the Input), that makes sense.

[2020-05-01 18:10] Eurikon commented on #121
Yes, the output :)
So my answer should be: an offset for the first channel of the output.
Maybe a small knob under the big channel knob, or a ring around the channel knob.

Thanks!

[2020-05-01 21:11] stoermelder commented on #121
Added in the latest build.

[2020-05-02 08:05] #119 closed, assigned to stoermelder

[2020-05-02 08:06] #93 closed, assigned to stoermelder

[2020-05-02 08:06] #111 closed, assigned to stoermelder

[2020-05-02 08:06] #121 closed, assigned to stoermelder

[2020-05-02 08:06] #23 closed, assigned to stoermelder

[2020-05-02 08:08] #106 closed, assigned to stoermelder

[2020-05-02 08:09] #120 closed, assigned to stoermelder

[2020-05-02 20:08] Eurikon commented on #121
Hi Ben, i just tried it.
I am getting a different result with the offset then what i was expecting.

Instead of moving the group of channels that is set with the output rotary, the offset is adding channels at the end.
So it appears more like it is offsetting the last channel.

The desired behavior should be:
when channels: 1,2,3,4 are set with the output rotary knob,
the offset knob should move t

[2020-05-02 20:21] stoermelder commented on #121
Hm, I can't reproduce what you are describing, actually it works that way?
![r](https://user-images.githubusercontent.com/47640667/80891250-178f4c80-8cc3-11ea-8680-32f96ea6441d.gif)

[2020-05-02 20:46] Eurikon commented on #121
Ah excuse me, i have not checked the actual output.
I made my assumption based on the led lights that stayed on.

sorry for that!

But then still (based on the led lights) when turning the offset further to the right, it will light up even more leds, which is kind of confusing?

[2020-05-02 20:50] Eurikon commented on #121
Oh wait, this is a problem that is inherent to how the code works for those underlying channels.
i remember seeing a situation like this before in some other modules i was testing at the time for Marc & Steve.

It is something that can not be changed right?

(the offset feature is working well btw. just testing it now with actual output connected, thanks for that!)

[2020-05-02 20:51] stoermelder commented on #121
No problem. I could change how the led show the channels but the wouldn't represent the acutal cable. It is not possible in Rack to use only channels 5-8 in a cable, you can only set the number of used channels, so it's always channel 1...maximum.

[2020-05-02 20:53] Eurikon commented on #121
Right, i remember now.

It might confuse some other users as well down the road.
But i do remember now why this is.

Thanks Ben!

[2020-05-02 20:55] stoermelder commented on #121
Maybe I can do something with colors to indicate that some channels aren't active.

[2020-05-02 20:56] Eurikon commented on #121
Perfect! :)

[2020-05-03 10:17] vcvrackideas opened #122 "An idea for showing CPU meter like in VCV in the corner"
Hi Ben! I've seen that you added FR module which is something like overlay counter of current framerate right? What do you think is it possible to do sidecar of overall CPU meter in VCV Rack like in Ableton using that kind of corner's layout? I pretty miss kind of overall CPU meter that was in Audio VCV module before

[2020-05-03 13:21] nnbveh opened #123 "MIDI-CAT total recall on opening the patch."
I'm using MIDI-CAT with touchOSC controller app through touchOSC bridge. The combo works perfectly(so far at least), and i'm getting two-way communication.
The problem is, when i start both Rack and touchOSC and open a patch, the values set for all the mapped parameters in vcv rack are not being send to the touchOSC. There's a simple workaround i've found: i just initialize MIDI-CAT from the conte

[2020-05-03 13:33] stoermelder commented on #123
I guess this is a problem on touchOSC-side as it works with hardware MIDI controllers exactly this way.
@vcvrackideas you use touchOSC most of the time, does this work for you?

[2020-05-03 13:44] ghost opened #124 "Can Strip exclude paramaters for entire modules?"
I would like to save a set of modules as a preset but I want to use the random feature and exclude modifying certain modules (all parameters always). Is there a way to do that?

[2020-05-03 13:51] nnbveh commented on #123
I see. i've tried it more and it works if i start touchOSC first, leave the config menu, and THEN open the patch. I guess there's nothing to do here but to remember to open both in the right order. Although it would be great to have an option to be able to send all the values manually...Thanks for the fast response! I'll contact the developer of the app and ask him if there's a way to improve this

[2020-05-03 13:54] stoermelder commented on #124
Yes, it is described in the manual.
https://github.com/stoermelder/vcvrack-packone/blob/v1/docs/Strip.md#on-off-rand

[2020-05-03 14:02] vcvrackideas commented on #123
Just open touchosc layout first, all knobs down, run touchosc bridge if you use it and only then, at last run VCV Rack patch which was been already mapped to this layout. Profit!) This is because MIDI-CAT send midi feedback when it's opening

[2020-05-03 14:07] nnbveh commented on #123
I've just replied with exactly this...Would be great to be able to send it manually any time though. OH, i saw an option to import a midi map preset, but i don't see a way to export it, how does one save them?

Thanks!

[2020-05-03 14:14] stoermelder commented on #123
I just added a context menu option for that. I did not test it but it should work as expected.

You can't. I don't see any use for exporting presets to MIDI-MAP. Why do you want that?

[2020-05-03 14:18] nnbveh commented on #123
Cool. Thanks!

Dunno, why is there import? I thought it was so we could load pre-mapped configs no? I was basically just wondering why there's this option at all, without having a real need for it yet, sorry)

[2020-05-03 14:24] stoermelder commented on #123
Maybe you misread something. The import function is for VCV MIDI-MAP in case you have set up all your mappings in the stock module and you want replace it with my module.
Presets can be saved and opened in the "Preset" submenu but presets make not really sense for MIDI-CAT as mappings are specific for a set of modules which won't reappear in any other patch.

[2020-05-03 14:25] stoermelder commented on #122
Actually the module only un-hides a widget which is already included in Rack.
Measuring CPU usage is a quite difficult task and Rack has changed internally in v1 what made it work a different way. We'll see what Rack v2 brings in this matter.

[2020-05-03 14:26] nnbveh commented on #123
Now i get it, thanks. I thought it was some sort of mapping presets specific to this module...

[2020-05-03 14:33] #123 closed, assigned to nobody

[2020-05-03 16:01] ghost commented on #124
It says parameters can be excluded, but how about the entire module?

[2020-05-03 16:11] stoermelder commented on #124
You can’t. You can exclude all parameters or you can just break up the strip which keeps your module from randomizing.
I don’t think it worth adding anything new for this rare use-case.

[2020-05-03 18:41] stoermelder commented on #56
As the Beatstep works nicely with MIDI-STEP I'm closing this issue. Adding this functionality it would make MIDI-CAT much to complicated to handle for code and user.

[2020-05-03 18:41] #56 closed, assigned to stoermelder

[2020-05-06 07:19] stoermelder commented on #105
Development is progressing, added extender OFFSPRING for multiple synchronized sequences.
SEEDS will be an expander for triggers/gates.

[2020-05-08 07:53] vcvrackideas opened #125 "STROKE"
Hi Ben! Stroke is awesome and problem solver, thanks so much!
I found sometimes in gate mode some hotkeys are frozen the gate output. BUT it made some ideas for me and here is my suggestion - what about toggle hotkey mode for gate output? So in that mode we could for example apply ON state for output voltage and then disable it by pressing that hotkey again. Maybe useful for simple toggle automati

[2020-05-08 15:46] zeronoises opened #126 "GLUE crashes Rack"
On my fully updated Arch system (LTS kernel) following the instructions for GLUE:

- I click on LABEL
- I then click on any other module
- Rack crashes with it's generic message

The log ends with the following:
[code]

[2020-05-08 15:50] stoermelder commented on #126
Already fixed. Please use the latest build or wait until the update arrives at the Library.

[2020-05-08 15:50] #126 closed, assigned to nobody

[2020-05-08 18:47] stoermelder commented on #126
One additional note: When you click „Initialize“ on the context menu after adding the module it will work without any further problems.

[2020-05-09 08:27] stoermelder commented on #125
Thanks, Artem, for your suggestions!

[2020-05-09 08:39] vcvrackideas commented on #125
Thanks Ben it works awesome now! Tested with 1-8 keys and mindmeld mixer (GATE high low option) and stroke saves this state after rack reload. Very handy if user don't want to mess with midi controller and want to just setup main template with fast access like in Ableton, so gooood!

[2020-05-12 21:30] Xenakios opened #127 "Add new module or new feature to existing module : OSC remote control of modules"
Open Sound Control (OSC) is a network communication method between devices to control audio and other media applications. (For example a mobile phone touchscreen can be used via an application like TouchOsc to send control messages to another device.) At the moment there is no VCV Rack module that implements that as conveniently(*) as some of the MIDI capable modules do. I propose adding a new mod

[2020-05-12 21:41] stoermelder commented on #127
At the moment I have no interest in OSC as I don't use it myself. That been said it think there is a already very comprehensive module available?
https://github.com/j4s0n-c/trowaSoft-VCV#cvosccv

[2020-05-12 21:55] Xenakios commented on #127
The TrowaSoft module is exactly the one I've been trying to use and it just doesn't work that conveniently. It appears it wants some really particular OSC messages to be sent into it and that isn't as nice as having a module that could learn the messages it is receiving from the network.

Anyway, thanks for your comments. I guess I have to start working on this myself, then.

[2020-05-29 22:07] stoermelder commented on #115
Now available, will be included in v1.7.

[2020-05-29 22:07] #115 closed, assigned to stoermelder

[2020-06-01 20:04] ShofB opened #128 "Glue/Strip interaction"
I saved a strip collection which included some labels on one module (both of these are GREAT BTW).  When I used Strip to load in the saved preset none of the labels showed.  I did save Glue with the preset.

[2020-06-01 20:07] stoermelder commented on #128
Thank you for the request. This feature has been implemented a few days ago and will be available in the next update.
You can use the most recent build if you want it right away.
https://github.com/stoermelder/vcvrack-packone/releases/tag/Nightly

[2020-06-01 20:20] stoermelder commented on #128
#115

[2020-06-01 20:20] #128 closed, assigned to nobody

[2020-06-01 21:10] ShofB commented on #128
It still doesn't work for me.  I installed the new version, saved a new preset, loaded it in and the labels did not show.  I am running the latest version of Rack on W10.
________________________________
From: Ben <notifications@github.com>
Sent: Monday, June 1, 2020 8:20 PM
To: stoermelder/vcvrack-packone <vcvrack-packone@noreply.github.com>
Cc: ShofB <shofb@hotmail.com>; Author <author@noreply.g

[2020-06-01 21:12] stoermelder commented on #128
Did you include GLUE in the strip? If yes, please provide the vcvss file for further investigation.

[2020-06-03 15:48] Chaircrusher opened #129 "MIDI-CAT forgets MIDI Driver assignments when loading a patch"
I use MIDI-CAT to set up performance controls for Rack patches from my midi controllers.

If I save the patch and exit, the next time I run Rack and load the patch, the MIDI device assignment is no longer set.

And actually I just tried exactly that and it DID remember the MIDI device assignment. So I'm not sure what's going on

[2020-06-03 16:01] vcvrackideas commented on #129
Hi Kent. Are you using windows? Windows do a strange things with midi drivers at all. For example I use TouchOsc bridge driver. And on PC #1 it can be TouchOSC #2 driver and on another PC TouchOSC #3 driver. And tomorrow it can be TouchOSC #1 or TouchOSC #4 driver. :-) So I can't figure out how to manage this...

[2020-06-03 16:02] stoermelder commented on #129
Thanks for reporting, I noticed the same behavior but as I just use Rack‘s MIDI API the issue is not specific to my module, it happens on all MIDI modules.
I think, it has something to do when connecting a MIDI device while Rack is running (forgets assignment) and connecting the device before starting Rack (remembers assignment).

[2020-06-03 16:42] stoermelder commented on #129
https://github.com/VCVRack/Rack/issues/1661

[2020-06-03 17:06] Chaircrusher commented on #129
Thanks for your quick reply.  Consider this bug report a "Fix this if you can fix this" issue ;-)
It sounds like the real solution would be to have some intelligence in the code for connecting modules with devices that tries to match up devices intelligently based on names.  Probably not high on Andrew's 'to do' list.

[2020-06-03 18:06] stoermelder commented on #129
https://github.com/thestk/rtmidi/issues/116
Seems to be caused by RtMidi which is used by Rack for MIDI...

[2020-06-06 07:58] #124 closed, assigned to nobody

[2020-06-06 07:59] #109 closed, assigned to stoermelder

[2020-06-09 22:29] curlymorphic opened #130 "MIDI-CAT option to send note on velocity = 0 as feedback for note off"
Excellent module, it has enabled me to build a 16 step drum sequencer, using two Akai apc mini's and the dk drum sequencer module.

One possible feature request would be the option to send midi note on, with a velocity of zero, instead of note off when sending midi feedback, as this is what some controllers (Akai) require for setting the lights.

I have included a diff to indicate the edit I have

[2020-06-10 12:36] tomfug commented on #92
If this ever became a module, that would be absolutely amazing!

A good example of this is how snapshots work in Reaktor. In an ideal world it would have banks of snapshots and being able to save/load banks to/from files. Currently it's pretty much the only thing that remains to make VCV the ultimate live performance software (for me, that is).

[2020-06-10 13:40] stoermelder commented on #92
I didn’t follow this idea anymore, as there already a module:
https://library.vcvrack.com/23volts/Morph

[2020-06-10 13:47] tomfug commented on #92
Ah that’s a shame. It was the integration with CV-Map that was the most exciting part for me, allowing to do massive changes to a patch (50+ values) at the touch of a button. Will be interesting to see how the vst version will handle automation etc, which might make this easier to do inside a host.

[2020-06-10 13:52] stoermelder commented on #92
I will think about it, maybe I can do some sort of expander for CV-MAP.

[2020-06-10 14:46] tomfug commented on #92
I don't know how popular the idea is amongst others, but for me something like that would be an absolute game changer. Essentially having a fixed rack for performances and being able to have midi control over launching "songs" and sections of songs without touching the laptop. Also meaning not having to load up a new patch in vcv rack and thereby pausing sound. Being able to morph or randimize wou

[2020-06-10 15:35] stoermelder commented on #92
Just to be clear: If I consider this it will be possible to restore values of mapped parameters on by CV-MAP and maybe morph between them. It won’t help with different patches or other module settings besides parameters.

[2020-06-10 15:36] stoermelder commented on #130
Thanks, I will look into it.

[2020-06-10 15:52] tomfug commented on #92
Essentially the way i would see it work was like you said, an expander to CV-MAP (or even better, MIDI-CAT) and all it would do would change the values of the mapped parameters. Changing states of unmapped parameters, cable connections etc. i would have thought would be impossible.

[2020-06-15 05:50] vcvrackideas opened #131 "Stroke - toggle zoom level"
Hi Ben! I mean if we're gonna use zoom to fit and zoom out commands there - if that possible to map for example E key (first press, or toggle on) to zoom to fit and E key (second press, or toggle out) together? Now it doesn't work I think module can get the right state which command activated at the last. It's maybe a bit useful to focused only the one key to use but not necessary of course (maybe

[2020-06-15 05:59] vcvrackideas opened #132 "Spin - middle click output to switch fine state on SAIL"
I think it would be useful to switch SAIL a bit faster with using middle click power to achieve FINE control (or other function as it would be an output in SPIN module itself). I don't know if middle click allows to use toggle on\off or just a push momentary state so it's just an idea.

[2020-06-15 06:04] vcvrackideas opened #133 "Spin - control input to ALWAYS ACTIVE function"
I think it can be useful to use STROKE for this and map some button to disable or enable mousewheel scrolling via CV input on the Spin. Activate it via right click as now is still ok though but...just an idea for you as always)

[2020-06-20 01:12] jonheal opened #134 "GOTO - Use Number Pad Number Keys in Addition to Top Row Number Keys"
Is it possible? So Shift-1 would do the same thing whether you typed the 1 key in the top row or the 1 key in the number pad.

[2020-06-20 05:57] stoermelder opened #135 "STRIP - option for excluding module randomizaton"
„Randomize“ in the context menu of a module does two things: randomize all parameters and call `onRandomize` of the module. STRIP does the same, while parameters can be excluded from randomization, the module‘s `onRandomize` can’t.

[2020-06-20 05:58] stoermelder commented on #135
https://community.vcvrack.com/t/stoermelder-strip-not-only-good-for-saving-strips/4782/22

[2020-06-20 05:59] stoermelder commented on #134
Thanks Jon for your request. Should be no problem.

[2020-06-20 06:04] stoermelder commented on #131
Hm, I’m not sure if this makes things a bit complicated.
I can add a new command which kind of toggles between „zoom in“ and „zoom out“ but I don’t think it will be very useful to combine arbitrary commands.

[2020-06-20 07:01] vcvrackideas commented on #131
Ok,get it. It's just like an ordinary software use some key bindings, on\off things. I believe almost all ableton's interface commands work like that on the same bindings.

[2020-06-21 00:26] Telerex opened #136 "GLUE - label text colour options"
One of the great things I have started doing with Glue is using the hex input to match the colour of the label with the module. Would it be possible to be able to change the colour of the text in the same way, or at least have a white option if that is easier.
On a side note. Is there an upper limit to how many labels Glue can handle? I have already done 145 labels in one patch with no problems, w

[2020-06-21 10:19] stoermelder commented on #136
Yes, I can add options for text coloring.
No, there is no upper limit on software side, you can add as many labels as you want. The only limit is your hardware.

[2020-06-22 02:02] unlessgames opened #137 "CV-MAP - ignore mousewheel scroll"
I've been using CV-MAP a lot lately and came across one mildly inconvenient thing about it.

It hijacks the scrollwheel when the mouse gets on top of while scrolling around the rack. Not sure how to solve this, maybe only react to scroll events if the mouse has moved since focusing the module? Or an option to disable scroll wheel input and only allow scrolling with the scrollbar?

Thank you for th

[2020-06-22 20:38] stoermelder commented on #137
To be fair: VCV's MIDI-MAP behaves the same way :-)
I added that scroll events don't get "captured" when the mapping slots are locked by the context menu option. I hope this helps.
This change applies to CV-MAP, CV-PAM and MIDI-CAT as they share the same mapping slots control.

[2020-06-23 05:59] vcvrackideas commented on #131
I'm think I find good example for it - X mouse control software on windows allows to do some keystrokes to 4 and 5 additional buttons and in this case we can map to just one button Zoom to module and Zoom out so we could leave button for other needed thing. Cheers!

[2020-06-23 06:10] vcvrackideas opened #138 "Stroke's Zoom out amount slider"
Hi Ben! Zoom out is nice. There is one suggestion I have - could it has a slider control to define amount of zooming out? Sometimes it's not need to make full zoom out for example (especially for big patches on a laptop) just for 50% or so. Cheers!

[2020-06-23 14:46] unlessgames commented on #137
true, maybe I'll file the same issue for MIDI-MAP :d

this soultion does help, thanks!

[2020-06-23 14:47] #137 closed, assigned to stoermelder

[2020-06-24 09:40] stoermelder commented on #131
I’m still not sure how to implement this properly. How should the software determine if zoom in or zoom out is desired if the current view is anywhere random in Rack?
This question aside I added support for mouse buttons if you mouse has more than three buttons.

[2020-06-24 09:43] stoermelder commented on #138
Thanks for the suggestion. I added an additional command which centers a module on 1/3 of the screen. I’m not sure how this could be handled with „zoom out“...

[2020-06-24 18:38] vcvrackideas commented on #131
Maybe it can get an info from the Zoom slider? For example if Zoom is equal or more than 200% next state will be zoom out and the same principle with 100% - if equal or less it would be zoom to module.

[2020-06-24 18:41] vcvrackideas commented on #132
By the way I achieve that with remapping software on windows that's called KeyMapper ;-) So now for example side button can drag the rack around xy position while holding and middle click can switch fine or rough control of the Sail, just if you're curious on it

[2020-06-27 06:20] vcvrackideas commented on #131
Hi Ben! Thanks for adding zoom toggle command but I have no luck with that. I think Zoom has different settings in the rack in different resolution of a screen. For example Zoom to module is only 170 but no 200 on my 1368p laptop but I wrote you about that suggestion from my fullhd PC and there was more than 200 percents if zoom to module function is applied. Sorry( An ideal situation seems to me

[2020-06-27 11:05] vcvrackideas opened #139 "Stroke Zoom out \ Zoom to module smooth transition option"
...as in GOTO. Is it possible in theory? I found that using Zoom's slider for a bit slower zoom changings preventing in 90% of cases those vector glitches that may come from fast zoom switching. Again it maybe so complicated for this small module so still just an idea ;-)

[2020-07-06 07:27] nnbveh opened #140 "CV-MAP - Parameter changes (unlocked) feedback"
It would be great if, similarly to the MIDI-CAT module, CV-MAP would send a feedback when a parameter on a controlled module is changed manually...

As a workaround using CV-PAM simultaneously with CV-MAP would do the trick, but it's not as elegant, and i guess there would be some sort of feedback loop in that case, that's why these two are not able to be mapped to the same parameter, or am i wron

[2020-07-06 08:00] vcvrackideas opened #141 "Strip doesn't save inc\exc parameters in vcvss file"
Hi Ben! Curious would it be add in the future? Tested with polycon and even strip inside another strip doesn't work when loaded

[2020-07-06 08:11] vcvrackideas commented on #141
ADD: tried to use GRIP inside a strip but all bindings are lost when I'm loading a saved strip again...

[2020-07-09 16:57] ContemporaryInsanity opened #143 "Sockets not rendering properly on some modules when lights off engaged"
MAZE, INFIX & uINFIX render as follows with lights off engaged:

![image](https://user-images.githubusercontent.com/12547379/87068493-8c27bf80-c20d-11ea-822b-4dc6fd9bef3c.png)

[2020-07-10 12:17] vcvrackideas opened #144 "8FACE - Option for affecting slots while in Record state"
Hi Ben! I found it's sometimes useful for 8face and big big arrangement to not exit from record mode but still receiving selection data from SLOT port. So I think that option in right click menu that would allow to affect or not switching scenes via slot CV in recording mode would pretty useful. Cheers!

[2020-07-11 17:28] stoermelder commented on #143
Thanks for reporting. Being the author of the Lights Off module I did know there would be some problems... 🙂

[2020-07-11 17:28] #143 closed, assigned to nobody

[2020-07-11 22:06] hexdump0815 commented on #130
as @stoermelder had been pointing out in his response to https://community.vcvrack.com/t/stoermelders-packone-v1-6/9456/75 this issue here seems to cover nearly exactly the same topic - maybe i should have been checking the github issues before posting at the community ... @curlymorphic maybe have a look at my posting and the suggestion i do there as we only have to do this for the toggle off even

[2020-07-12 17:15] feralseed opened #145 "8FACE smooth transition between scenes"
Hello badass programmer.
I don't know if this is possible...
Setting the transition speed from one scene to the next would be amazing. Thanks.

[2020-07-12 18:03] vcvrackideas commented on #145
I just made it with 8face - polycon - polyslewlimiter and then CV map if you're curious. AFAIK Ben said sometime that it wouldn't be possible inside the 8face module itself just because it run a static switching algorithm between saved presets in Ram. But my way works pretty well. I will upload a detail tutorial tomorrow on it. Cheers!

[2020-07-12 22:01] stoermelder opened #146 "TRANSIT"

[2020-07-12 22:40] stoermelder commented on #145
8FACE is basically a preset switcher. As every developer defines by himself how a preset for a module is structured and which data is contained I can't look inside it. Just imagine, how should a transition of a sampler module work, when the module only stores the filename inside the preset?
However, it is possible smoothly change all the parameters of a module. It is done by "Morph" of 23volts and

[2020-07-12 22:40] #145 closed, assigned to nobody

[2020-07-12 22:41] #136 closed, assigned to stoermelder

[2020-07-12 22:41] #134 closed, assigned to stoermelder

[2020-07-13 09:39] curlymorphic commented on #130
@hexdump  I think your suggestions are really good, and I myself would use such a feature, However for me to implement such features would probably require as much effort from @stoermelder to oversee as it would take to implement themself.  I feel the best course of action may be patience.

I do have a small collection of 8x8 grid-based controllers, so would be very happy to test, or generally hel

[2020-07-13 14:48] Petervos2018 opened #147 "Arena only mix 1 works correctly mix 2-4 do NOT."
Hi Ben,
I attached a vcv file to show that after loading it only the mix 1 channel works as it should , the other 3 do not output anything, or just a constant volume, they do not react on distance.
I hope you understand what I mean.

Greetings Peter.

[Arena Bug - 13072020.zip](https://github.com/stoermelder/vcvrack-packone/files/4913205/Arena.Bug.-.13072020.zip)

[2020-07-18 09:21] stoermelder commented on #147
Thanks for reporting. Duplicate of #113.

[2020-07-18 09:21] #147 closed, assigned to stoermelder

[2020-07-18 09:25] stoermelder commented on #113
Thanks for reporting, fixed.

[2020-07-18 09:25] #113 closed, assigned to stoermelder

[2020-07-18 09:37] stoermelder commented on #140
This won't happen on CV-MAP as any kind of "feedback" would need output ports which CV-MAP obviously does not have. Also, Rack does allow every parameter mapped by only one module.
I'm not sure how useful such a functionality would be. Can you describe your use-case?

[2020-07-18 11:37] Petervos2018 commented on #147
Sorry had not seen #113 , would have posted there.

Thanks for fixing 👍

[2020-07-19 19:10] hexdump0815 commented on #130
@stoermelder i looked a bit at the code (which is very nice to read btw.)  and as a result i played around a bit with the above change from @curlymorphic and it makes the toggle button feedback quite useable on akai controllers - might it be an option to at least include an option like "toggle (akai)" next to toggle option for the mode which implements that change? that should be very easy to impl

[2020-07-19 19:59] stoermelder commented on #130
Thanks. I have to think through what adding this option would mean, I didn't work on this module for quite some time.

[2020-07-23 17:27] vcvrackideas opened #148 "TRANSIT - bind parameter hotkey"
Hi Ben! Firstly - thank you so much for this gamechanger beast! Secondly - could you add some shorcut for Bind Parameter command while hovering on the module? Something like...SHIFT+A or for your taste. Cheers!

[2020-07-23 18:11] vcvrackideas opened #149 "Transit - indicate current playing scene while user in write mode"
...to prevent something wrong overwriting. I'm testing the module right now and it's hard to be precise even with help of tooltips which scene from 14th of them is playing now to overwrite it with slighly new parameters. Maybe some reduced opacity for red color for non-playing clips would help, I don't know how it should handle in the code itself.

[2020-07-24 12:42] vcvrackideas opened #150 "TRANSIT - interference of same named parameters bug"
Hi Ben! I possibly found a bug. The thing is to try bind for example bind two cutoff knobs of the same module two instances (I tested with squinky labs stairway FC knobs) and try to save snapshots turning both knobs. Maybe it's due to expander use, I don't know yet, but some knob is starting dominating to the other and other may even freeze at the maximum value or of its premapped offset position.

[2020-07-25 07:32] vcvrackideas commented on #150
Possibly I found a source of the issue. This is when suddenly click on the bind module instead bind of parameter. And then there is now way to cancel the operation and in the case user would start click on the bind parameter there will be some unbindings inside of the module but the previously mapped parameters will still show blue square but no one slots would not function anymore. So if that tru

[2020-07-26 07:59] stoermelder commented on #150
Thanks Artem for reporting. I'm not convinced it is fixed with the latest commit as I noticed strange behavior in some situation, too.

[2020-07-26 08:45] vcvrackideas commented on #149
thanks for adding that! a way user friendly behaviour now, doesn't affraid anymore to re-record on the wrong slot :-)

[2020-07-26 08:47] vcvrackideas commented on #150
Thanks Ben, works nice at the first glance. Will do a new patch tomorrow with extensive use of similar modules and so gonna test it more extensively. At least the old version patch works without any destruction too.

[2020-07-26 09:49] stoermelder commented on #148
Thanks Artem for the suggestion. I added hotkeys and an option which allows binding multiple parameters in a row.

[2020-07-26 09:51] stoermelder commented on #146
#148 #149 #150

[2020-07-26 14:58] #149 closed, assigned to stoermelder

[2020-07-26 19:43] stoermelder opened #151 "GRIP - all bindings are lost when loading a saved strip"
ADD: tried to use GRIP inside a strip but all bindings are lost when I'm loading a saved strip again...

_Originally posted by @vcvrackideas in https://github.com/stoermelder/vcvrack-packone/issues/141#issuecomment-654085134_

[2020-07-26 21:17] #151 closed, assigned to stoermelder

[2020-07-27 17:47] libermanomer opened #152 "Midi-cat and Transit to work together"
this is my first github comment.
hey ben,thanks for awesome modules
i’ve tried to use a 8 faders controller mapped to a mixer let’s say,with midi-cat to set the value for transit.
but you can’t use them two together,actually it’s make sense..

but maybe you have an idea how to do so?

again just to be clear ,i want to move a fader, then click on transit.
![81D46681-18A4-4823-A794-F4C2FBC7FBBF](htt

[2020-07-27 18:23] vcvrackideas commented on #152
Hi. There is no way to do double mapping VCV Rack v1 unfortunately... So I have no idea how to do that. You can use 8face with midi mapping together but transit use a method of midi mapping too...

[2020-07-27 18:32] libermanomer commented on #152
@vcvrackideas Thanks Artem,
i haven't thinking this way because i skip 8face video,shame on me!

so basically 8face does exactly what i want, transit it's a 8face with more features like envelope,gate,etc..

[2020-07-27 18:46] vcvrackideas commented on #152
You will get audible clicks when using 8face with audio rate modules due to preset nature of it. But Transit is like mapper, like your computerized multi hands) so this is an issue of whole VCV Rack to not have double mapping features

[2020-07-27 19:01] stoermelder commented on #152
8FACE does apply presets on modules, TRANSIT does apply parameter values. With presets been specific to each module there is no way to morph between them, while parameters are a standard in Rack and can be interpolated.

As Artem said there is no way in Rack to map one parameter to multiple modules. As soon another module grabs a mapped parameter the first mapping is lost.

That been said I could

[2020-07-27 19:22] vcvrackideas commented on #152
Thanks Ben, the idea of helper module is really awesome, really curious how it would work on practice, so looking forward!

[2020-07-28 06:46] vcvrackideas opened #153 "X4 - more option suggestion"
Big thanks for XX module Ben! Finally we have mulimapping in VCV Rack! Since here are whole 4 knobs per one control I have some suggestion on possible improvement and even go to the modular midi mapping side. So let's imagine we have mapped to the one knob Transit, Midi-CAT and Remove at the same time. I've already check how Remove works and it works nicely btw.
So I'm talking about switch of mast

[2020-07-31 14:38] libermanomer commented on #152
Ben,This is awesome!😅
![image](https://user-images.githubusercontent.com/62829941/89045355-10c0b600-d354-11ea-8890-b979576a87dd.jpeg)

now it's like a motorized mixer for Rack, when you can recall and write Without even touch the computer once, most important Strip file for now😁

Legend. you got me speechless 😶 thank you!

cheers,Omer

[2020-07-31 16:01] #152 closed, assigned to stoermelder

[2020-07-31 23:37] ghost opened #154 "8FACE - copy and paste"
HI can we get a way to copy a step and paste to another?
also can we get the directional arrow right and left to work like strip where we just click it to change direction?

Also can we get a way to when we click a step it goes to the values on the associated modules  so we can assign that to new steps. maybe a ctrl plus click or something?

This is Paramater locking YeS!!!!!! Thanks

[2020-07-31 23:54] ghost opened #155 "Sequencer module like 8FACE"
I would love to see this built into an actual sequencer module - one for drums and one for notes.  That would be so cool. I can do it using a separate sequencer but if it was all in one imagine how cool it would be. of course it would need to be a multitrack module. maybe too complicated.

[2020-08-01 00:55] ghost opened #156 "thanks"
thanks for your work

[2020-08-01 01:00] #156 closed, assigned to nobody

[2020-08-01 08:18] stoermelder commented on #152
Thank you! Please notice I will be renaming the module to "X4" as it fits better, I think, but this will be a breaking change.
If you need assistance for repair of you patches or strip-files please let me know.

[2020-08-01 08:59] stoermelder commented on #153
Hi Artem. I'm not yet sure how a good workflow could look like. At the moment the top-most knob has the highest priority on changing the parameter's value but just for each audio sample. If another knob tries to set the parameter's value one sample later it will succeed, resulting in jumping value. Maybe some sort of "cool-down" phase or something could be helpful.
Adding your "master knob" functi

[2020-08-01 09:00] stoermelder commented on #150
Please reply if this problem still persists, I will re-open this issue.

[2020-08-01 09:00] #150 closed, assigned to stoermelder

[2020-08-01 09:05] stoermelder commented on #155
I thought about something like this too, but there are already some great sequencers out there which work in a very similar wy, like [Impromptu's Foundry](https://library.vcvrack.com/ImpromptuModular/Foundry) or [Bidoo's dTrOY](https://library.vcvrack.com/Bidoo/dTrOY) and [brodL](https://library.vcvrack.com/Bidoo/bordL).
Maybe sometime in the future.

[2020-08-01 09:07] stoermelder commented on #144
Will added in a future "8FACE mk2".

[2020-08-01 09:10] stoermelder opened #157 "8FACE - Activate slot while in Record state"
#154

[2020-08-01 09:12] stoermelder opened #158 "8FACE - Directional arrows like STRIP"
#154

[2020-08-01 09:12] stoermelder commented on #158
Will be considered for a future "8FACE mk2".

[2020-08-01 09:13] stoermelder commented on #154
Thanks for your suggestions but please try keeping one request per issue. Otherwise it makes the discussion and development progress hard to track.
Some of these features will be added in a future "8FACE mk2".

[2020-08-01 09:13] stoermelder commented on #157
Will be added in a future "8FACE mk2".

[2020-08-02 11:32] stoermelder opened #159 "MIDI-CAT - ability to remap same module slug"
https://community.vcvrack.com/t/stoermelders-idea-und-development-thread/10515/20

[2020-08-02 17:21] jaffasplaffa commented on #154
I have been playing with 8Face since yesterday. Best object ever :)

One of the things I noticed that would be nice to have for it, is copy preset from one slot to another.

I have another suggestion, but I'll create a new issue for that one instead :)

[2020-08-02 17:29] jaffasplaffa opened #160 "8Face feature suggestion - a master controller object that controls all 8 face modules in a patch!"
Hey!

I would like to suggest a "master" controller module for 8Face. Or maybe this should be a whole new module, to avoid breaking backward compatibility with old 8Face project?

What I am suggesting is that it would be really nice to have ONE single master controller for all 8Face modules in a patch. As it is now, you have to go to every single 8face module and go to write mode and save each 8Fa

[2020-08-04 21:54] stoermelder commented on #159
Implemented in MEM-expander for MIDI-CAT.

[2020-08-04 21:54] #159 closed, assigned to stoermelder

[2020-08-05 09:39] Eurikon opened #161 "MB - small request"
Hi Ben,
i know this module is just experimental and might dissapear at some point.
But for now it would be nice if i could zoom in and out with the notebook touchpad.
Not sure if this is already possible? On Windows 10 i can not zoom with a mousepad.

[2020-08-05 19:18] stoermelder opened #162 "8FACE - expanders?"
https://community.vcvrack.com/t/stoermelders-idea-und-development-thread/10515/44

[2020-08-06 18:30] #148 closed, assigned to stoermelder

[2020-08-06 20:05] #125 closed, assigned to stoermelder

[2020-08-08 08:15] stoermelder commented on #140
I'll reopen if you can describe your use-case.

[2020-08-08 08:15] #140 closed, assigned to stoermelder

[2020-08-08 08:45] stoermelder commented on #133
I think CV input is overkill but I moved the setting to a switch onto the panel.

[2020-08-08 08:45] #133 closed, assigned to nobody

[2020-08-08 09:33] stoermelder commented on #132
I think adding a middle click output makes much sense on SPIN.
I've added support for mouse buttons 4,5,6... to STROKE some time ago but middle click support fits better on SPIN.

[2020-08-09 08:41] stoermelder commented on #138
I've added an option for absolute zoom level in the meantime.

[2020-08-09 08:41] #138 closed, assigned to stoermelder

[2020-08-09 09:05] #129 closed, assigned to stoermelder

[2020-08-09 10:05] stoermelder commented on #130
I finally took the time and added this option on the mapping slots (when mapped to a note). Please let me know if it works for you.

[2020-08-09 10:39] stoermelder commented on #96
I just reviewed this request again. What you are proposing can be easily done using my module 8FACE applied on MIDI-CAT. Please let me know if you need further instructions.

[2020-08-09 10:42] curlymorphic commented on #130
Thank you, Ben.  I can confirm this is working for me on both APC mini and Launchpad mk3 mini.

Thank you.

[2020-08-09 11:39] hexdump0815 commented on #130
cool - thx a lot - will test it soon ... btw. looks like there is more interesting controller specific stuff in the pipeline: https://community.vcvrack.com/t/studio-6-1-trigger-sequencer-for-midi-controllers-prerelease/10675 :)

[2020-08-09 12:16] stoermelder commented on #130
I’ve seen this one but I’m not so sure about the concept. If I find a week of spare time I will implement a module for Rack like this one for Reaktor and Maschine Jam:
https://youtu.be/WCRWFOSNSvg

[2020-08-09 12:50] curlymorphic commented on #130
The Second sequencer in the linked video, NOD-E looks cool concept, and visually appealing and would be an excellent addition to vcv. The first one in the video looks very similar in concept  to the one I am developing,

[2020-08-09 12:51] stoermelder commented on #130
Good to know, I have to take a closer look!

[2020-08-09 12:51] #130 closed, assigned to stoermelder

[2020-08-10 05:59] vcvrackideas commented on #132
Thanks Ben! In this commit I see the middle click output and many modes are nice but it's a bit of alarm - the output generates just nothing) I'm on windows 10 if it matters. Also dark panel as default still doesn't work with Sail. Cheers and thanks for implementing! This kind of precision interpretation of midi controller just inside mouse wheel is incredible. Awesome use for laptop for sure.

[2020-08-10 06:03] stoermelder commented on #132
Can you try learning in STROKE with you mouse button? I suspect it is not interpreted as „middle button“. Mouse buttons are counted as 0,1,2,3 with 0 = left, 1 = right, 2 = middle and 3 or above are additional buttons if your mouse has them.

[2020-08-10 06:07] vcvrackideas commented on #132
No, only MB4 and MB5 can be learned. I tried to enable or disable Redragon control app for the mouse but no changes. And middle click scrolling is still working inside the Rack.

[2020-08-10 06:34] stoermelder commented on #132
Ok, this is strange. SPIN captures the middle click and scrolling should not possible anymore. It’s working here as expected. Not sure what’s going on right now.

[2020-08-10 06:37] stoermelder commented on #132
Any chance you have more than one instance in your patch? Mouse clicks will only be captured by one instance...
I think I should make this module work only with one instance.

[2020-08-10 06:43] vcvrackideas commented on #132
Yeah sorry there was an instance in my template but...no changes sadly. I even tried to use windows options to deactivates laptop's sensor panel when external usb mouse is connected but no work. Ok maybe I should try reboot then...
EDIT - still no luck...that's really strange

[2020-08-10 08:14] stoermelder commented on #132
Strange indeed. Can you try it with an empty patch? If this doesn’t help I have to send you a custom build with some additional debugging output.

[2020-08-10 08:23] vcvrackideas commented on #132
![spiin](https://user-images.githubusercontent.com/42435368/89763740-cbdb1300-dafb-11ea-985e-7211c94b543f.gif)
As you can see here no luck. So would be glad to test with additional build

[2020-08-10 08:36] stoermelder commented on #132
You are not holding any modifiers like Shift, Alt or Crtl? I fixed a small bug on this, I hope this is the problem.

[2020-08-10 08:59] vcvrackideas commented on #132
thanks it's working now! No I didn't hold any modifiers btw. As I can understand there is no way to leave middle click and scrolling on its place together with the spin now? let's say activate middle click only when hovering on parameter? If no there is a way to disable middle click in the spin? I mean there is already in muscle memory of some users (probably including of myself) and I think there

[2020-08-10 10:07] stoermelder commented on #132
Yes, I thought about that too and I think it’s too aggressive at the moment. I will change this behavior later.
I will also add options to grab the events only with Shift or Crtl or Alt.

[2020-08-12 18:24] libermanomer opened #163 "Stroke - custom cable colors"
hey Ben,
yesterday i came with a idea that can make cables coloring much easier.

to change cable by keystroke,

1-red
2-yellow
etc.

cheers,Omer.

[2020-08-12 18:31] stoermelder commented on #163
Yes, I implemented it during the stream. It is available in the latest build.

[2020-08-12 18:50] libermanomer commented on #163
oh,thanks.
 but i can't make it work for me,
not the next color option also, you have an idea why?

[2020-08-12 18:51] stoermelder commented on #163
Do you hover your mouse pointer over a cable plug while pressing the key?

[2020-08-12 18:52] libermanomer commented on #163
😆 , got it.
I was pressing a key and then expected to get the desired color, I think it is more convenient.
anyway, that really nice to have this way too, thank you.

[2020-08-14 09:16] hexdump0815 commented on #130
i finally checked your changes for  'Midi-Cat - added option for "note on, vel 0" on note off' and can confirm that it works perfectly well for me too ... thanks a lot once more ...

[2020-08-15 14:00] stoermelder commented on #163
It is not obvious but some things are harder to achieve as they seem.
While it is quite easy to change the color of an existing cable it is quite hard to influence the color used for the next cable created. This has to do with the color selection Rack uses internally.
Please let me know if you have another suggestion :-)

[2020-08-15 14:00] #163 closed, assigned to nobody

[2020-08-16 15:25] stoermelder opened #164 "HIVE"
https://github.com/stoermelder/vcvrack-packone/pull/110

[2020-08-16 15:26] #135 closed, assigned to stoermelder

[2020-08-16 15:26] #96 closed, assigned to stoermelder

[2020-08-19 12:25] davephillips opened #166 "build error v1-dev"
Linux Ubuntu 18.04
VCV Rack v1-dev

Latest pull from your v1-dev repo fails to build here:

[code]

Your v1 repo builds fine. Just thought you might want to know about the dev version build error.

[2020-08-19 13:13] stoermelder commented on #166
I had this problem before. Can you check the version of your gcc? I think your compiler version might be too old and does not support some SSE functions I use.

[2020-08-19 19:15] davephillips commented on #166
@stoermelder  It's GCC 7.5.0

[2020-08-19 19:48] stoermelder commented on #166
Can you try `make EXTRA_CXXFLAGS='-msse3'`?

[2020-08-19 20:00] davephillips commented on #166
Hey Ben, that fixes the problem on v1-dev, thanks !

[2020-08-19 20:03] stoermelder commented on #166
Ok, thanks for reporting. I hope the same issue won't arise when submitted to the VCV Library.

[2020-08-19 20:03] #166 closed, assigned to nobody

[2020-08-22 10:09] vcvrackideas opened #168 "Stroke - Lock modules command"
Hi Ben, could you try a new command for the Stroke - lock modules? Would be very useful in the case of using with fixed racks and with pen display as well.

[2020-08-22 14:20] ContemporaryInsanity opened #169 "MIDI-CAT attenuverters"
Could we have built in attenuverters for CCs mapped by MIDI-CAT?  Could be in right click menu...

[2020-08-22 20:49] stoermelder commented on #168
Thanks Artem, added!

[2020-08-22 20:49] #168 closed, assigned to stoermelder

[2020-08-22 20:51] stoermelder commented on #169
Good idea, Ewen! It's almost crazy I never considered this myself...

[2020-08-23 07:52] stoermelder commented on #79
Ok, it has been a long time but I finally added filtering/slew-limiting to MIDI-CAT. I had the solution for my feedback-issues quite some time and I finally spent an evening implementing it.
It needs further testing but I think it's on a good way.

[2020-08-23 09:44] libermanomer commented on #152
Hey Ben, I've handled couple updates of nightly (I've reconfigured all nightly modules again)

sometimes I don't update even you work like crazy fast with new great features every morning. 😬

Can you help me to avoid that?

 Edit- may this is the cause?  Should I just change the version number each time?
`      "id": 27,
      "plugin": "Stoermelder-P1",
      "version": "1.7.4ea2e2d",
      "mode

[2020-08-23 10:01] stoermelder commented on #152
I'm afraid I can't follow. Do you have a problem with the name change of XX to X4? Or is it some other issue? Most of my updates shouldn't break existing patches. And no, the version number should ne issue.

[2020-08-23 10:20] libermanomer commented on #152
I've updated now, that was the first time I didn't get a Rack "couldn't find .... modules " message,
so all work , anyway, thanks.

[2020-08-23 10:21] stoermelder commented on #152
Ok. Let me know if you get this message again.

[2020-08-23 10:53] stoermelder commented on #169
Added!

[2020-08-23 12:05] ContemporaryInsanity commented on #169
Not working for what I needed.  I have a weird touchpad, x-axis sends notes, y axis is cc BUT over 8 steps from 64 to 127 (so slew welcomed), which I need to convert to 8 steps from 0 to 127, so I really need offset & scale to do this.  Can still do it with extra modules through CV-MAP but...

[2020-08-23 12:24] stoermelder commented on #169
I'm not sure what you could with offset and scale which you can't do with minimum and maximum?
Edit: Ok I see what the problem is. You would still need scale > 1 which also could be done by negative minimum.

[2020-08-23 12:45] ContemporaryInsanity commented on #169
Yeah, from MIDI-CC I get 5 to 10 volts for my y axis, so I need to subtract five & scale by two, I use it mostly to control aux sends on mindmeld auxspander so the steps aren't really a problem.  Currently use MIDI-CC to bogaudio offset to CV-MAP.

[2020-08-23 12:54] stoermelder commented on #169
I extended the range from -100% to 200%. Setting the minimum at -100% should give you trying to achieve.

[2020-08-23 13:00] stoermelder commented on #169
I have to think about the labeling of the sliders though. It's now not that easy to understand how it works.

[2020-08-23 13:02] ContemporaryInsanity commented on #169
That works perfectly!  Thank you :)

[2020-08-23 16:10] stoermelder commented on #169
I added an item on the context menu showing the actual result of the sliders and scaling. Should be pretty easy to setup this way.

[2020-08-23 16:10] #169 closed, assigned to stoermelder

[2020-08-24 18:29] bitfetcher opened #170 "changelog.md links to 1.7.0 modules broken"
Hello, just a quick note that several of the new module links in the 1.7.0 changelog.md text are broken.

Thanks for the great VCV module library!!

[2020-08-24 18:51] stoermelder commented on #170
Thanks for reporting, fixed.

[2020-08-24 18:51] #170 closed, assigned to stoermelder

[2020-08-27 05:19] ddwagner opened #172 "AUDIO64 - Add other audio multiples for those of us with >16 <64 channels"
Thanks for making AUDIO-64. Lifesaver for those of us using ES-3 on audio interfaces where the ADAT channels go past 16. Would be amazing to have somewhat smaller multiples. For instance, UMC1820 audio interface users have adat outputs sitting at 13-20. So an AUDIO-24 or even AUDIO-32 would be big space saver if not too cumbersome.

Cheers!

[2020-08-27 06:01] stoermelder commented on #172
Sorry, I reject this request.
First, Rack v2 will allow multiple Audio-modules used the same time, so you can put together every number of channels you like. Second, contrary to Eurorack hardware the space in Rack is unlimited.

[2020-08-27 06:01] #172 closed, assigned to nobody

[2020-08-27 16:38] vcvrackideas opened #173 "Midi-Cat - can't do proper mapping to knobs which have negative values as well"
Hi Ben! I love the additions u made in MIDI-cat. However I've got some issues. You can try to map something like FREQ knob on Vult Disjoint filter (it has bipolar positive and negative values according to tooltips). I experimenting with right-click menu new settings, range, and didn't get any luck.

[2020-08-27 16:45] stoermelder commented on #173
Thanks for reporting. There is something strange going on. Sometimes it works, sometimes not. I’ll need to check that.

[2020-08-27 17:48] stoermelder commented on #173
Thanks again for reporting. It was a stupid bug especially affecting parameters with value -1.

[2020-08-27 17:48] #173 closed, assigned to stoermelder

[2020-08-28 15:59] #146 closed, assigned to stoermelder

[2020-08-30 09:29] fradsprds opened #174 "Transit expanders problem"
Hi I'm using mac Mojave and the expander for transit isn't working.

When I put the expanders next to transit the light of the expander don't turn green and is not usable for save and recall knob position

I made a screenshot
<img width="74" alt="Screenshot 2020-08-30 at 11 25 27" src="https://user-images.githubusercontent.com/44433404/91655774-9189e380-eab3-11ea-9ca3-e7bac9f69881.png">

[2020-08-30 09:43] stoermelder commented on #174
Yes, this how it is supposed to be. You need to adjust the number of active snapshots by long-pressing one of the buttons.

https://github.com/stoermelder/vcvrack-packone/blob/v1/docs/Transit.md#sequencing-and-selecting-snapshots

[2020-08-30 09:43] #174 closed, assigned to stoermelder

[2020-08-30 11:53] fradsprds commented on #174
Now I understand, thank you

[2020-08-30 19:57] vcvrackideas opened #175 "Strip request - random cable connection inside a strip"
Hi Ben. Yeah this sounds crazy but it might be useful for stressing test new modules and.. Tired minds) including self patching if possible. Cheers!

[2020-08-30 20:01] stoermelder commented on #175
You mean something like this but limited to the modules in a strip?
https://library.vcvrack.com/WhatTheRack/WhatTheJack

[2020-08-30 20:07] vcvrackideas commented on #175
Yep but maybe an option what amount of cables would be applied from one to... 20, or for all inputs (?) would be also handy tool for mind helping) sounds like cheating

[2020-08-30 20:09] stoermelder commented on #175
I don't think I will add something like this to STRIP. Maybe a new module for this kind of weird thing. Not sure though if it is any use for someone alse...

[2020-09-04 04:40] johnnovak commented on #79
@stoermelder Great news!

[2020-09-06 21:15] typicalanalytical opened #176 "Grip - crash on locking the 33th parameter"
Doesn't happen every time, but I am able to reproduce it in at least one patch.  Deleting Grip and re-adding seems to temporarily allow the "gripping" of the pad knob.  Also, the crash only happens on the second SNS module trying to "grip" Pad knob.

![2020-09-06 17_08_30-VCV Rack v1 1 6](https://user-images.githubusercontent.com/30984809/92335354-4b5cf300-f064-11ea-82bb-7a37e0416867.png)

[2020-09-07 18:15] stoermelder commented on #176
I just built the Southpole module from source as there is no release version yet. I'm afraid I can't reproduce the problem. Can you provide a patch or more instructions?

[2020-09-07 19:46] Outboarder opened #177 "TRANSIT +T Doesn't work"
Hi

When I add +T (on the TRNASITs right side) buttons are grayed out and it's unable to recall preset.

Thank you for this amazing collection.

[2020-09-07 19:48] stoermelder commented on #177
Duplicate of #174:
https://github.com/stoermelder/vcvrack-packone/issues/174#issuecomment-683399264

[2020-09-07 19:48] #177 closed, assigned to nobody

[2020-09-08 08:51] Outboarder opened #178 "TRANSIT +T Does not recall after patch save/load"
+T Does not show saved presets after patch load you have to long press again to recall.
Here is screen capture of the problem :
https://drive.google.com/file/d/1Vm0UypA9dpH4SeHh3tG8fnCghHTm86-c/view?usp=sharing

[2020-09-08 09:48] stoermelder commented on #178
Please post the image directly here on GitHub, I don’t have a Google Drive account.
Following your description I cannot reproduce the problem. Is the +T placed directly next to TRANSIT on the right side?

[2020-09-08 13:14] Outboarder commented on #178
![cc env2](https://user-images.githubusercontent.com/25549725/92480855-b93b2300-f1fa-11ea-8496-06d4558bc0f2.gif)

[2020-09-08 13:46] Outboarder commented on #178
I tested it in a more simple patch (just TRANSIT +T and VCV VCO) it works fine.
Perhaps something is wrong with that patch, Here is the faulty patch.

[TRANSIT +T faulty patch.zip](https://github.com/stoermelder/vcvrack-packone/files/5188675/TRANSIT.%2BT.faulty.patch.zip)

[2020-09-08 16:32] Outboarder commented on #178
Ok it's not about the patch, Take a look at this simple example I opened the same file for about 10 times, It seems it has the same problem but in a more unpredictable manner. .
![Test 2](https://user-images.githubusercontent.com/25549725/92503104-011b7380-f216-11ea-9f6b-0c5106801eb0.gif)

[2020-09-08 17:39] stoermelder commented on #178
Ok, thanks for reporting. It is not problem with my modules, it is caused by Rack itself: It occurs if an expander is added before the master module to a patch. This is no issue in the first place but when loading such a patch the expanders aren't initialized correctly. I will open an issue on Rack for this.
I think I can't do anything about it at the moment, except for this suggestion: First add

[2020-09-08 17:58] Outboarder commented on #178
I always add the master module first but problem still exist.
Thank you for your time and efforts I hope they manage to fix this.

[2020-09-08 18:02] stoermelder commented on #178
In this case I have to check again.

[2020-09-08 18:04] Outboarder commented on #178
[Simple test.zip](https://github.com/stoermelder/vcvrack-packone/files/5190173/Simple.test.zip)

[2020-09-08 18:23] vcvrackideas opened #179 "Raw frozen voltage issue"
Raw is pretty cool! But once I found it with frozen output (fully yellow one) after reopening the rack. Hope it would help

[2020-09-08 18:59] #178 closed, assigned to stoermelder

[2020-09-08 19:11] stoermelder commented on #178
Thanks, it is fixed and will be available in a bugfix release!

[2020-09-08 19:15] Petervos2018 commented on #179
Had the same issue, as seen here :
https://community.vcvrack.com/t/dafx-2020/10928/9
![afbeelding](https://user-images.githubusercontent.com/46076474/92518276-5a84a200-f218-11ea-9a60-aca2421db76a.png)

[2020-09-08 19:18] stoermelder commented on #179
Thanks for reporting. This issue is caused by the underlying algorithm and currently I won't be able to fix the cause. I will add some protection which should return the parameters to a valid state.

[2020-09-08 19:23] typicalanalytical commented on #176
Click on Grip button and then Pad knob of left SNS.  Then click on Grip button and then Pad knob on right SNS.  Also, sorry I should have included link where I obtained Southpole plugin.  Here it is in case helpful:

https://github.com/gbrandt1/southpole-vcvrack/issues/36#issuecomment-543947766

[VCV Rack crashes when attempting to grip pad on both SNSs.zip](https://github.com/stoermelder/vcvrack-

[2020-09-08 20:16] stoermelder commented on #176
Ok, thanks for reporting. It has nothing to do with the Southpole modules, it was caused by reaching the limit of 32 parameters which was not handled correctly.

[2020-09-08 21:23] Outboarder commented on #178
Great, Thank you.

[2020-09-08 22:04] stoermelder opened #182 "TRANSIT - add phase input"

[2020-09-08 22:04] #132 closed, assigned to stoermelder

[2020-09-13 10:10] ContemporaryInsanity opened #185 "MIDI-CAT/8-FACE problem"
I use 8-FACE with MIDI-CAT to switch controller mappings.

If the MIDI device name changes in MIDI-CAT, 8-FACE doesn't restore it.  This happens if the numbers following the MIDI device name change:

![image](https://user-images.githubusercontent.com/12547379/93015381-e4ce5c80-f5b0-11ea-9ffa-80b52acf260d.png)

Not a problem for one or two mappings but if I have 8 mappings I have to go through each

[2020-09-13 11:04] stoermelder commented on #185
I’m afraid I can’t do anything about it. This problem is caused by the MIDI library Rack uses. There are issues for Rack and rtmidi for this problem:
https://github.com/stoermelder/vcvrack-packone/issues/129#issuecomment-638292613

[2020-09-14 09:35] vcvrackideas opened #186 "STRIP - Load with replace + hotkey for that"
Hi Ben! Could you add an option to Strip that would allow us load a new one and delete previous just automatically without adding the new one next to the previous? Now with existed load option for example I always need to cut old strip first and only then press the load command.
Also I'd like to have a hotkey combination for that..let's say Ctrl+Shift+L for load with replace and Ctrl+L for existed

[2020-09-14 10:42] Petervos2018 opened #187 "Stroke "presets""
Hi Ben ,
is this also preventing Stroke to load a preset ?
Made a nice "preset" as a "Default Setting" but I can't  load it back into Stroke.

Greetings Peter.

[2020-09-15 00:36] AndyClotta opened #188 "8FACE - crashes rack"
The last 3 weeks when i place 8FACE on a patch, simple or complex, after defining some changes in record mode when i put it in play mode and touch a different slot crashes VCV. I'am on Mac OS Mojave MacBook Pro (15-inch, 2018). What other information could i provide you? Deleted the whole package and re-uploaded. Thanks.
![image](https://user-images.githubusercontent.com/71298922/93151395-2efb2f00

[2020-09-15 04:30] stoermelder commented on #188
Please provide your log.txt and a demo patch. Are you using the official build from the VCV Library or a nightly build?

[2020-09-15 05:41] xandramax opened #189 "MIRROR - Copy JSON from source module, paste to all mapped modules"
I like to poly-chain multiple VSTs in VCV Host that normally have limited polyphony. For example, chipsynth PortaFM only supports 9 voices and chipsynth SFC only 8. To do this, I use [some forks I made](https://github.com/anlexmatos/MIDI-Delexander) of other MIDI modules to which I've added extra outputs and logic for rotating polyphony across the extra 16/32/48 channels. This allows me to comfort

[2020-09-15 05:49] stoermelder commented on #189
Did you notice MIRROR has a context menu option for syncing presets (aka JSON) of all bound modules? It has no CV input for that as preset operations need to be called from the GUI thread and I wanted to keep the module as stable and simple as possible. I can add a hotkey for that, however.

[2020-09-15 07:36] stoermelder commented on #189
Ok, I checked it and it does not work because Host has no parameters at all and how MIRROR works internally. Maybe I can do something about that.

[2020-09-15 08:42] xandramax commented on #189
I had totally missed that Sync Presets option somehow. Thanks for looking into it!

[2020-09-15 11:34] AndyClotta commented on #188
I'am using the official build of VCV Rack. It happens in every patch when i try to use 8FACE. Here is the Log.txt and a patch. Thanks.

--------------------------------------------------------------------------------
[0.000 info src/main.cpp:119] VCV Rack v1.1.6
[0.000 info src/main.cpp:120] Darwin 18.7.0 Darwin Kernel Version 18.7.0: Tue Aug 20 16:57:14 PDT 2019; root:xnu-4903.271.2~2/RELEASE_X86

[2020-09-15 14:47] rsmus7 commented on #188
I just experienced the same issue here on Win10 with 8face and ADDR-SEQ.

I'm using rack 1.1.6 the official release and your PackOne 1.7.1

I posted this at Bogaudio:

"I'm not sure where the bug is, but today I tried to use the 8face from stoermelder with ADDR-Seq
and it constantly crashes rack when I have assigned some "presets of ADDR-SEQ" to 8Face and want to change these
by a clock from CLKD.

[2020-09-15 14:55] rsmus7 commented on #188
here is my log.txt:

[log.txt](https://github.com/stoermelder/vcvrack-packone/files/5225814/log.txt)

[2020-09-15 15:08] rsmus7 commented on #188
maybe it is asssigned to bogaudio modules?

I have a patch with ML Quantum that doesn't crash.

[8face nobug_01.zip](https://github.com/stoermelder/vcvrack-packone/files/5225906/8face.nobug_01.zip)

[2020-09-15 15:27] AndyClotta commented on #188
To me it crashes with many different modules.

[2020-09-15 17:23] ContemporaryInsanity commented on #185
How about a MIDI-CAT version with 8FACE functionality built in that only switches the mappings, not the devices?  Then, when the device name changes, easy quick fix to get everything working again.

[2020-09-15 18:18] stoermelder commented on #185
Would it help if I add an option to ignore the MIDI device settings when a preset is loaded into MIDI-CAT?

[2020-09-15 18:25] ContemporaryInsanity commented on #185
That should work, yes :)

[2020-09-15 19:18] stoermelder commented on #185
I added an option right now. Please let me know if it works for you.

[2020-09-15 19:25] stoermelder commented on #189
The module syncs now presets even on modules without any parameters are bound (e.g. VCV Host or VCV Qnt). I added a hotkey also. Please let me know if it works for you.

[2020-09-15 21:39] xandramax commented on #189
Excellent, it works great. Thanks so much!

[2020-09-15 22:35] AndyClotta commented on #188
Tried again also with 8FACEx2 and crashes Rack. Tried with Transit and it works just fine. FYI. Thanks

[2020-09-16 06:11] rsmus7 commented on #188
I just tried the latest nightly build, it is still crashing when changing the saved presets.

[2020-09-16 06:11] midiguru23 opened #190 "ARENA indiv. outs noise"
I didn't see anything in the docs about what the individual channel output jacks are supposed to do in ARENA. They seem to send the input out with quite a lot of added noise. I'm not sure what this would be used for. Possibly I'm not understanding something about the module, or possibly there's a DSP gremlin in there somewhere. I can grab a quick video or upload a patch if you're not able to dupli

[2020-09-16 06:13] stoermelder commented on #188
I did not change anything because I can’t reproduce any crashes. Maybe I can analyze further in the next few days.

[2020-09-16 08:34] ContemporaryInsanity commented on #185
Appears to work ok, will let you know of any issues, thank you!

[2020-09-16 17:41] rsmus7 commented on #188
this is what Matt (bogaudio) answered:

_This was a crash on my side, not on stoermelder -- there's a fix, though it isn't on the library yet. The prerelease builds here have the fix._

I tried the bogaudio prerelease builds and can confirm that the issue is gone, at least here.

[2020-09-16 18:53] stoermelder commented on #188
@AndyClotta Can you please provide a logfile from a crash when using 8FACE on any module not from Bogaudio?

[2020-09-16 20:49] AndyClotta commented on #188
Ben you are right it crashes with Bogaudio modules only. tried it with other modules and it works just fine. It happens that i always use it with Bogaudio modules!!!! Sorry for the inconvenience.

[2020-09-16 20:52] stoermelder commented on #188
No problem!

[2020-09-16 20:52] #188 closed, assigned to nobody

[2020-09-16 20:53] xandramax commented on #189
Here's something interesting... I was getting loud clicks coming out of the Host modules when activating the new Sync Module Preset function, so I opened up OBS to grab a video. While demonstrating for the recording, the clicks stopped happening after the first two instances.

When I watched the recording though, I was really surprised to see a graphical rendering error appear whenever I activate

[2020-09-16 20:55] stoermelder commented on #185
Let me know of any issues and I reopen.

[2020-09-16 20:55] #185 closed, assigned to stoermelder

[2020-09-16 20:56] stoermelder commented on #189
Without digging any deeper I think VCV Host reloads the VST even it no not actually changed by the preset...

[2020-09-16 21:03] xandramax commented on #189
I just checked and while the glitch still happens if only 3 Host modules are bound together by Mirror, it doesn't happen if it's only two Host modules. I can't trigger the glitch by changing which VST is currently loaded in a single Host module, or by manually copying and pasting between individual Host modules myself.

Maybe it could be resolved by slowing down the syncing process a bit?

[2020-09-19 20:12] xandramax commented on #189
I take this back; I'm now getting clicks even if I just copy and paste from one Host to another. I'll send an email to Andrew about this one.

[2020-09-20 12:25] stoermelder commented on #189
I think this is a good idea. Maybe it works better if Host does not reload the plugin if it the same as in the preset.

[2020-09-20 12:25] stoermelder commented on #190
Thanks for reporting, I will check.

[2020-09-21 18:05] Petervos2018 opened #191 "8Face bug pingpong mode"
Hi Ben,

as long as I stop the patch with 8face going in the up(ping) direction and start the patch again, all is well, but when I stop it in the down(pong) direction it stops moving after I start the patch again.
Here is a patch : [LPG Test 16092020-3WRONG-2.zip](https://github.com/stoermelder/vcvrack-packone/files/5257248/LPG.Test.16092020-3WRONG-2.zip)
Its hard to explain , start the patch stop