[2020-09-23 07:41] fractalgee opened #192 "Glue on win does not affect placed labels with edits of appearance"
I have latest stoermelder plugin and Rack 1.1.6 on win10. Glue, if editing appearance of label, does not affect already placed labels, as your demo shows, only newly placed ones, so have to delete and re-add after edits to get new look.

Great modules! thanks!

[2020-09-23 07:44] stoermelder commented on #192
This is by design. If you change the default appearance it won’t affect the existing labels. You can change every label individually though.

[2020-09-23 07:44] #192 closed, assigned to nobody

[2020-09-24 12:40] Eurikon opened #193 "Module request: list generator"
Hi Ben,
Would it be possible for you to create a small utility that grabs all names of the used modules in an opened patch.

Orders the names in their respective plugin name, prints this in a small screen or with button click to a txt file next to where the VCV patch file exists.

Could be some small utility the size of 3hp or so.
Cheers,
Latif

[2020-09-24 19:09] jatinchowdhury18 commented on #193
This is funny, I actually just started working on something like this yesterday. When I make a patch, I found that I like to give credit to the developers who helped create the modules that I used, so I started on a module called "Credit" that would create a .txt file that lists the plugins, developers, and the developers' websites. This could probably be modified so users can customize what info

[2020-09-24 20:47] Eurikon commented on #193
Fantastic! I would be grateful to either one of you who makes it.
Also a lot of other video creators will find this very useful.
Hope to see and be able to use it soon :)

[2020-09-25 06:30] jatinchowdhury18 commented on #193
Of course! I've got an early version working, any feedback would be great (https://github.com/jatinchowdhury18/ChowDSP-VCV).

[2020-09-25 09:57] Eurikon commented on #193
Great thanks!, i will try it and report :)

[2020-09-25 23:11] xandramax commented on #189
I still hadn't gotten around to sending that email, but lo-and-behold the issue seems resolved in Host 1.2.0! I'm not getting any clicks when syncing presets, even if the presets in question actually have changed.

[2020-09-25 23:11] #189 closed, assigned to nobody

[2020-09-28 16:00] driesgeusens opened #194 "VCV crashes when 8Face goes to next step (Mac OS 10.15.6)"
Hi,

On MacOS 10.15.6 VCV crashes when 8Face goes to another step. Writing a step works, read causes crash when going to a written preset.

Crash report:

Process:               Rack [20949]
Path:                  /Applications/Rack.app/Contents/MacOS/Rack
Identifier:            com.vcvrack.rack
Version:               1.1.6 (1.1.6)
Code Type:             X86-64 (Native)
Parent Process:        ???

[2020-09-28 16:03] stoermelder commented on #194
Thanks for reporting. According to the log you used 8FACE on a Bogaudio module. This is a known issue in the Bogaudio plugin.
https://github.com/stoermelder/vcvrack-packone/issues/188

[2020-09-28 16:03] #194 closed, assigned to nobody

[2020-09-28 16:15] driesgeusens commented on #194
Ok thanks! Wasn’t aware of that.

Regards, Dries

--
Dries Geusens
Nordmann // CC# // Molten Penguin // Rapidman
 geusens.dries@gmail.com // +32 486 754 815
On 28 Sep 2020, 18:03 +0200, Ben <notifications@github.com>, wrote:

[2020-10-01 16:12] Gstyle11 opened #195 "8face and BogAudio LFO (big knob)"
Causing crashes on Mac Osx Mojave when using the scene switchig on 8face connected to bogs LFO

On Windows 10 it works ok, but causing colorchange to dark when switching the scene on 8face

[2020-10-01 16:40] stoermelder commented on #195
This is a known issue in the Bogaudio plugin.
#188 #194

[2020-10-01 16:40] #195 closed, assigned to nobody

[2020-10-05 20:58] xandramax opened #196 "Stroke -- Problems with Rack MIDI Computer Keyboard driver"
I'm finding that in the following scenario, Stroke causes MIDI driver gates to stay high until forced MIDI panic:

1. Shift-C is assigned to Parameter Copy in Stroke. Shift-V is assigned to Parameter Paste, and Shift-R to Parameter Randomize
2. C, V, or R is pressed (without holding shift) while using the QWERTY Computer Keyboard driver for gate output in MIDI-CV

Here is an example patch:
[stroke

[2020-10-05 21:04] stoermelder commented on #196
I know there are some issues when using combinations which are occupied by other components of Rack. Not sure what to do about it except hoping for diligent users...

[2020-10-07 14:30] #193 closed, assigned to nobody

[2020-10-19 11:06] nnbveh opened #197 "Stroke - cable opacity resets to zero"
I have Stroke as a part of my template, i'm using a shortcut to to hide and show the cables, but since i want the connection points still to be visible for color ID, i've bound the shortcut to opacity instead of visibility. The issue is, even if opacity is set to let's say 60%, and i am able to switch between 60% and 0%, every time i close VCV Rack with the 'off' state, when i re-open my patch, or

[2020-10-21 15:11] nnbveh opened #198 "STRIP: loading strips from context menu"
Could we have a list of 'strips' in a way Factory presets are shown in the context menu? I've tried to save strip as a preset to /presets/Strip folder and it does show up but if i press it nothing happens...It's almost perfect this module, but going through the list of files in a folder breaks the workflow frankly...

[2020-10-24 10:45] matthleg opened #199 "intermix stereo?"
Hello, I would be really happy if you would like to make a version stereo of intermix... I use it a lot with sound...
Have a nice weekend,
Matthieu

[2020-10-24 11:27] ContemporaryInsanity opened #200 "MIDI-CAT MEM enhancement."
The ability for MIDI-CAT MEM to scan through the modules in a patch and when it finds one it has mappings for, maps it.
This would enable many patches to be controlled exclusively via midi controllers with no need for mouse or keyboard.

Three potential ways of doing this:

1) A single button that scans forwards from left to right, top to bottom, from the currently mapped module or top left if no

[2020-10-24 18:15] nnbveh opened #201 "MIDI-CAT keyboard key not working after being mapped"
I'm mapping lower row of keys on my macbook pro keyboard to the solo buttons on mixmaster jr, but while most of the keys work fine, the C key is not doing anything, while the solo button itself stays in 'on' mode all the time...
This happens constantly among all my patches. Couple of time it happened with X key instead, i think i've started mapping from the other key those times...

[2020-10-24 18:18] stoermelder commented on #201
Thanks for reporting. Please provide a patch as example.

[2020-10-27 18:46] ROGAVKA opened #203 "8FACE - slot sequencing getting stuck when combined with manual switch"
I was having fun combining slot-driven sequencing in ping-pong mode with manual choice at the same time and norticed that sometimes sequencer gets stuck (stop reacting to triggers). I think I nailed the exact condition for this: this happens when sequencer wants to advance a step, but was manually moved to the extreme position so now the step should be made in the opposite direction.

Example: I h

[2020-10-27 19:04] Petervos2018 commented on #203
could be related to #191 ( also with a messy explanation ;)

[2020-10-27 19:14] ROGAVKA commented on #203
Yeah, I should've definitely looked better in open issues, this looks like a similar one.

[2020-10-27 20:36] stoermelder commented on #203
Thanks for reporting. Should be fixed now.

[2020-10-27 20:38] stoermelder commented on #191
Thanks for reporting, Peter. Can you check if it works with d084bfae9e3bcb802b5ff3e112dee112cdc745f6?

[2020-10-27 22:41] Petervos2018 commented on #191
Thanks Ben, yes this update solves the bug.

[2020-10-27 22:41] #191 closed, assigned to stoermelder

[2020-10-28 07:19] Telerex commented on #150
I don't know if it is simply modules of the same name or not. In the example shown Poly Manual CV and Luci Control Freq always return a value of zero volts from any patch I save. On the other hand Unless Modules Towers returns what appear to be random values. Saving the same patch into more than one slot will return the same random values (so maybe they are not so random). This is with Nightly Bui

[2020-10-28 08:04] stoermelder commented on #150
Thanks for reporting. Please provide the patch file for further investigation.

[2020-10-28 08:06] stoermelder commented on #191
Great, thanks for testing.

[2020-10-28 16:19] stoermelder commented on #186
Thanks for the suggestion, has been added.

[2020-10-28 16:19] #186 closed, assigned to stoermelder

[2020-10-28 16:24] #203 closed, assigned to stoermelder

[2020-10-28 16:40] #179 closed, assigned to stoermelder

[2020-10-28 16:40] #176 closed, assigned to stoermelder

[2020-10-28 19:43] stoermelder commented on #199
Thanks for the suggestion. Support for up to 16 channels has been added in 26b72829b413b455c1bdc54b0a8bda8826187003.

[2020-10-28 19:43] #199 closed, assigned to stoermelder

[2020-10-29 17:23] stoermelder commented on #198
Thanks for the suggestion, added.

[2020-10-29 17:23] #198 closed, assigned to stoermelder

[2020-10-29 17:28] stoermelder commented on #187
Hello Peter. Yes, it also prevents to load a preset. I removed it as it makes perfectly sense to have presets, even if duplicating the module will also duplicate the hotkey assignments.
Unfortunately you can't have one without the other in Rack v1.

[2020-10-29 17:28] #187 closed, assigned to stoermelder

[2020-10-29 19:02] Telerex commented on #150
[TYPHON.zip](https://github.com/stoermelder/vcvrack-packone/files/5460690/TYPHON.zip)
It's a work in progress, but should still work.

[2020-10-29 19:07] matthleg commented on #199
That's good, thanks. Is it possible to already use it? and if yes what I
have to do?

Le mer. 28 oct. 2020 à 20:44, Ben <notifications@github.com> a écrit :

--
Matthieu Legros violinmaker
masarykova 9
60200 BRNO
CZECH republic
+420 773 080 023
www.luthier-legros.com

[2020-10-29 19:30] stoermelder commented on #199
Yes, nightly builds can be downloaded here:
https://github.com/stoermelder/vcvrack-packone/releases/tag/Nightly
How to install it:
https://vcvrack.com/manual/Installing#installing-plugins-not-available-on-the-vcv-library

[2020-10-29 19:50] stoermelder opened #205 "TRANSIT - broken snapshots on save after mapped modules have been deleted"
I don't know if it is simply modules of the same name or not. In the example shown Poly Manual CV and Luci Control Freq always return a value of zero volts from any patch I save. On the other hand Unless Modules Towers returns what appear to be random values. Saving the same patch into more than one slot will return the same random values (so maybe they are not so random). This is with Nightly Bui

[2020-10-29 19:53] stoermelder commented on #150
There is an issue with parameters which are mapped after snapshots have been stored. As this has nothing to do with the initial bug I moved it to a new issue.

[2020-10-29 20:35] stoermelder commented on #205
Thanks again for reporting. It is fixed now but there can't be done anything about you patch. I'm afraid the snapshots in TRANSIT are broken.

[2020-10-29 20:35] #205 closed, assigned to stoermelder

[2020-10-29 20:51] Telerex commented on #205
That's ok. The snapshots in the patch were just a test and very easy to do again with Transit. You were so quick with the fix. Well done. Now I will add patch memory to ever synth I have laid out in VCV. Thanks.

[2020-10-30 18:38] stoermelder commented on #200
Thanks for the suggestion. I've implemented your second option as I find it easy to understand (and it is not much more work than the first one). It is not fully tested yet but feel free to give it a try.

[2020-10-31 10:51] stoermelder opened #206 "MIDI-CAT - increase number of mapping slots"
https://community.vcvrack.com/t/stoermelders-idea-und-development-thread/10515/186

[2020-10-31 10:56] stoermelder opened #207 "MIDI-CAT - add incremental CC protocols from MIDI-STEP"

[2020-10-31 12:14] ContemporaryInsanity commented on #200
Thank you so much Ben, this is great.  No problems encountered so far.

[2020-11-01 12:52] stoermelder commented on #197
Thanks for reporting. Cable opacity will be preserved across restarts in the preset-data of STROKE.

[2020-11-01 12:52] #197 closed, assigned to stoermelder

[2020-11-04 21:55] nnbveh opened #208 "SAIL-controlled parameters are not recorded to the undo history"
When i change a parameter by hovering it with mouse and using a midi controller, and then trying to undo that change, nothing happens, so it seems like those changes are somehow excluded from the whatever mechanism is responsible for the actions history or whatever it's called...

I'm on mac os if that's important.

[2020-11-04 23:04] stoermelder commented on #208
That it correct and by design. Changes on parameters controlled by VCV MIDI-MAP are not available in the undo history, too.

[2020-11-04 23:04] #208 closed, assigned to nobody

[2020-11-04 23:29] nnbveh commented on #208
Yes, but vcv midi map is actually attaches midi controller to the
parameters, and SAIL is basically emulates mouse, how is that by design to
ignore changes by mouse? Makes no sense really...In fact, if there's
anything, changes by moving the midi controller while hovering something
wrong with mouse should be traced so if you didn't see where your
mouse pointer was at the moment you could revert th

[2020-11-08 14:24] z-plane opened #209 "Transit"
I'm using transit in a patch which I bound to a module (atelier) manually, however it won't let me write any new presets after reloading the patch. It just comes out as the wrong parameters when interpolating in read mode...

[2020-11-08 14:28] stoermelder commented on #209
Most probably fixed in #205. Otherwise please provide a patch file.

[2020-11-08 14:39] z-plane commented on #209
I figured it was prob some kind of corruption in the binding of params so I just deleted and remade it, but yea it looks very similar to that one. I'm guessing 205 hasn't been pushed out yet?

[2020-11-08 15:16] stoermelder commented on #209
No, not yet. I'll submit an update request to the VCV Library within the next week.

[2020-11-08 23:25] stoermelder opened #210 "ARENA - manually moving sliders and objects on the x/y-screen causes audible artifacts"
Caused by changing values on screen-rate without smoothing applied. Does not occur on CV modulation.
Needs internal restructuring for a clean implementation.

[2020-11-08 23:42] stoermelder commented on #190
This issue has been fixed.
It is described there how these ports work: https://github.com/stoermelder/vcvrack-packone/blob/v1/docs/Arena.md#in-ports-and-out-ports

[2020-11-08 23:42] #190 closed, assigned to stoermelder

[2020-11-09 18:53] #164 closed, assigned to stoermelder

[2020-11-09 18:53] #200 closed, assigned to stoermelder

[2020-11-09 18:53] #79 closed, assigned to stoermelder

[2020-11-10 17:50] stoermelder commented on #40
As I said before: Rack v1 has no API allowing such a thing, but working around it through the menu bar is possible. I did some experiments on the menu bar today and ended up reviving this idea.
I added module "EXIT" in the latest commit of PackTau as it should considered experimental, but I seems to work stable, no crashed on my side. Actually, how it is implemented now is not far from clicking "L

[2020-11-10 20:17] pgatt commented on #40
Woah. Nice one Ben! Will give it a test today!

[2020-11-13 13:45] ROGAVKA opened #212 "8FACE: not working when arming a slot two times in a row?"
Steps to reproduce:
- Attach 8FACE to the module X
- Write current preset in first slot
- Select ARM mode and attach clock to SLOT
- Tweak parameters of X
- Click on first slot - everything resets to saved state just fine
- Tweak parameters of X again
- Click on first slot again - now the port turns PINK instead of yellow and nothing happens on clock signals (see screenshot attached)
![screenshot]

[2020-11-13 13:54] stoermelder commented on #212
Thanks for asking. I never considered this use-case but this does work now.

[2020-11-13 13:54] #212 closed, assigned to stoermelder

[2020-11-13 14:59] ROGAVKA commented on #212
Sorry, I just downloaded Stoermelder-P1-1.8.01018f5-win-20201113.zip and now it seems more broken, not less :(
Now even first attempt to switch in ARMED mode doesn't work, the button just stays yellow.

[2020-11-13 17:27] VegaDeftwing opened #213 "MIDI-MON doesn't display midi CC's"
Sorta self evident in the title. Seems to respond to midi note and pitchbend fine, including the higher res of pitchbend. I didn't test mod wheel.

[2020-11-13 17:30] stoermelder commented on #213
Disabled by default.
![image](https://user-images.githubusercontent.com/47640667/99102353-3e1d3100-25de-11eb-8559-bd8790a2b80e.png)

[2020-11-13 17:30] #213 closed, assigned to nobody

[2020-11-13 17:33] VegaDeftwing opened #214 "RAW still has some instability."
I'd love to be able to give you better feedback (pun not intended) on what's going on and the cause, but it seems some cases can still cause RAW to balloon in value and lock up. It seemed to be fairly rare and I don't think it will happen unless the knobs are actually being modified or swung quickly. It could be that just doing a bit of internal slew to the input knobs would prevent it (not sure i

[2020-11-16 15:42] vcvrackideas opened #215 "STRIP presets option to load with replace"
Hi Ben! Thanks for adding presets folder and load with replace! How about to combine it? I mean some tick option below regarding loading from presets menu. So for example load with replace would be enable by default. This might be useful if I'd like to revising my saved strips to take a faster look on them, just replacing from internal menu ignoring mac or windows finder

[2020-11-16 18:10] stoermelder commented on #215
Thanks for the suggestion, Artem. Added.

[2020-11-16 18:10] #215 closed, assigned to stoermelder

[2020-11-16 23:34] midiguru23 opened #216 "Hive Ratchet Hangs on Stop"
I like Hive -- not too different from Maze, but it's fun. When the clock inputs stop, if one of the players is on a ratchet cell, the output will sometimes hang, repeating the ratchet endlessly. This video shows what happens. Thanks for the great modules!

--Jim Aikin

[hive_stop_bug.zip](https://github.com/stoermelder/vcvrack-packone/files/5550291/hive_stop_bug.zip)

[2020-11-17 07:19] stoermelder commented on #216
Thanks for reporting, Jim. Fixed for HIVE and MAZE.

[2020-11-17 07:19] #216 closed, assigned to stoermelder

[2020-11-17 23:30] nnbveh opened #217 "Intermix request(s)"
Hi!

Just discovered another module of yours, as good as the rest, and with a bit of enhancements to bring it up to speed it would be an amazing tool for composition/structure i believe. I'm using it for sending control voltages rather than audio signal but hopefully it would improve mixer functionality as well:

1. Add reset input, just like you have in other modules woking with scenes/presets.
2

[2020-11-18 15:36] matthleg opened #218 "CV-MAP "mouse active on mapped button""
Hello,
with midi-cat, when a knob or a button is mapped you can still use it with the mouse.

It would be really nice if it would be the same with midi-map ( but maybe it isn't possible...)

Please think about it,
      Have a nice day.
Matthieu

[2020-11-18 16:43] stoermelder commented on #218
This is an option in the context menu called „Parameter changes“ which is „Locked“ by default.

[2020-11-18 16:43] #218 closed, assigned to stoermelder

[2020-11-20 08:52] nnbveh opened #219 "MB module confusion"
Hi, since it was moved to the packone my rack complains that it can not be found if i have your other pack installed as well(sorry forgot its name). I have it in my template so every time i start a new patch i get a complain...not a huge issue but slightly annoying.

I'm on mac.

[2020-11-20 08:59] stoermelder commented on #219
I'm citing the project page here:

Please update your template.

[2020-11-20 08:59] #219 closed, assigned to nobody

[2020-11-20 09:36] nnbveh commented on #219
But that's the thing, i'm talking about the MB module which is NOT part of
the pack tau anymore...and the module itself works just fine. BUT, if i
install pack tau, rack start to think that MB is a part of TAU, not ONE,
trying to look for it there, can't find it...

So my template is just fine, all of your modules work as expected, there's
just some slight 'logistics' problem, so i thought maybe i

[2020-11-20 11:22] Petervos2018 commented on #219
When I saw Ben added the MB to packone, and removed it from Tau, I thought "can this be done without problems, when loading an"old" patch ? ", and indeed it can't.
For now I have an "old" tau installed so I don't get the error message.
But once I update tau I will know that the first thing I have to do is to add the packone MB to the "old" patch and save it.
AFAIK Ben can not do anything about thi

[2020-11-20 11:33] stoermelder commented on #219
The easiest would be replacing the plugin slug in the patch file with a text editor.
Another hint: If you update PackTau to the latest build MB is not needed anymore, the modified module browser is integrated in the menu bar.

[2020-11-20 11:44] Petervos2018 commented on #219
HAHA, I read that last time and had no idea what you meant.
Now I see the "EXTRA" in the menubar and think...."why did I not notice this before?"
Oh you fantastic beast, thanks for all you modules and extremely usable add ons.

Greetings Peter.

[2020-11-20 12:14] nnbveh commented on #219
Perfect! I'll just get rid of the module then...i was actually wondering
how come the browser looks 0.6 when the MB is not in the patch...

On Fri, Nov 20, 2020 at 2:34 PM Ben <notifications@github.com> wrote:

[2020-11-23 21:38] corrision opened #220 "STROKE stops responding on hotkey-events"
hi. can i start by saying your work is outstanding. i use your modules every time without fail.

my only issue is sometimes the midicat and stroke which i have assigned to keyboard commands and Behringer xtouch, lose their connection and i have to reassign.

with the midi cat just a case of reselecting the midi driver,
but with stroke i need to reassign each key

not a massive issue, but think im

[2020-11-23 21:47] stoermelder commented on #220
Hello.
Re-selecting MIDI device drivers is a known issue which affects all modules using MIDI. I’m afraid I can’t do anything about that and needs to be fixed in Rack or the used driver-backend (rtmidi)
https://github.com/VCVRack/Rack/issues/1661

Can you explain the problem with STROKE a bit better? Are the keyboard slots empty or how does it behave?

[2020-11-23 23:41] corrision commented on #220
no worries, i figured as much.

so with stroke, i have a few slots filled assigned to my qwerty keyboard.
(some zoom, a couple of triggers, a cable colour and a cable opacity)

after a while, and seemingly randomly, they keys stop being assigned and i have to re-learn all of them
Stroke still displays the assigned keys after it looses connection

i must say though, im not moaning, far from it, i l

[2020-12-05 19:10] #209 closed, assigned to nobody

[2020-12-05 19:11] #201 closed, assigned to stoermelder

[2020-12-05 21:23] xandramax commented on #182
[This patch](https://github.com/stoermelder/vcvrack-packone/files/5647888/TransitCrash.txt) crashes Rack on my end, as soon as Transit is right-clicked and the Port CV mode is changed from "Trigger forward" to "Scan".

Oddly, Rack's log appears as if no crash happened.

[2020-12-05 21:49] stoermelder commented on #182
Thanks, I missed that, fixed in c886e0574fd3ee526afa817e5d025d00e19b649b...

[2020-12-06 11:09] stoermelder commented on #214
I re-enabled a very basic limiter I had already in place for this situation. It won't prevent the output going out of range but the module should at least recover itself.

[2020-12-06 11:09] #214 closed, assigned to stoermelder

[2020-12-06 11:21] stoermelder commented on #220
To be honest I don't know what to do right now. I never heard that someone experienced this behavior nor can I imagine what happens.
Technically there is no "connection" between the module and assigned keys: the module listens on every key-event and if some pressed keys match a slot it executes the action or creates a trigger or something. That been said you should notice that the event system of

[2020-12-06 11:21] #220 closed, assigned to stoermelder

[2020-12-06 13:42] xandramax commented on #182
I'm seeing behavior where when Port CV mode is set to Scan, and the Port CV input is not connected, clicking on snapshots to load them in Read mode no longer works. Also, in this case shift-click to load in Write mode doesn't work either. Snapshot loading works as expected as long as Port CV mode is not set to Scan.

I understand Port Scan CV should override manual shapshot loading, but the port s

[2020-12-06 14:03] stoermelder commented on #182
Yes, good point, I modified it behaving this way a few moments ago.
I will check and respond to the other suggestions later.

[2020-12-12 22:26] matthleg opened #221 "cv-map small problem with "parameter changes" lock/unlock"
![Screenshot (20)](https://user-images.githubusercontent.com/36376831/101996193-76dd2280-3cd0-11eb-8bc1-ca9a18ba2aa5.png)
Hello,
 in this patch, with parameter changes **unlock** (in cv-map) I can switch on the buttons of intermix but I can not switch them off (using stroke).
I would like to use both: stroke or the mouse
I think it's a small bug?
Thanks for all your fantastic work .
All the best.

[2020-12-13 09:41] stoermelder commented on #76
I finally implemented this for 8FACE and the upcoming 8FACE mk2.

[2020-12-13 09:41] #76 closed, assigned to stoermelder

[2020-12-13 09:43] stoermelder commented on #158
8FACE mk2 does not use the expander mechanism and 8FACE won't be changed in this matter.

[2020-12-13 09:43] #158 closed, assigned to stoermelder

[2020-12-13 09:44] stoermelder commented on #157
Added in 8FACE mk2.

[2020-12-13 09:44] #157 closed, assigned to stoermelder

[2020-12-13 09:45] stoermelder commented on #162
Added in 8FACE mk2.

[2020-12-13 09:45] #162 closed, assigned to stoermelder

[2020-12-13 09:45] stoermelder commented on #154
Added in 8FACE mk2.

[2020-12-13 09:45] #154 closed, assigned to stoermelder

[2020-12-13 09:46] stoermelder commented on #144
Added in 8FACE mk2.

[2020-12-13 09:46] #144 closed, assigned to stoermelder

[2020-12-13 09:49] stoermelder commented on #160
8FACE mk2 supports multiple modules the same time and I think this makes some sort of "master controller" unnecessary.

[2020-12-13 09:49] #160 closed, assigned to nobody

[2020-12-13 09:49] stoermelder commented on #63
Added in 8FACE mk2.

[2020-12-13 09:49] #63 closed, assigned to stoermelder

[2020-12-13 10:42] RichieHindle commented on #76
That's great - thanks!

But I don't think you've added Entrian Acoustic Drums to the list of affected modules - you have Entrian-Sequencers and Entrian-Free, but those are different plugins.  You also need Entrian-AcousticDrums:
[code]

(You're right to have Entrian-Sequencers and Entrian-Free in that list as well - please don't remove them.)

You're more than welcome to a free license for any of

[2020-12-13 10:46] nay-seven commented on #63
Whaoo !
Thanks a lot Ben ! !
Works fine here Mac mojave/rack 1.6

[2020-12-13 13:34] stoermelder commented on #221
Thanks for reporting, fixed.
Also notice there is some sort of matrix-mapping mode for INTERMIX which allows controlling all 64 pads using 16 keys or controls. Unfortunately INTERMIX isn't documented at the moment, but it is mentioned here: https://github.com/stoermelder/vcvrack-packone/issues/80#issuecomment-570357921

[2020-12-13 13:34] #221 closed, assigned to stoermelder

[2020-12-20 14:21] matthleg opened #222 "idea for simple modules Stereo merge and stereo split"
hello,
Thanks for making polyphonic the intermix,
it would be nice now to have two small module to merge and split 8 stereo signals as in the image.
Please think about it.
Have a nice Christmas time.
Matthieu
![stmg](https://user-images.githubusercontent.com/36376831/102715609-e9549080-42d6-11eb-98d0-09fd3316b911.jpg)
![stsp](https://user-images.githubusercontent.com/36376831/102715612-e9ed2700-42

[2020-12-20 15:44] stoermelder commented on #222
I don't think it is worth another module, there a several split modules available, also a stereo merge/split:
https://library.vcvrack.com/LindenbergResearch/PolyStereo

[2020-12-27 13:37] joopvdl opened #223 "MB only show category, not brand"
Would it be possible to have an option to hide the "Brands" part in the left side column in MB? So you can choose Favorites, and have the categories all shown, instead of having to scroll.

I find one of the most important things when working in a studio is the ability to find your stuff quickly. Having to remember all the names of the modules I like to use is quite a task.
In Cubase, I spent a lo

[2020-12-27 14:19] stoermelder commented on #223
Thanks for the suggestion, added.

[2020-12-27 14:19] #223 closed, assigned to stoermelder

[2020-12-27 17:31] joopvdl commented on #223
That's pretty fast :) So apologies for re-opening, but as I was playing around with the idea, I wondered if it would be possible to hide the empty categories, thus even more simplifying the overview.

[2020-12-27 19:11] stoermelder commented on #223
I don't think I want to do this as it will change the list while searching or a brand is selected. But feel free to do your own custom build, it needs only replacing `item->disabled` by `item->visible` in https://github.com/stoermelder/vcvrack-packone/blob/827e32a30a37d4372fb88094d372f54aec4ee16c/src/mb/Mb_v1.cpp#L940

[2020-12-28 08:50] joopvdl commented on #223
That's fine, thanks anyway. Your stuff is extremely useful.

On Sun, 27 Dec 2020, 20:12 Ben, <notifications@github.com> wrote:

[2021-01-08 17:43] matthleg opened #224 "8faces possibility to give names to the 8 buttons"
Hello,
It would be really nice if when the mouse goes on one of the button:
 to see a name we can assign (with the right menu) and not only slot1, slot 2... as it is now.
Please think about it,
Have a nice day,
Matthieu

[2021-01-08 18:23] stoermelder commented on #224
Thanks for the suggestion. I won't add it to 8FACE but it will be available in 8FACE mk2.

[2021-01-08 18:23] #224 closed, assigned to stoermelder

[2021-01-12 17:14] rbreckenridge opened #225 "add toggle to CC input slots in Midi-Cat"
I have an Akai Midimix and the `mute` and `RecArm` buttons output a CC value.

I would like to map the buttons to the mute/solo buttons on MixMaster, but currently, they only act as momentary toggles, muting while the button is being pressed and then unmuting on release.

I can get this functionality with VCV's Midi-CC, patching the outputs from the buttons into a merge, into the `Poly Mute Solo C

[2021-01-18 17:46] xandramax commented on #220
Here's a patch (BrokenStroke.vcv) which, on my end, consistently loads in a state wherein Stroke displays two mapped keys but does not respond when either of them is pressed. I'm curious to find out whether this patch also misbehaves for you.

I've also attached a second patch (HalfBrokenStroke.vcv) which was made by opening the first one, remapping the first key only, then saving. This one consis

[2021-01-18 19:32] stoermelder commented on #220
Thanks, that was helpful. Two issues fixed:
1. "Num Lock" is a key modifier in glfw like Shift, Ctrl and Alt. I did not know that. This caused "loosing" all mappings after toggling Num Lock.
2. Numpad keys return a different key code.

[2021-01-20 12:34] Petervos2018 commented on #220
I think the last update f9c65e4 broke something, I used to be able to start/stop with the space-bar connected to run from clocked, but this does not work any more, went back to af7eab and all is well again.
W10, if you need a patch, just let me know.
Greets Peter.
PS as it turns out "nothing" works any more I also had  numbers 1 to 4 (on the num-pad) assigned to functions and they do nothing at al

[2021-01-20 13:00] stoermelder commented on #220
Well, while I fixed the num-lock/numpad issue it may broke some patches, depending on your num-lock state and numpad usage. Presets of STROKE are now corrected on load.

[2021-01-20 13:10] Petervos2018 commented on #220
560ab02 works 👍 , thanks

[2021-01-27 11:07] matthleg opened #226 "module to open new patch in the style of 8face"
Hello,

I have an idea for a module similar to 8 face but each button would open a new patch (utile in live performance)
1-clicking right in each button to choose the address of your patch
2-save a preset of the module
3-open the module in the 8 patches with the good preset (like this you can pass from a patch to an other just pushing a button)

Maybe it can interested you... I felt it is in the l

[2021-01-31 15:11] taji opened #227 "Bookmark module"
Simple panel with two configuration parameters:

- Name: (this will appear on the panel).
- Link: the url to navigate in your browser when the panel is clicked.
- Image (Optional):  A PNG icon to display.

When clicking on the Link (Or Image), this will open a new tab in the system's default browser to the link specified (should work across all OS platforms).

Motivation: I'm not a big fan of any

[2021-02-07 10:55] stoermelder commented on #227
While this is a valid suggestion I most probably won't do it, for security reasons: Someone could use it to link to a website spreading malicious software or some other harmful content.

[2021-02-07 11:00] stoermelder commented on #226
You can try EXIT in [PackTau](https://github.com/stoermelder/vcvrack-packtau) which does this kind of thing. You can only link to one patch but no one stops you adding multiple module and trigger them by VCV Pulses.

[2021-02-07 15:00] taji commented on #227
Good point, no worries.

On Sun, Feb 7, 2021, 4:55 AM Ben <notifications@github.com> wrote:

[2021-02-07 17:16] stoermelder commented on #225
Thanks for the suggestion, added.

[2021-02-07 17:16] #225 closed, assigned to stoermelder

[2021-02-08 08:15] matthleg commented on #226
Thanks it looks nice, I will try it a bit more.

Le dim. 7 févr. 2021 à 12:00, Ben <notifications@github.com> a écrit :

--
Matthieu Legros violinmaker
masarykova 9
60200 BRNO
CZECH republic
+420 773 080 023
www.luthier-legros.com

[2021-02-10 11:05] matthleg opened #228 "expander for intermix to send trigger or gate"
Hello,

Maybe it would be nice to have a small expander for intermix (see image) to send a trig or a gate when one (or more) button from a line are on : one line on = one gate/trig.
 It can be useful for example to run strip.
Thanks for all your modules and your good suggestions.
Have a nice day.
                            Matthieu
![intermix exp](https://user-images.githubusercontent.com/3637683

[2021-02-10 21:21] stoermelder commented on #228
Nice idea, I will think about it.

[2021-02-13 18:59] matthleg opened #229 "possibility to use 8face with strip..."
Hello,
sorry it's me again... ( I use a lot your modules in every patch and I use a lot vcv).

I am saving few small strips (one module + teleport in/out from little utils)  and the opposite teleport in/out is outside of the strip so, in strip when I "load with replace" I have my new strip already plug.

So I was thinking to use this with 8 face but it doesn't work... I suppose that in the preset

[2021-02-13 19:06] stoermelder commented on #229
STRIP does not have an internal memory, it exports and imports a set of modules only.
I don’t see an use-case of what you are trying to do which can’t be done with a sequential switch instead?

[2021-02-13 19:28] matthleg commented on #229
I am often doing really big patches so it is a way to switch between
modules but without have them all open in the patch and save cpu.

On Sat, 13 Feb 2021, 20:06 Ben, <notifications@github.com> wrote:

[2021-02-22 12:50] vcvrackideas opened #230 "Strip internal presets folder - subcategory in right click menu by adding a folder into the presets folder"
Hi Ben, long time no writing requests ;-) So here is the deal - I found recently a concept of internal folder of Strip quite useful. And then I tried to make for example KICK folder inside it. Of course I had no luck without because there is no support for such categories defined by folders yet. So if you will find this idea useful could you add please then? Cheers!

[2021-02-22 20:15] stoermelder commented on #229
Ok, I see. Still, adding and removing modules is something that should be sequenced as these operations interrupt the audio thread (the same is true for adding or removing cables).
Did you try STRIP's disable? It should give you a similiar result CPU-wise.

[2021-02-22 20:15] stoermelder commented on #230
Thanks for the suggestion, added.

[2021-02-22 20:15] #230 closed, assigned to stoermelder

[2021-03-08 06:51] omricohenmusic opened #231 "MB Idea"
Hi Ben!

I had an idea for the MB module. Would it be possible to have one tab for loading Strip files? That way, you can save different configurations and load them directly to the patch without having to use the Strip module and search for the file. For example, I'm using the Host module a lot with the Midi keyboard. I could save this setting with Strip, and load it easily from the module browse

[2021-03-08 21:52] joopvdl opened #232 "Midi-cat: trig to start mapping"
to me, midi-cat is one of the most useful (and used) utilities in Rack. I even bought some midi control surfaces so I can use rack with a hardware feel.
My patches are usually quite big, so I need to do a lot of scrolling and zooming to get around.
Therefore it's sometimes quite a search to locate the midi-cat module, so I can map midi to whatever I'm working on at that time.
I would love to be ab

[2021-03-23 13:10] flyingLowSounds opened #233 "enhancement: add labelling to utility module buttons"
When using modules like 8Face, Transit, etc. it would be useful to know what functionality a button has without needing to press the button to find out.

Would it be possible to add a labelling feature per button so that the label appears as part of the tooltip when hovering on button?

So, for exampe, for 8Face, the first button currently reads "Preset slot 1: 0". It would be great if I could add

[2021-03-23 13:13] stoermelder commented on #233
This has been added in the development branch some time ago.
Alternatively you can use my GLUE module which works for every module in Rack.

[2021-03-23 13:13] #233 closed, assigned to nobody

[2021-03-30 16:59] Chaircrusher opened #234 "MIDI-CAT + Mindmeld Mixmaster - Map Module Left Crashes."
This is what I think of as a GOOD crash because it crashes on an assert, and you can look at the source in Rack to see where it's happening and why.

1. Put an instance of MIDI-CAT to the right of a MindMeld MixMaster.
2. Use the context menu to select "Map module left->Clear first'
3. KABLAMMO

This could be a Stoermelder bug or a Rack bug, or an Mindmelder Mixmaster bug. But it's reproducable.

[2021-03-30 17:28] stoermelder commented on #234
Thanks for reporting, Kent. Fixed.

[2021-03-30 17:28] #234 closed, assigned to stoermelder

[2021-04-01 01:30] VegaDeftwing opened #235 "Module Request: Encoders with save states"
It's easier to explain what I want to do than to explain the technical details- I'd like to have a small bank of endless encoders control a large number of parameters (say 8 encoders to 64 parameters).

I can already select presets of midi-mapping via midi or keystrokes with a setup like this:

![image-20210331172244179](https://user-images.githubusercontent.com/11283620/113230404-8d4ac200-925e-11

[2021-04-01 01:50] VegaDeftwing commented on #235
Ope. I just discovered this already more or less exists in MIDI-CAT I just didn't see it. Oops!

[2021-04-01 01:50] #235 closed, assigned to nobody

[2021-04-05 11:36] Castled00r opened #236 "Midi-cat Resending MIDI feedback"
The Feedback function of Midi-cat is brilliant. It makes vcv super intuitive with controllers like the BCR

I am not sure weather this issue is a bug or an idea. But whenever I skip presets in the beheringer BCR the feedback function doesnt go along, and the bcr buttons of presets 2 and up doesnt "listen" to the knob position in vcv.

I can confirm that Behringer BCR/BCF controllers are not “aware

[2021-04-08 19:49] terrytheplatypus opened #237 "Improve documentation on changing sequence length in Transit"
I was able to figure this out when i saw the gif on the doc page where the mouse button is held down, but I used this module for several months without realizing this was an option. It would be helpful if something was added to the documentation page simply stating that sequence length can be changed in this way

[2021-04-08 19:53] stoermelder commented on #237
Can you elaborate this? It is mentioned right at the beginning of the "Sequencing" passage:
https://github.com/stoermelder/vcvrack-packone/blob/v1/docs/Transit.md#sequencing-and-selecting-snapshots

[2021-04-08 21:27] terrytheplatypus commented on #237
Sorry, I missed that because i was searching for "length". That's my mistake because i didn't read the doc thoroughly enough, but i think it would be slightly better to rephrase it with the "length" keyword there as well. For example: "You can adjust the number of active slots (i.e. sequence length) by long-pressing a snapshot-button while in read-mode.

[2021-04-09 08:02] terrytheplatypus commented on #237
I submitted a pull request for the minor documentation change.

[2021-04-09 12:54] mosesve commented on #29
Hi Ben,

sorry to reopen this issue, but I think "Autoload first preset" does not work.
Additionally even when the first preset is triggered afterwards by setting the slot mode to "random" the preset will not load.
See attached Strip, the trigger switches the first 8face forward and the second one randomly with a delay - that works with preset 2-4 (12,13,14 and 22,23,24 on the submarine TD-202) bu

[2021-04-09 23:52] stoermelder commented on #29
Thanks for reporting, "Autoload first preset" was indeed broken. I think it will also work with "random mode" now, can you confirm?

[2021-04-09 23:57] stoermelder commented on #236
I understand your request but I'm not sure if it brings something new to MIDI-CAT: Did you try enabling the "Periodically" option for "Re-send MIDI feedback"? I suspect it will work for your scenario.

[2021-04-10 07:32] mosesve commented on #29
"Autoload first preset" is working now. Thanks for the quick fix.
But you may want to revisit the behavior when an 8Face is loaded without autoload activated.
It always lights up the preset slot that was active when saving the preset without activating it. When an incoming trigger switches the preset to random or next, that will activate it, but not if it is the lit preset and there is at the mome

[2021-04-10 08:04] stoermelder commented on #29
I added such an option a few moments ago as it was an easy change.
I'm not sure what you are trying to achieve but maybe you want to take a look at 8FACE mk2 whose number of preset slots can be extended with multiple "+8" modules.

[2021-04-10 09:04] mosesve commented on #29
Brilliant! Thanks a lot.
I am essentially rebuilding Harmonaig, but for scale quantisation. Kind of like a "chord and scale suggestion apparatus". I don't need more presets, but a multiplication of presets, so I use four 8face in a row (1st 8face² -> Modal Selection / 2nd 8face² -> Root Note / 3rd 8face -> Chord Type / 4th 8face -> possible scales programmed into quantum). I will release the patch

[2021-04-10 11:45] vcvrackideas opened #239 "Blank panel companion for Strip (limiter for the desired saving strip)"
Hi Ben! Just curious if is it possible to develop some module that can be placed between bunch of strips and it would be prevent from cutting or replacing not needed modules that stick to the strip (from or inside the strip) which is acting at some moment? I know you're magician of VCV (especially regarding that fresh folding with strip proof of concept!) so maybe you can manage it if you like the

[2021-04-10 18:47] stoermelder commented on #139
Hi Artem. This one needed some internal rework but finally a view new commands are available.

[2021-04-10 19:18] Petervos2018 commented on #139
Hi Ben after this update zoom toggle does not work any more, it zooms in but not out.

[2021-04-10 19:29] stoermelder commented on #139
Peter, I'm afraid I can't reproduce it. Anything special I need to do?

[2021-04-10 20:07] Petervos2018 commented on #139
Sorry just downloaded the latest nightly 0e79300 and all is well again, don't know what happened.

Thanks

[2021-04-11 10:20] Castled00r commented on #236
Yes, whenever Periodically is enabled, the Led's ''listen'' to VCV and jum to to their proper position.
This indeed works for this scenario, but because of the 16 midichannels, and 16 Midi-Cat instances, every time a VCV patch is loaded, you need to turn on manually the 'Periodically' function 16 times :)

On the VCV forums tomfug came with the idea to CC the 'Periodically' button. The reason for

[2021-04-11 13:11] vcvrackideas opened #240 "MIDI-STEP - Xtouch mini - encounting some bugs"
Hi Ben, just bought the best in order to use with midi step and sail as well. The first bug is not even a big deal - after setting relative controls inside mapping software I've got INC and DEC outputs working vice versa, it solves just by switching cables in wrong sail's holes so it's just FYI, little bug.
But the second one is biggiest - midi step doesn't recognize encoder after restarting the R

[2021-04-11 13:57] stoermelder commented on #240
I don't have this controller and can't check myself but MIDI-STEP has not been changed for some time, no one else reported problems. Can you please check the incoming MIDI messages using MIDI-MON?

[2021-04-11 14:06] stoermelder commented on #236
Can you explain what you mean by that? Why do need to set the option manually every time a patch is loaded?

[2021-04-11 14:13] stoermelder commented on #232
I'm thinking about creating another expander for MIDI-CAT which provides this option and integrate MIDI-CAT in the context menu of every parameter to allow a faster mapping workflow (currently only available when already mapped).

![image](https://user-images.githubusercontent.com/47640667/114307640-d6add380-9ae0-11eb-8189-c9c49070025a.png)

[2021-04-11 14:14] vcvrackideas commented on #240
ok midi-mon see it and decreasing encoder is 127 or 126 and increasing 1 or 2 or 3 sometimes.

[2021-04-11 14:18] stoermelder commented on #240
Ok, you can try AKAI MPD218 mode which operates with this values but have you set the controller to "Relative 1"?
![image](https://user-images.githubusercontent.com/47640667/114307810-82efba00-9ae1-11eb-85e3-23b558912a37.png)

[2021-04-11 15:31] vcvrackideas commented on #240
Yep I have set it to Relative 1 as in your manual ;-) AkaiMPD works as expected regarding DEC and INC outs but I don't like it due to very small step sizes, x-touch mode serves that well. Again it's not big issue with INC and DEC. The main one is that for example midi-mon responds on the controller moves well from the beginning but midi-step still needs re-learning to "see" X-touch :-(

[2021-04-11 15:37] vcvrackideas commented on #240
OK - just made the video regarding this issue - https://youtu.be/rBIueXlO6PY

[2021-04-11 15:38] vcvrackideas commented on #232
WOW! really nice. It would be way faster and intuitive than before

[2021-04-11 16:27] vcvrackideas commented on #139
Thanks Ben! Really nice movements and no GUI glitches. If you can do that also with Zoom toggle (which is my favorite one command) - would be awesome

[2021-04-11 20:22] stoermelder commented on #139
Added.

[2021-04-11 20:30] stoermelder commented on #240
Not sure what's going on. I was told that Relative 1 is working the same way as the Arturia Beatstep.
Can you please create three logs with MIDI-MON using the different relative modes?

[2021-04-12 10:40] Castled00r commented on #236
Just noticed that the toggle option 'periodically' will stay on if you save a patch! And so now the LED's turn back to their original positions! Can't believe I needed a week to figure this out. Sorry for the ignorance, but i am glad this is solved. Will post in the VCV forums. Thanks for the support Ben!

[2021-04-13 09:49] stoermelder commented on #236
I’m glad you got this sorted out because I could really follow your issue 👍
Besides that, these older Behringer controllers behave a bit strange in this matter, in my opinion.

[2021-04-13 09:49] #236 closed, assigned to stoermelder

[2021-04-15 10:56] stoermelder commented on #232
A new expander is available in latest build.

![image](https://user-images.githubusercontent.com/47640667/114858654-09f6a800-9dea-11eb-8d89-efda78a1301f.png)

[2021-04-16 13:49] stoermelder commented on #20
This has come a very long way but finally a simple module for this purpose is available. It keeps connection in from out a strip intact when using "Load with replace". It is quite similar to the technique demonstrated by @vcvrackideas in one of his recent tutorials but with cables instead of teleportation.
https://www.youtube.com/watch?v=YeCT7rOq70Y

[2021-04-17 16:18] stoermelder commented on #239
Hi Artem, I added an one HP module for that but I'm not so sure I did understand your request correctly?

[2021-04-18 06:42] vcvrackideas commented on #239
Thanks Ben, exactly what I (or probably we all) needed for! Nice to have it near the every strip to manipulate them more in free way

[2021-04-18 06:46] vcvrackideas commented on #20
Nice Ben and thanks for the mention. However can't get an idea on how to use it, may I ask you provide any kind of GIF or just picture?

[2021-04-18 08:22] stoermelder commented on #20
The module wasn't working at all before, sorry for that :-( And there is a bug somewhere causing missing cables I need to search for. Still, I did a short clip for demonstration.
https://youtu.be/xGKoQdN9K60

[2021-04-20 12:53] vcvrackideas commented on #240
Hi Ben sorry for long time no anwer, I created 3 logs and happy to me Relative 2 at least works in right way in terms of INC DEC direction. But the issue with needed relearning encoder each time VCV Rack opens is still persist. Moreover - sometimes when I off VCV Rack window and went to the browsing and then comeback - no reaction from midi controller again, needs to relearn encoder and so on. But

[2021-04-20 14:02] stoermelder commented on #240
Ok, thank you for the logs. First of all, it seems I got wrong information in the past about the relative modes of the X-Touch controllers.
But I'm not sure about the relearning of the CCs. After I watched again the video you made I noticed that you are mapping CC1 which is duplicate in slots 1 and 2. This does not work so I fixed that when learning a CC which is already assigned. But I'm not conv

[2021-04-21 05:46] vcvrackideas opened #241 "SAIL - some modules causes VCV crash"
Hi Ben! Yesterday I noticed weird thing when used Sail on Frozen Wasteland QAR - it just crashes VCV on every knob. The thing on this module - it doesn't expect anything that stepped values mean integral, that's why imo it causes a crash. With basic midi mapping it works fine btw so I asked Eric first about this and he doesn't see any troubles in his module.

[2021-04-21 06:42] stoermelder commented on #241
Thanks for reporting, there was indeed a bug (caused by long parameter names in the overlay and ability for multiline display which in not implemented right now).

[2021-04-21 06:42] #241 closed, assigned to stoermelder

[2021-04-21 16:54] vcvrackideas commented on #240
Yeah thanks, today it was worked with initial preset which is starting from 0 CV. I just used second port and it's allright now, thank you!

[2021-04-25 11:58] vcvrackideas opened #242 "Rack undo history module request... :-)"
Hi Ben, is this possible in theory? I like ctrl+z in VCV Rack for time saving purposes when trying to find special module and reconnect if I don't like it but it would be faster with the story list, as like as in Photoshop for example

[2021-04-26 21:34] vcvrackideas opened #243 "CV-MAP - context menu as midi-cat mapping"
Hi Ben! It seems your first module cvmap not so popular because of map micro. But what if it can get everything that midicat has right now (context menu mapping expander included)? I mean it would be easier and fast to setup it in template and map needed knob via context menu than adding map micro each time and so on. I have noticed also that map micro also has a context menu settings on a blinded

[2021-04-30 15:08] gillesdanger opened #244 "Can't save or open vcvss"
hello,
this is what I'm doing:
After "saving as" in the "strip" section, what I get is a .vcv file.
So I read on som thread to change the extension for a .vcvss
But unfortunately It's not working. I get "could not load file……… test.vcv "
So it means that the operation of changing for .vcvss is not taking.
Have you some advices?
OSX 10.15
Best.
g.

[2021-05-04 19:41] stoermelder commented on #244
Please provide a file you did save before.

[2021-05-04 19:43] stoermelder commented on #243
I actually started implementing this for CV-MAP some time ago but never finished it. Maybe I'll need to revisit it.

[2021-05-05 07:58] gillesdanger commented on #244
Hello Ben,
Thank you so much for your help,
I hope that it is something that I not doing as it should
Today, when I change the extension, finally, I can’t open at all the vcvss file…
weird…
I made you a video to see how I did.
g.

ps: test.vcvss.cv , is the file you saw me saving then I changed the extension. Looks like it’s not good at all
I add another file which is save without renaming:

[2021-05-05 10:42] stoermelder commented on #244
I’m sorry but I can’t see any file nor video?

[2021-05-05 10:50] gillesdanger commented on #244
and with the link to a wetransfert?
https://we.tl/t-cc3cIakNB3 <https://we.tl/t-cc3cIakNB3>

[2021-05-05 20:38] stoermelder commented on #244
Thanks, but to be honest I have no idea what's going on. I'm a Windows user so I can't test but no one ever had similar issues on Mac OS :-(

[2021-05-05 20:49] stoermelder commented on #242
This idea is not new :-)
https://github.com/stoermelder/vcvrack-packone/issues/24

[2021-05-05 20:49] #242 closed, assigned to nobody

[2021-05-05 20:53] stoermelder commented on #240
I'm closing this. If you have any more issues feel free to respond!

[2021-05-05 20:53] #240 closed, assigned to stoermelder

[2021-05-05 21:02] stoermelder opened #245 "MIDI-KEY"
https://community.vcvrack.com/t/stoermelders-idea-und-development-thread/10515/316

[2021-05-05 21:06] stoermelder opened #246 "GLUE for labels"
https://community.vcvrack.com/t/stoermelders-idea-und-development-thread/10515/311

[2021-05-05 21:08] stoermelder opened #247 "GLUE for cables"
https://community.vcvrack.com/t/stoermelders-idea-und-development-thread/10515/311

[2021-05-05 21:10] #139 closed, assigned to stoermelder

[2021-05-06 07:02] gillesdanger commented on #244
Thank you Ben.
I will un-gohst my mac one day :)

[2021-05-09 22:21] stoermelder commented on #243
Added.

[2021-05-09 22:21] #243 closed, assigned to stoermelder

[2021-05-10 08:52] vcvrackideas commented on #243
Thank you very much for adding that! Already love more low and high range controls than offset and scale, more intuitive. Just curious is this possible to add context menu to the mapped parameter as you did for uMap? If not it's not a big deal. Will be useful only when have a lot of mappings around the patch. Cheers!

[2021-05-10 18:23] #232 closed, assigned to stoermelder

[2021-05-10 18:24] stoermelder commented on #243
Sure!

[2021-05-10 20:31] stoermelder opened #248 "INCEPTION"
Sequencer which allows every step to be a sub-sequence, with unlimited deep levels.

![image](https://user-images.githubusercontent.com/47640667/117720833-6ed1d200-b1df-11eb-965f-023ab2488963.png)

[2021-05-10 20:54] vcvrackideas commented on #248
Wow, the idea and looking are really amazing! Looking forward

[2021-05-10 20:55] #239 closed, assigned to stoermelder

[2021-05-10 20:59] vcvrackideas opened #249 "Off function for Transit and 8face on the front panel or by hotkey"
Hi Ben! I really dig phase morphing via transit these days but sometimes I just want temporarily stop movements for whatever reasons and need to dive in menu and press off each time. Maybe you could apply some micro button for both modules near trigger input or just hot key? Cheers!

[2021-05-10 21:53] stoermelder commented on #249
Added SHIFT+Q hotkey for 8FACE, 8FACE mk2 and TRANSIT.

[2021-05-11 07:42] vcvrackideas commented on #249
Thanks, it's working! However could this hotkey be a toogle one to the previously playing mode back again? By now it's only deactivating (nice to see blinking yellow LED on transit, really good indication) but to activate triggering again still needed to get to menu diving

[2021-05-11 08:00] vcvrackideas opened #250 "MIDI-CAT - kind of Re-learn mode in context menu"
Hi Ben! I found it's good to have midi cat and midi map (due to context menu mapping on parameter) for just locking temporarily to one knob and then switch to the another when neede, so just one encoder for that. My current workaround is like that - right click on already mapped knob - learn midi - click on  the next needed knob - and turn the encoder. Bingo - encoder has been rewired to the next

[2021-05-15 00:58] Stubs42 opened #251 "8FACE - "auto" mode besides "read" and "write""
Hi,

I want to propose to add a third mode beside read/write. I call it auto mode. In this mode, 8FACE would write the current state of the module it controls into current selected slot whenever the slot is changed before restoring the state of the new selected slot to the module.

Think about a sequencer sequencing patterns for a sequencer like a trigger sequencer with 16 steps to handle 32 Step

[2021-05-17 12:15] ohechtl opened #252 "STROKE - move around Rack"
Hey, I'd like to use the classic WASD hotkeys for moving around my Rack patch, because that'd simplify patching over long distances with the mouse. I was thinking I could do this with the Frank Buss shaker module and processing a gate from STROKE somehow, but it'd be much better to just have a configurable shortcut for the 4 directions available in STROKE :)

But really thank you for the module, I

[2021-05-17 21:05] stoermelder commented on #251
Hi Dieter, thanks for this suggestion. I will think about it but it sounds useful indeed.

[2021-05-17 21:10] #252 closed, assigned to stoermelder

[2021-05-18 08:47] vcvrackideas opened #254 "Add module command of Stroke does nothing on windows"
Hi Ben! Can't get it working Windows. What is the exaclty workaround of this function by the way? :-)

[2021-05-18 14:28] Stubs42 commented on #251
Hi,

thanks for taking the implementation into account.

Really hope you will do it. Would like to use it in my Sequencer Template to use pattern functionality on sequencers not supporting patterns, which is not really possible with the current Implementaion of 8FACE because any changes to a running sequence would be lost when switching to another pattern.

Regards
Dieter

[2021-05-18 19:19] stoermelder commented on #254
Did you „learn“ a module first? Essentially it grabs the preset of a specified module and adds it afterwards using the hotkey, whenever you like.

[2021-05-18 23:29] Petervos2018 commented on #254
There is a way to make this crash rack, don't learn a key but choose module commands-> add module.
Then right click that button again go to module commands and hover over add module, rack will crash.

[2021-05-19 15:46] vcvrackideas opened #255 "CV input expander for STROKE to achieve access from midi (or cv) to special commands"
Hi Ben! There is no alternative to get an access to such unique commands as you implemented in STROKE like zoom, randomize, copy or add module from midi controllers (or crazy from CV gates, but personally I probably have no interest in automating zoom for example haha). I thought to offer you separate module at first but expander seems be a bit easy to do for you of course if you have any interest

[2021-05-19 15:48] stoermelder commented on #255
Sorry, this won't happen. We can talk about MIDI mapping but CV inputs will cause more problems than use.

[2021-05-19 15:51] vcvrackideas commented on #255
ok, just midi would be fine. One of my favorite idea was use midi button for randomize parameter command and once I find good position I can tweak it just for a moment with sail enabled precise tuning.

[2021-05-19 17:19] stoermelder commented on #255
Can't you do this with STRIP already?

[2021-05-19 17:22] stoermelder commented on #254
Thank you, fixed.

[2021-05-19 17:51] Petervos2018 commented on #254
It works, and now I also understand what it does...thank you.

[2021-05-19 17:55] vcvrackideas commented on #255
No, the reason I have mentioned Random value function in STROKE was it designed to be used of one parameter, not whole strip. I just binded it to R button for example, hover mouse on parameter and tap it as many times as I like to even animate is like a temporary sample and hold and then move to the next one to explore module a way faster with mouse. That's why having button on midi controller for

[2021-05-23 21:17] vcvrackideas opened #256 "Context menu learning expander for CV-MAP (similar to MIDI-CAT map)"
Hi Ben! You did an amazing job on providing scales inside context menu of mapped parameter to CV-MAP. In my opinion to complete the quest is only learning ability via context menu would be as a finish touch. The idea is similar that you have in midi-cat map expander, so we place expander with CV-map and define the ID (if it can be longer than two letter it would be also pretty cool).
Why I'm askin

[2021-05-24 12:14] stoermelder commented on #256
I thought about this myself. I think it would be a useful addition but we’ll see what happens ;-)

[2021-05-24 14:31] stoermelder commented on #256
I’ve been thinking about this and guess I need to make arbitrary channel routings possible before this makes much sense:
Currently input channel 1 is „hard-wired“ to slot 1, channel 2 to slot 2 and so on. I’m proposing I allow every input channel mapped to each slot. This way someone could connect an LFO to channel 1, for example, and map it onto multiple parameters using multiple slots, each with

[2021-05-24 16:32] vcvrackideas commented on #256
Sounds cool!

[2021-05-24 16:32] stoermelder commented on #256
Already implemented in the commit a few minutes ago.

[2021-05-24 19:07] stoermelder commented on #256
Ok, I added a new expander module CV-MAP CTX, also renamed MIDI-CAT's counterpart to MIDI-CAT CTX. There has been some issues in the context menu extension on the parameters but it seems to be working reliable now.

[2021-05-24 19:17] #254 closed, assigned to stoermelder

[2021-05-24 19:17] #227 closed, assigned to nobody

[2021-05-24 19:24] stoermelder commented on #256
Toogling has been added without further notice, so closing 😁

[2021-05-24 19:25] stoermelder commented on #249
Toogling has been added without further notice, so closing 😁

[2021-05-24 19:25] #249 closed, assigned to stoermelder

[2021-05-25 20:02] joopvdl opened #257 "right click context menu or trig in for glue"
Now that Midi Cat has been enhanced with a right click context menu thing, which is a great addition, could you also implement that for glue? So that you can just right click any module, and a label appears?
If that's not possible, could glue get a trigger input, so you can assign a hotkey to it?
Now, I always have to scroll back to where the glue module is, in order to press the button, and then

[2021-05-25 20:07] stoermelder commented on #257
You are aware that there is already hotkey CTRL+A for adding labels?

[2021-05-25 20:23] joopvdl commented on #257
Ah! No, I wasn't. So that's it! Thank you for that.

On Tue, 25 May 2021, 22:07 Ben, ***@***.***> wrote:

[2021-05-26 08:12] stoermelder opened #258 "MIDI-CAT - response curve"
Currently all response for mapped parameters is linear, a slider for adjusting between a logarithmic or exponential response curve could be nice.

[2021-05-26 18:44] #257 closed, assigned to stoermelder

[2021-05-26 21:05] vcvrackideas commented on #256
wow! what a nice thing you've done! Very pleased with how this is working right now.
One last thing - we can even use only one CV-MAP in a patch (for the most middle patches I guess) if you would add "custom label" menu such as done in MIDI-CAT. In this way we can bake template with properly naming all of these lfos and other modulators and just use one CV-MAP module with one expander. I mean thos

[2021-05-26 21:12] stoermelder commented on #256
I think this is a very good idea but it needs to be done differently than MIDI-CAT: The custom labels need to be applied to the input channels and not to the mapping slots. Need to think how to add this in a nice way, maybe by context menu on the input ports like MACRO has them on the output ports.

[2021-05-26 22:44] stoermelder commented on #256
So, done!

[2021-05-27 07:02] vcvrackideas commented on #256
wow Ben, it's very cool. Sorry for be annoying but ;-) is there a possible way to type more than 2 symbols to the expander? In the way of user thinking (sorting thinking) like - RANDOM, or SYNCED and etc

[2021-05-27 13:57] vcvrackideas commented on #256
I found possible bug or just not obvious behavior. For example we have two instances of CV-MAP with two expanders with different labels in one patch. I have already mapped parameter to expander one. But when I need to try different slot of the same module there is no this first expander in right click menu, only second is available for new mapping for already mapped parameter. Both are available o

[2021-05-27 19:14] stoermelder commented on #256
I rotated the display for up to 8 characters. But I think this is it for now, I'm trying to finally get a new release ready, much writing manuals is still needed.

[2021-05-27 19:59] vcvrackideas commented on #256
And this is more than enough for cable free patching. Thanks Ben!

[2021-05-28 13:23] AmateurExpert opened #259 "8FACE with MIDI-CAT - Only overwrites mappings"
When using 8FACE to select presets for MIDI-CAT, it appears as if it only overwrites the mapping slots.  This means that if you have a preset loaded with 20 mappings and then select another preset with lets say 10 mappings, the first 10 mapping slots will be the newly loaded preset, but the last ten mapping slots will remain from the previous preset.

I would have expected that loading a new prese

[2021-05-28 13:52] ghost opened #260 "SPIN - Normal Scrolls Suddenly Become Parameter Scrolls When Passing Over a Control"
The view can be scrolled (and panned if using a trackpad) by starting a scroll with the pointer not over a control.  However if the scroll causes a control to pass under the pointer, the parameter starts being adjusted, and the view stops being scrolled.  This makes normal scrolling difficult.
Would it be possible to detect when a scroll really started over a parameter and unless this is true, sup

[2021-05-28 14:13] stoermelder commented on #259
Well, it is "by-design", kind of. MIDI-CAT supports partial presets which is useful in some cases, but I understand it won't be the behavior you would expect in other cases. I added an additional context menu option in the latest buid.

[2021-05-28 14:13] #259 closed, assigned to stoermelder

[2021-05-28 14:25] stoermelder commented on #260
I don't think I can find a reliable condition for that. Wouldn't it be easier to use one of the modifier keys for mouse wheel adjustments?

[2021-05-28 14:45] AmateurExpert commented on #259
Wow, the response time is impressive :)
Am I understanding correctly that a context menu item will grant me the behaviour I would expect ?
Which context menu item is that ?
Is the latest build what is available via the library management within VCV Rack ?

Sorry for all the questions :)

[2021-05-28 15:05] ghost commented on #260
I could add a modifier key but then it would be necessary to press or release the key to switch between adjusting parameters or scrolling.  It would be great not to have to interact with the keyboard at all when moving around a large setup tweaking parameters.
Could it be implemented using an interval timer (say 5ms):  If a scroll event is received when not over a control, then start the timer and

[2021-05-28 15:08] AmateurExpert commented on #259
After a little more testing, perhaps you closed this a little quickly:

1. Create a preset with 8 mappings (we'll call it p1)
This preset can be saved as a preset via the preset menu item or recorded using 8FACE.
2. Initialize MIDI-CAT
3.  Create a preset with 3 mappings (we'll call it p2)
This preset can be saved as a preset via the preset menu item or recorded using 8FACE.

Now regardless of whi

[2021-05-28 15:14] stoermelder commented on #259
The menu item is called "Preset load" -> "Clear mapping slots". The development build is available here:
https://github.com/stoermelder/vcvrack-packone/releases/tag/Nightly

![image](https://user-images.githubusercontent.com/47640667/120005541-3819fb00-bfd8-11eb-80a2-c8e173e4c81b.png)

[2021-05-28 16:10] AmateurExpert commented on #259
Just tried it out.  Works great ! :)
You just have to make sure that you set the 'Clear mapping slots' switch before you save the preset ;)

Thanks!  wicked fast :)

[2021-05-28 16:33] AmateurExpert commented on #259
Sorry to bother once more...
After playing with it a bit, loading presets using the preset context menu, everything loads fine.  However, when using 8FACE to switch between presets, some mappings go missing.  It seems the preset mapping in 8face is intact because simply switching back and forth between presets shows different mappings disappearing, sometimes(rarely) they all show up.  The effect i

[2021-05-28 17:26] stoermelder opened #261 "MIDI-CAT/8FACE - unreliable mapping on preset-load"
Sorry to bother once more...
After playing with it a bit, loading presets using the preset context menu, everything loads fine.  However, when using 8FACE to switch between presets, some mappings go missing.  It seems the preset mapping in 8face is intact because simply switching back and forth between presets shows different mappings disappearing, sometimes(rarely) they all show up.  The effect i

[2021-05-28 17:26] stoermelder commented on #261
I think this was reported before, by @vcvrackideas I guess?
I did a minor change, maybe this fixes it, I didn't test it though. You can try it as soon the automatic build is ready, taking longer than usual right now.

[2021-05-29 07:07] stoermelder commented on #260
5ms is far too short. The minimum evaluation period possible depends on the screen rate, which would be about 16ms at 60Hz. Sill, this far too short. I found 350ms working ok.

[2021-05-29 08:32] stoermelder commented on #250
I added a "Remap" context menu option. Please let me know if this works for you.

[2021-05-29 10:23] #226 closed, assigned to nobody

[2021-05-29 10:24] #196 closed, assigned to stoermelder

[2021-05-29 10:25] #229 closed, assigned to nobody

[2021-05-29 10:36] vcvrackideas commented on #250
Thanks Ben! I can't find Remap but I see MIDI CC ## on the new knob, is this it? If yes it kind of works but it doesn't activate midi feedback and even with endless encoder it creates jump in parameter when start turning the knob

[2021-05-29 10:57] stoermelder commented on #250
I re-ordered the context menu items in the meantime, CV-MAP and MIDI-CAT work almost the same now.
![image](https://user-images.githubusercontent.com/47640667/120067703-4e2dc700-c07d-11eb-8aca-b75af1739da3.png)

[2021-05-29 11:58] vcvrackideas commented on #250
Yeah, thanks, those MIDI-CC are exactly what I was looked for. The only issue is encoder position doesn't resetting properly when use these MAPS in right click menu. Or maybe it's an issue on my side?

[2021-05-29 12:07] stoermelder commented on #250
You mean the encoder on your MIDI controller? I did not test it on a controller, I just checked a MIDI message for feedback is sent out. I will do a test later.

[2021-05-29 12:17] vcvrackideas commented on #250
Exactly. Ok, just let me know if you need some video from me to show up an issue.

[2021-05-29 13:51] vcvrackideas commented on #250
Sorry for confusing you! Choosen output channel was wrong to get proper midi feedback. Everything works perfect now
EDIT: Oh, find a weird thing. When slew has been activated on CC get weird behavior when relearn this CC - it looks like fast rise and fall to the current position and then works correctly. Seems like slew doesn't get right with midi feedback if I'm not missing something.

[2021-05-30 11:19] stoermelder opened #262 "Overlay configuration options"
https://community.vcvrack.com/t/stoermelders-idea-und-development-thread/10515/328

[2021-05-30 16:20] stoermelder commented on #256
I'm closing this for now. Feel free to open a new issue if you have more ideas.

[2021-05-30 16:20] #256 closed, assigned to stoermelder

[2021-05-30 16:24] stoermelder commented on #20
I'm closing this for now. Future feature requests go into new issues.

[2021-05-30 16:24] #20 closed, assigned to stoermelder

[2021-06-01 10:13] stoermelder commented on #261
@AmateurExpert any feedback on this?

[2021-06-01 10:14] stoermelder opened #263 "CV-HUB"
Similar functionality as CV-MAP + CTX but using cables instead of parameter mapping.

[2021-06-01 10:16] stoermelder commented on #262
@vcvrackideas for your information. Available in the latest build, accessible in ME's context menu.

[2021-06-01 10:16] #262 closed, assigned to stoermelder

[2021-06-01 10:29] stoermelder commented on #263
![image](https://user-images.githubusercontent.com/47640667/120308933-ee315d80-c2d4-11eb-90f7-1e3cba91d769.png)

[2021-06-01 10:33] stoermelder commented on #260
@chrisgr88 any feedback on this?

[2021-06-01 10:34] #237 closed, assigned to stoermelder

[2021-06-01 13:15] ghost commented on #260
It sounds great.  How can I try it?

[2021-06-01 13:16] stoermelder commented on #260
The development build can be downloaded here:
https://github.com/stoermelder/vcvrack-packone/releases/tag/Nightly

[2021-06-01 14:44] ghost commented on #260
I'm not sure it's working quite as expected.  With no modifier keys selected in Spin I can scroll to adjust controls with no modifier keys held down.  But I can't do a normal scroll by starting with the pointer not on a control.  I attached an image of my settings and connections to Sail.  I'm testing with the trackpad on a Macbook Pro M1.   The plugin version is v1.8.605372d.
<img width="276" alt

[2021-06-01 14:47] ghost commented on #260
Ah, I just found the problem.  I should have had the switch set to only be active when hovering over a parameter.  Now it seems to be working correctly.  Very cool!  I'll test further and let you know if I find any issues.

[2021-06-01 14:53] ghost commented on #260
Minor issue:  It can switch into parameter adjusting mode if you scroll over a control very slowly.  Possibly setting the delay to even longer than 350 ms could work.  It would probably be acceptable to wait for up to a second before adjusting a parameter after stopping scrolling.  It would be better than accidentally adjusting a parameter while scrolling slowly.

[2021-06-01 15:02] matthleg opened #264 "MIDI-CAT - broken multi-mapping"
Hello,
 I was trying the new version of midi-cat (still not on the plugin manager)
and I think it is not any more possible to assign one knob (or button) of the controller to two or three knobs in vcv... for me it something very important, I do it very often.
So If you can have a look to this....
Have a nice week,
     Matthieu.

[2021-06-01 19:02] stoermelder commented on #264
I'm afraid I need more information. There has been no intentional change and I can't reproduce any issue in the current development build.

![image](https://user-images.githubusercontent.com/47640667/120376904-bbab5300-c31c-11eb-9790-ed9c56e171cc.png)

[2021-06-01 19:09] stoermelder commented on #260
Well, there will always be some threshold, so it needs to be a compromise. I suspect the next person will say "I need to way soo long before before my mouse-wheel works on a parameter".
I increased it to 500ms and I think this is good enough.

[2021-06-01 19:16] ghost commented on #260
That should be fine.  Thanks for adding this feature, and for all your very impressive plugins!

[2021-06-01 21:15] stoermelder commented on #260
Thanks!

[2021-06-01 21:15] #260 closed, assigned to stoermelder

[2021-06-02 07:35] AmateurExpert commented on #261
The presets seem to load ok now.  I cycled back and forth between two different presets more times than i care to count, and there were no missing mappings.  *thumbs up*

[2021-06-02 08:12] matthleg commented on #264
Hi,
I sent you a short youtube link where I explain the problem (sorry for the
poor quality and my French accent)
https://youtu.be/eiLGSnS077c
Have a nice day,
Matthieu.

Le mar. 1 juin 2021 à 21:03, Ben ***@***.***> a écrit :

--
Matthieu Legros violinmaker
masarykova 9
60200 BRNO
CZECH republic
+420 773 080 023
www.luthier-legros.com

[2021-06-02 14:25] stoermelder commented on #261
Thanks!

[2021-06-02 14:25] #261 closed, assigned to stoermelder

[2021-06-02 14:27] stoermelder commented on #264
Thanks, I should have looked closer, there was indeed a problem. It is fixed now but it needs further testing if a did break something else now.

[2021-06-03 10:42] stoermelder commented on #250
I made some minor adjustments on that. Not sure I can follow you on slew and MIDI feedback; these work independently and slew is never applied to MIDI feedback.

[2021-06-03 10:47] stoermelder opened #265 "TRANSIT - phase input enhancements"
For write mode, maybe Scan CV could be temporarily ignored in order to allow for editing without disconnecting the CV or changing the Port CV mode? Algomorph behaves something like this, freezing the visual state in edit mode, though clearly in the case of Transit it isn't possible to separate the audio from the visual (in terms of the state of mapped parameters).

For Read mode, another possible

[2021-06-03 10:50] stoermelder commented on #182
I'm closing this issue and will pursue any further enhancements in a new issue (which will be considered in a future update).

[2021-06-03 10:50] #182 closed, assigned to stoermelder

[2021-06-03 10:50] #264 closed, assigned to stoermelder

[2021-06-05 07:27] #250 closed, assigned to stoermelder

[2021-06-05 08:10] stoermelder opened #267 "PRISMA"
Module is already in development for quite some time and should be released in the next release of PackOne.

[2021-06-06 08:26] stoermelder commented on #228
A new expander is now available in the development build.
https://github.com/stoermelder/vcvrack-packone/blob/v1-dev/docs/Intermix.md#gate-expander

[2021-06-06 14:50] matthleg commented on #228
Thanks, You make me happy. I will try directly😁

Le dim. 6 juin 2021 à 10:26, Ben ***@***.***> a écrit :

--
Matthieu Legros violinmaker
masarykova 9
60200 BRNO
CZECH republic
+420 773 080 023
www.luthier-legros.com

[2021-06-07 09:27] stoermelder opened #268 "TRANSIT - "Unbind" by module"
https://community.vcvrack.com/t/stoermelders-idea-und-development-thread/10515/353

[2021-06-07 10:01] stoermelder commented on #255
I'm closing this one: MIDI-KEY #245 is in development and coming along pretty well. You can use MIDI-KEY for converting MIDI messages to keyboard events and use STROKE for these keyboard events as usual.

[2021-06-07 10:01] #255 closed, assigned to stoermelder

[2021-06-07 10:58] #268 closed, assigned to stoermelder

[2021-06-08 07:47] stoermelder commented on #251
I added "Auto"-mode to 8FACE in the development build.
It will be added to 8FACE mk2 later as this is a bigger change and needs more testing. I guess it would be useful for TRANSIT, too.

[2021-06-08 07:50] stoermelder opened #269 "TRANSIT - "auto" mode besides "read" and "write""
_Originally posted by @stoermelder in https://github.com/stoermelder/vcvrack-packone/issues/251#issuecomment-856540754_

[2021-06-08 08:11] Stubs42 commented on #251
This is great news. Haven't used transit yet but auto mode for 8FACE is great news.
Thank you!

[2021-06-08 17:58] vcvrackideas commented on #245
Hi Ben! Very cool module indeed. Do you plan to add something additional commands like in Stroke (add module, randomize value) to it? By now I can do that by having one instance of Stroke aside and it actually duplicating keyboard action so maybe it was your intention to made MIDI-KEY as helper for Stroke in this way?

[2021-06-08 18:03] vcvrackideas commented on #251
Thanks Dieter for the idea and of course Ben for implementing it! By the way is there any plan to new fashioned 8facemk2? ;-)
I'd like also say that auto mode is pretty musical thing having intention to make your decision as the next trigger will be ;-)

[2021-06-08 18:09] stoermelder commented on #245
I don't think I'll add these commands to MIDI-KEY. Technically there is no limitation to do so but I don't like duplicating the same functionality on different modules. I guess these two are nice "partner" modules and work well toghether.
Maybe I add an "expander" channel which gets active if placing MIDI-KEY next to STROKE but I won't bet on it at the moment :-)

[2021-06-08 18:14] Stubs42 commented on #251
I stumbled over the problem using 8face to switch pattern of sequencers themselves not providing patterns. Doing this it is not possible to edit while playing which is totally unacceptable for me in a modular environment. Auto mode should read and store the changed pattern before switching. Thus any edits of current pattern playing gets preserved.

[2021-06-08 18:17] stoermelder commented on #251
It is already halfway done but implementation is a bit more complicated on 8FACE mk2. TRANSIT just got this mode a few moments ago, see #269.

[2021-06-10 09:00] matthleg opened #270 "dual mapping would be possible?"
Hello,

     I have a question:
I often use mid-cat to midi-control lot of knobs but now (with your new function in cv-map) I would like sometimes to map the same knob with cv-map.
In other words, I am doing lot of live, so I have lot of midi control and sometime I would like to change (for a moment) the midi-control to a cv-control and come back easily to the midi-control.

   So my question is:

[2021-06-10 09:16] stoermelder commented on #270
Please try my X4 module, it was developed for that purpose. Let me know if it works for you!

[2021-06-10 10:49] matthleg commented on #270
nice module but it is not what I would like because I never know before
which knobs I need to "dual map"... Pity.

Another thing: I just see now that the new version of midi-cat is working
very well with the knobs (you can map different knobs of vcv with only one
knob of the controller) but it still is not working with the "push
buttons"...
Anyway, thanks for your attention and work.

Le jeu. 10 j

[2021-06-10 10:57] stoermelder opened #271 "MIDI-CAT - broken multi-mapping for notes"
Another thing: I just see now that the new version of midi-cat is working
very well with the knobs (you can map different knobs of vcv with only one
knob of the controller) but it still is not working with the "push
buttons"...

_Originally posted by @matthleg in https://github.com/stoermelder/vcvrack-packone/issues/270#issuecomment-858518900_

Reference to
https://github.com/stoermelder/vcvrack-p

[2021-06-10 11:08] stoermelder commented on #271
Thanks for reporting, fixed.

[2021-06-10 11:11] stoermelder commented on #270
I'm afraid this is not possible then. Rack allow only one module controlling a parameter, if another module tries to do so the first one is automatically unmapped.

I created another issue for this and it is already fixed.

[2021-06-10 11:21] stoermelder commented on #270
Actually it might be possible but only for my modules if I implement something to share the parameter handle. I'm not so sure if it is worth the effort though.

[2021-06-10 12:20] matthleg commented on #270
I think it is not necessary, I want to use it almost for other modules...
But thanks anyway

Le jeu. 10 juin 2021 à 13:21, Ben ***@***.***> a écrit :

--
Matthieu Legros violinmaker
masarykova 9
60200 BRNO
CZECH republic
+420 773 080 023
www.luthier-legros.com

[2021-06-10 15:04] matthleg commented on #271
sorry I don't think it is fixed (I think it's worth...) Now it's not
possible to map any button with midi-cat
I'm on win10 with this version: Stoermelder-P1-1.9.a41a6fb-win-20210610.
Sorry for that.

Le jeu. 10 juin 2021 à 13:08, Ben ***@***.***> a écrit :

--
Matthieu Legros violinmaker
masarykova 9
60200 BRNO
CZECH republic
+420 773 080 023
www.luthier-legros.com

[2021-06-10 15:35] stoermelder commented on #271
Are you sure? I tried it again and it seems to be working fine?

[2021-06-10 15:36] stoermelder commented on #270
I meant sharing would be only possible between my modules, say MIDI-CAT and CV-MAP, but the parameters could by on any module, of course.

[2021-06-10 16:21] matthleg commented on #271
I tried again and for me it doesn't work with buttons (midi note) but it
works well with knobs (midi cc).
The buttons I can map them (I have the small yellow square) but it doesn't
work and when I push the button nothing is happening.

Le jeu. 10 juin 2021 à 17:35, Ben ***@***.***> a écrit :

--
Matthieu Legros violinmaker
masarykova 9
60200 BRNO
CZECH republic
+420 773 080 023
www.luthier-legros.

[2021-06-10 16:25] matthleg commented on #270
So if I understand correctly It would be possible for example to dual-map
the volume of "vcv mixer" once with midi-cat and once with cv-map.
It is exactly what I would like to do. But I can't imagine the work it is...

Le jeu. 10 juin 2021 à 17:36, Ben ***@***.***> a écrit :

--
Matthieu Legros violinmaker
masarykova 9
60200 BRNO
CZECH republic
+420 773 080 023
www.luthier-legros.com

[2021-06-12 20:10] mosesve opened #272 "Midi-Expander for Transit"
Hi Ben,

this is slightly related to issue #270 - but for Transit.

I am using Transit to save presets of multiple modules (say a complete subharmonicon via SlimeChilds Substation) to recall them later via Midi Program Change. In addition I would like to change mapped parameters via midi as well. Since dual mapping via X4 would need around 20 X4-Modules I thought that a Midi-Expander for Transit c

[2021-06-12 20:28] stoermelder commented on #271
Can you add MIDI-MON, try mapping and send me the log afterwards?

[2021-06-13 12:36] matthleg commented on #271
here it is.
and also the log of vcv

Le sam. 12 juin 2021 à 22:28, Ben ***@***.***> a écrit :

--
Matthieu Legros violinmaker
masarykova 9
60200 BRNO
CZECH republic
+420 773 080 023
www.luthier-legros.com

[0.000 info src/main.cpp:119] VCV Rack v1.1.6
[0.000 info src/main.cpp:120] Windows 10.0
[0.000 info src/main.cpp:126] Args: C:\Program Files\VCV\Rack\Rack.exe
[0.000 info src/main.cpp:129] Syst

[2021-06-13 13:19] stoermelder commented on #271
Sorry, no MIDI log and the log from Rack is without use in this case.

[2021-06-13 13:37] matthleg commented on #271
Sorry again, but I don't understand what you need...
Is it not the log of the midi-mon? I sent it with the other log...

Le dim. 13 juin 2021 à 15:19, Ben ***@***.***> a écrit :

--
Matthieu Legros violinmaker
masarykova 9
60200 BRNO
CZECH republic
+420 773 080 023
www.luthier-legros.com

[2021-06-13 13:41] stoermelder commented on #271
Yes, the log from MIDI-MON but I cannot see any log. Maybe attach it directly at GitHub?

[2021-06-13 13:49] matthleg commented on #271
[midi-mon-log.txt](https://github.com/stoermelder/vcvrack-packone/files/6643978/midi-mon-log.txt)

[2021-06-13 14:33] stoermelder commented on #271
Thank you, the log look fine. I think we were talking about different things: There is no problem learning buttons on MIDI-CAT, right? The problem was the buttons did not work as expected after learning?
If so, this should now work again, I introduced a bug indeed with the previous commit.

[2021-06-13 14:53] matthleg commented on #271
yes the problem was what you say: the buttons did not work as expected
after learning.
So I'll try the new version and I'll let you know.

Le dim. 13 juin 2021 à 16:33, Ben ***@***.***> a écrit :

--
Matthieu Legros violinmaker
masarykova 9
60200 BRNO
CZECH republic
+420 773 080 023
www.luthier-legros.com

[2021-06-13 15:00] matthleg commented on #271
I tried it and it looks perfect 👍😁
Thanks a lot, and sorry if I was not clear...
All the best
Matthieu

Le dim. 13 juin 2021 à 16:53, Matthieu Legros ***@***.***> a écrit :

--
Matthieu Legros violinmaker
masarykova 9
60200 BRNO
CZECH republic
+420 773 080 023
www.luthier-legros.com

[2021-06-13 15:12] stoermelder commented on #271
No problem at all, I did not test it right either 👍🙂

[2021-06-13 15:12] #271 closed, assigned to stoermelder

[2021-06-17 21:59] Chaircrusher opened #273 "Stroke: Clicking on a non-parameter space zeros the copied value."
Ran into this - it seems to be a change in behavior after the last version release.
I map 'A' to parameter copy and 'S' to parameter paste.

If I hit 'A' with the mouse cursor over a slider (or whatever) it will pick up the value, and I can hit 'S" and paste it to a different parameter.

But if I hit 'A' with the mouse cursor not over any control (on the Rack background or on a module panel not ho

[2021-06-23 15:48] stoermelder opened #274 "TRANSIT - „insert“ snapshot"
https://community.vcvrack.com/t/stoermelders-idea-und-development-thread/10515/367

[2021-06-23 18:17] stoermelder commented on #273
No, not an intentional change, caused by re-write of the internals to support "multi-step" commands.
It should now work as expected again.

[2021-06-23 19:15] Chaircrusher commented on #273
thanks!

[2021-06-23 21:26] stoermelder opened #275 "8FACE mk2 - „insert“ snapshot"
https://community.vcvrack.com/t/stoermelders-idea-und-development-thread/10515/367

[2021-06-24 11:17] Secretcinema001 commented on #274
Will try this out now! Shift Back sounds like it has several options? Shift Forward, Shift Back? :-) Thanks so much for your swift inclusion!

[2021-06-24 16:44] Secretcinema001 commented on #269
Wow this works really nice! It’s quite a pleasant workflow. Does it mean when you keep it in AUTO, you don’t have to WRITE the slot to save the SNAPSHOT?

[2021-06-24 16:50] stoermelder commented on #269
Yes. Changes are saved right before the next snapshot is loaded. This only works on used slots, empty slots stay empty.

[2021-06-24 16:57] Secretcinema001 commented on #269
Very very nice. thank you.

[2021-06-25 19:35] stoermelder opened #276 "8FACE mk2 - "auto" mode besides "read" and "write""
_Originally posted by @stoermelder in https://github.com/stoermelder/vcvrack-packone/issues/251#issuecomment-856540754_

[2021-06-25 19:36] #269 closed, assigned to stoermelder

[2021-06-25 19:36] #251 closed, assigned to stoermelder

[2021-06-25 19:36] #273 closed, assigned to stoermelder

[2021-06-25 19:37] #228 closed, assigned to stoermelder

[2021-06-25 20:22] Secretcinema001 commented on #269
Hey Ben.

I saw yr post about 1.9 and yr efforts in making music.

Was wondering what type of music you are making.

Or just experimenting for now?

Greets,

Jeroen

On Fri, 25 Jun 2021 at 21:36, Ben ***@***.***> wrote:

--
*Secret Cinema* <http://www.facebook.com/secretcinema.gem> :

*www.secretcinema.nl* <http://www.secretcinema.nl>
*www.facebook.com/secretcinema.gem
<http://www.facebook.com/sec

[2021-06-25 20:25] stoermelder commented on #269
I'm pretty slow on this topic but you can have a look here ;-)
https://www.youtube.com/watch?v=xdnEtgWOJB0

[2021-06-25 20:30] Secretcinema001 commented on #269
Thanks, I'll check it out asap!

Happy your not slow when it comes to the Pack. 😊

Have a good weekend.

J

On Fri, 25 Jun 2021 at 22:25, Ben ***@***.***> wrote:

--
*Secret Cinema* <http://www.facebook.com/secretcinema.gem> :

*www.secretcinema.nl* <http://www.secretcinema.nl>
*www.facebook.com/secretcinema.gem
<http://www.facebook.com/secretcinema.gem>*
www.instagram.com/secretcinema

*Gem Booki

[2021-06-26 09:10] matthleg opened #277 "idea new module: mix between intermix and bogaudio matrix88"
Hello,
I don't know if it would be technically possible but I would like to have a matrix module with: "button/knobs"
I explain:
-if you left click on the knob it is just a on/off button
-if you click and hold it is a knob
I think it can be really practical.
Please think about it,
     Have a nice weekend,
                    and thanks a lot,
                                         Matthieu

[2021-06-26 10:05] #275 closed, assigned to stoermelder

[2021-06-26 10:05] #274 closed, assigned to stoermelder

[2021-06-27 08:12] stoermelder opened #279 "CTRL"
https://community.vcvrack.com/t/stoermelders-idea-und-development-thread/10515/320
Collecting ideas for a "flexible control surface module".
No promises it will ever be implemented but thinking about its concept won't hurt.

[2021-06-27 08:40] stoermelder commented on #279
A few thoughts.
- _Controls_ should not be "standard" parameters but custom widgets. This allows any number of controls, in contrast all module's parameters must be known at the moment the module is added to the patch.
- _Controls_ do have a "target", could be
  - Parameter mapping: modifies a parameter within the patch, scaling-options like CV-MAP will be handy.
  - MIDI: the device is selected a

[2021-06-27 09:16] stoermelder opened #280 "TOMB"
Remote control for Befaco Lich.
https://www.befaco.org/lich/

[2021-06-28 12:26] Secretcinema001 commented on #269
It's nice man. Full on SF movie sound here. Great job!

Greets,

J

On Fri, Jun 25, 2021 at 10:25 PM Ben ***@***.***> wrote:

--
*Secret Cinema* <http://www.facebook.com/secretcinema.gem> :

*www.secretcinema.nl* <http://www.secretcinema.nl>
*www.facebook.com/secretcinema.gem
<http://www.facebook.com/secretcinema.gem>*
www.instagram.com/secretcinema

*Gem Bookings:Mail: ***@***.*** ***@***.***>Web

[2021-06-30 20:30] marcaddeo opened #281 "Apply MIDI-CAT MEM settings via mouse hover and MIDI CC"
Is it possible to apply memory settings to MIDI-CAT by hovering over a module and pressing a MIDI button on my controller?

For example, I'd like to create mappings for each module and store them to memory. Then I'd like to be able to hover over a module (kind of like SAIL) and hit a MIDI button and have it apply that modules MIDI mappings.

Not sure if it's currently possible with the current set

[2021-07-01 19:15] vcvrackideas opened #282 "Transit - crash when input set to phase and auto mode was been choosen"
Hi Ben! It seems Transit doesn't react well when I use phase input and decided to modify presets in auto mode

[2021-07-04 00:09] nnbveh opened #283 "CV-Map - 'relative' modulation mode"
Hi. SO i was wondering if it would be possible to have a mode in which a value of the module control is not overwritten when mapped but instead set as one around which modulation is happening. By modulation i mean any sort of incoming signal from cv-map. So basically if let's say a knob was at 3 volt(0-10v) and the knob on the midi controller it is mapped to now sends -5/5v, then 0v should corresp

[2021-07-04 00:20] nnbveh opened #284 "Module for storing only cable connections/module parameters in the rack"
Hi, i'd like to build a one fixed rack containing all the modules i'd would need to perform and compose and then just patch/set it differently, then store those 'patches' as presets and to be able to switch between them in realtime situation rather than loading new files to open new track/composition. It looks like you've already got all the code for it since your strip module can store both contr

[2021-07-19 00:55] polyclash opened #285 "STROKE - Zoom toggle"
Zoom toggle
The function does not work as it should, the toggle does not zoom out.
I think the parameter in the comparison should be with a value of 0.5?
https://github.com/stoermelder/vcvrack-packone/blob/8a1067ac830df162a98079149138200978190885/src/Stroke.cpp#L366

[2021-07-19 18:58] stoermelder commented on #285
Works perfectly here, can't reproduce any problem.

[2021-07-19 20:16] polyclash commented on #285
I expect to be able to press the same key and return to the previous state of "zoomed out to fit everything",
even without zooming the module further, to exceed 100%.
For me it should work whether the zoom is equal to 100% or higher.

[2021-07-24 14:11] omricohenmusic opened #286 "Orbit - Level Control"
Hi Ben!

It would be great if there could be a level control on Orbit to attenuate a bit the polyphonic signals. Poly signals are usually very hot and it's better to attenuate them already from Orbit itself for better gain staging. What do you think?

Thanks again!

[2021-08-07 17:11] stoermelder opened #287 "MIDI-PIPE"
Inspired by Blokas Midihub device. Midi pipeline with three adjustable pipeline stages, with optional CV control of the pipeline stage.

![image](https://user-images.githubusercontent.com/47640667/128608380-6ea42fef-c8cd-4085-bf2c-9af480dc214c.png)

[2021-08-07 17:25] stoermelder commented on #286
Hi Omri, you mean if downmixing to a monophonic signal is enabled? Currently, the channels are simply summed after the panning and this signal can be get quite hot indeed.

[2021-08-07 17:52] omricohenmusic commented on #286
Hi,Well, I guess that I mean a simple level control over the output gain, never mind if it's polyphonic or not. Something similar to the mockba spreader.Thanks!On Aug 7, 2021 19:25, Ben ***@***.***> wrote:
Hi Omri, you mean if downmixing to a monophonic signal is enabled? Currently, the channels are simply summed after the panning and this signal can be get quite hot indeed.

—You are receiving th

[2021-08-08 11:21] nnbveh commented on #283
Hi. I just figured out how implement this feature real easy: If i right-click on the control i'm planing to map and copy its current value and then paste it to the offset knob of the uMap and then map it, the default value stays where i need it to be, at least if both the mapped control and what i mapped it to operate in the same values, like %. So it looks like if you could make your module to re

[2021-09-30 12:02] pgatt opened #288 "Building on V2 fails"
Hi Ben,

Not sure if you want to see errors yet - but I just got this on Mac:

[0.762 warn src/plugin.cpp:161 loadPlugin] Could not load plugin /Users/paulgatt/Desktop/Rack2/Rack/plugins/Stoermelder-P1: Failed to load library /Users/paulgatt/Desktop/Rack2/Rack/plugins/Stoermelder-P1/plugin.dylib: dlopen(/Users/paulgatt/Desktop/Rack2/Rack/plugins/Stoermelder-P1/plugin.dylib, 6): Symbol not found: _

[2021-09-30 14:01] stoermelder commented on #288
Well, I see, I'm calling an "INTERNAL" method which can't be linked on MacOS and Linux, not sure why it makes a difference on Windows.
Nevertheless I removed the call as I was trying to fix a problem, but I identified it to be a bug in Rack's code and not on my side.

[2021-09-30 16:09] vcvrackideas opened #289 "Bypass sidecar expander module"
Hi Ben. Welcome to v2 requests Era) so what do you thin is it possible to make bypass route with some universal expander like 8face? The reason I'm asking for is that for now only very few module has bypass function module and I'm afraid that some abandoned but ported stuff would definitely lack of that feature.

[2021-09-30 19:24] vernaillen commented on #288
I'm getting a similar error on Mac.  The build itself finished successfully, but the plugin fails to load when starting Rack:

[0.087 info src/plugin.cpp:108 loadPlugin] Loading plugin from /Users/wouter/git/vcvrack/Rack/plugins/vcvrack-packone
[0.458 warn src/plugin.cpp:161 loadPlugin] Could not load plugin /Users/wouter/git/vcvrack/Rack/plugins/vcvrack-packone: Failed to load library /Users/wout

[2021-09-30 20:40] stoermelder commented on #288
Should load now.

[2021-09-30 20:46] stoermelder commented on #289
Yes, should be possible.

[2021-09-30 21:26] vernaillen commented on #288
Confirmed! thanks :)

[2021-10-05 12:57] vcvrackideas opened #290 "Transit losts its mapping when duplicating (as selection) together with mapping module"
Hi Ben, is it possible to solve an above issue or transit only should be manually mapped to module again then?

[2021-10-05 13:57] stoermelder commented on #290
Sorry, this must be addressed in Rack itself as the module knows nothing about duplicating and selections.

[2021-10-18 00:02] Chaircrusher opened #291 "8Face Mk2 select controlled modules like MIDI-CAT"
When you want to map a bunch of keys in MIDI-CAT you click 'map' in the module and then you can keep clicking controls and MIDI notes/controllers until you click outside a module.  In other words, you can click 'map' and map your entire midi keyboard if you want.

So MIDI-CAT you click 'Map' once, and map multiple controls.
8Face Mk2 you choose 'Bind Module (select) but you can't select multiple m

[2021-10-18 05:46] SteveRussell33 opened #292 "Favorites not working in Mb [Win 10]"
Built ```v2-dev``` commit https://github.com/stoermelder/vcvrack-packone/commit/4b4e6f98b9545c1607303c535e61e3621c44fd11 with Rack-SDK-2.git.219bbaf1

[2021-11-12 15:43] Chaircrusher opened #293 "v2-dev - 8Face mk2 builds but doesn't appear to work at all."
Subject line says it all. I grabbed the source, checked out V2 branch, built and installed it, and tried to use 8face mk2 to control two JW-Modules NoteSeqFu modules. These work perfectly with 8Face Mk2 in 1.0

Windows 11
Build from source Rack 219bbaf137d5dc70c96bd4206c3f8aad5524a81b
packone git SHA commit 4b4e6f98b9545c1607303c535e61e3621c44fd11 (HEAD -> v2-dev, origin/v2-dev)

[2021-11-20 05:24] SteveRussell33 commented on #293
Do you have an example patch?

[2021-11-20 11:30] vcvrackideas opened #295 "Strip doesn't work with very last Rack2 sdk"
Hi Ben! It seems doesn't react on open folder command and also when loading previously saved strip rack is crashing.
I wrote you previosly about midi mapping and saving selections and you told me that saving mapping in selection wouldn't be possible because adressing is lost while saving selections in Rack2. So now I'm trying to use Strip for that purpose but it doesn't work yet

[2021-11-21 15:01] cschol opened #296 "v2: Invalid URLs in manifest"
In preparation for `v2` integration I am running integration tests on select plugins.

[code]

[2021-11-22 14:34] Chaircrusher commented on #293
Yes.
https://cornwarning.com/xfer/VCV/2021-11-12.vcv

[2021-11-23 20:03] ThePython10110 commented on #295
I know I'm not Ben, but I'm just looking at this and have some questions:
When you say that Strip "doesn't work yet," what do you mean? Is it not building? Is there a missing button?

Are you on the v2-dev branch?
Does the version number in plugin.json start with 2?
Does your Rack version match your SDK version?

If the answer is no, the problem has been found (hopefully)...

[2021-11-25 12:16] ContemporaryInsanity opened #297 "Strip randomisation crashes V2beta1 on patch reload (linux)"
If I repeatedly randomise a couple of modules using strip driven by a clock, all works as expected.  Exit & restart rack and it crashes consistently.

Tail of log.txt:

[2.402 info src/window/Svg.cpp:28 loadFile] Loaded SVG /home/ewen/Rack2/res/ComponentLibrary/TinyLight.svg
[2.402 info src/window/Svg.cpp:28 loadFile] Loaded SVG /home/ewen/.Rack2/plugins/Bogaudio/res/SampleHold-dark.svg
[2.402 inf

[2021-11-26 21:59] coax75ohm opened #298 "Enhancement: using 8FACE to switch GLUE labels"
It would be nice if you could use 8FACE to switch GLUE labels along with other settings.

I managed to work around it by toggling the GLUE hide switches since I only needed two sets of labels currently. This works aside from STRIP not saving the 8FACE settings, but that only takes a second to redo.

![Screenshot 1](https://user-images.githubusercontent.com/577587/143657402-f2583a15-7ee1-4be1-80a1-

[2021-11-28 19:45] thorinside opened #299 "Quantized Midi-Cat"
I have a midi controller with a bunch of buttons that light up when they are pressed. So I thought it'd be cool to use them for mutes, but quantizing the mutes to a clock. So, pushing a button, would arm a sample and hold, which would send a gate or trigger for the armed channels when the clock fires.

The module Mesoglea from ExtraTone almost does this. However I have to use it when MidiCat is in

[2021-11-29 00:50] ThePython10110 opened #300 "Not building...."
I am on Windows 10, trying to build this for Rack v2.beta.1. I managed to fix some of the errors, but not this one. It seems that `rack::string::fuzzyScore` has been removed. After searching through the API, I haven't found an obvious replacement, meaning that this happens:
[code]

[2021-12-04 14:14] cschol opened #303 "v2: Reference to custom fonts stored across frames"
**I know this is a work in progress, but we have had issues with plugins crashing the VST and I wanted to point this out early.**

Your plugin stores references to custom fonts across frames. This leads to crashes in the VST when reloading a project.

For example (but there might be others):
[code]

Please see the following link on how to resolve this issue and re-submit to the Library:
https://vc

[2021-12-04 15:28] ContemporaryInsanity opened #304 "MIDI-CAT v2 bug"
MIDI-CAT appears to work fine on v2 unless you re-initialise it which crashes rack instantly, attempting to restart rack thereafter also crashes instantly.

[19918:19918:0100/000000.669378:ERROR:sandbox_linux.cc(376)] InitializeSandbox() called with multiple threads in process gpu-process.
terminate called after throwing an instance of 'rack::Exception'
  what():  pthread_rwlock_wrlock failed
Abor

[2021-12-04 15:31] stoermelder commented on #303
Thanks.

[2021-12-04 15:31] #303 closed, assigned to nobody

[2021-12-04 15:33] stoermelder commented on #304
Closing, reported on a fork not maintained by me and can’t be reproduced on my code.

[2021-12-04 15:33] #304 closed, assigned to nobody

[2021-12-04 15:33] stoermelder commented on #300
Thanks, I close this.

[2021-12-04 15:33] #300 closed, assigned to nobody

[2021-12-05 13:37] joopvdl opened #305 "Glue - Ctrl+A hotkey broken in Rack v2"
Guess a new key command is needed for adding a label, because ctrl-a has been taken in Rack 2.

[2021-12-09 18:52] Eurikon opened #306 "Extreme CPU usage on mapping modules in Rack v2 VST"
Hi Ben.

thanks for your stopping by at the forum :)

I understand that currently your involvement is on a low pace, but i would like to bring the following to your attention.
Just now i opened a medium sized patch that works pretty fine on 1 thread in the standalone Rack version.

But when i load this same patch in the vst, it immediately brings the vst (therefor the daw as well) to its knees, wi

[2021-12-09 19:13] Eurikon commented on #306
This is a test with only a vco and umap loaded next to audio core etc.
![Screenshot 2021-12-09 at 20 06 42](https://user-images.githubusercontent.com/40998416/145460563-8a1658d8-4a55-4464-be59-c48b7e3a3819.png)

cpu is off the scale 200+ %

:)

[2021-12-09 20:19] joedub opened #307 "Strip in V2 doesn't remember last folder"
Strip in V1 remembers the last directory used on load or save. Strip in V2 always wants to open \Rack2\patches, even in the same session where another directory had been selected.

[2021-12-11 15:18] matthleg opened #308 "Midi-Cat - broke "pick-up jump" with snapped parameters"
Hi,
I found a specific bug (in v2) and I am not sure it is from you or from Nysthi...
When I map the octave knobs of musical box with midi-cat ( in mode pick-up jump) it doesn't work...
But it is working for all the other knobs, and it is working if it isn't with pick-up jump...
Strange.
I am using win11.
Have a nice day
and thanks again for your amazing collection.
Matthieu

[2021-12-12 17:42] matthleg commented on #308
Hi, I found that the bug is with all the knobs going by step (and not smoothly) like the octave knob of evenvco or the knob for  number of step of sequential switch...
Matthieu

[2021-12-12 21:26] GenCode00 opened #309 "8Face for Rack 2 ?"
sorry i couldn't find better place to ask will pack one plugins available for Rack 2 ? all plugins in the pack are very usable to me . especially interested in 8Face .

[2021-12-12 22:10] GenCode00 opened #310 "module Suggestion for 8Face"
8Face would benefit greatly if there was plugin/module that could connect into 8Face's slot input and would have same amount of variation buttons as 8Face , 8 currently . purpose of this plug in wold be to trigger exactly variation number you'd want on multiple 8Faces . lets say after variation 2 you  want to select variation 8 or 3 etc on multiple devices at the same time.
i haven't yet looked in

[2021-12-13 03:34] thorinside opened #311 "uMap in VCV VST high CPU Usage"
Running VCV Pro 2.0.3b, and have compiled your packone from the latest v2-dev branch, on a Mac.

![Screen Shot 2021-12-12 at 8 27 06 PM](https://user-images.githubusercontent.com/291679/145747919-4e0829d4-9dfb-4451-b228-4c8b2a30d5fc.png)

I have found that in the VST, uMap consumes pretty much all available CPU. I tried in Bitwig 4.1.1, screenshot above.

The following screenshot is from Reason 12

[2021-12-13 19:33] stoermelder commented on #311
Duplicate of #306.

[2021-12-13 19:33] #311 closed, assigned to nobody

[2021-12-13 19:34] stoermelder commented on #306
Reported to VCV as this only indirectly caused by my module

[2021-12-13 19:35] stoermelder commented on #309
https://community.vcvrack.com/t/stoermelders-idea-und-development-thread/10515/401

[2021-12-13 19:35] #309 closed, assigned to nobody

[2021-12-13 19:38] #288 closed, assigned to nobody

[2021-12-13 19:39] stoermelder commented on #310
This is already possible with 8FACE mk2.
https://github.com/stoermelder/vcvrack-packone/blob/v1/docs/EightFaceMk2.md

[2021-12-13 19:39] #310 closed, assigned to nobody

[2021-12-15 10:20] jpnielsen opened #312 "DOC: port label"
Port labeled "SEL" is changed to "CV"

https://github.com/stoermelder/vcvrack-packone/blob/v1/docs/EightFaceMk2.md#sequencing-and-selecting-snapshots

[2021-12-19 07:30] alefnull opened #313 "can't find/install any plugins/modules from the VCV library"
starting to wonder if i'm just going crazy or doing something wrong, but i cannot find any of these modules in the VCV library.

[2021-12-19 07:39] stoermelder commented on #313
https://community.vcvrack.com/t/stoermelders-idea-und-development-thread/10515/401

[2021-12-19 07:39] #313 closed, assigned to nobody

[2021-12-19 19:34] alefnull commented on #313
my mistake. thank you for the link.

[2021-12-30 16:40] ExistentiaVirae opened #314 "Glue crashes Rack 2.0.4"
Saving or loading a preset for Glue segfaults and crashes Rack 2.0.4. This happened on Kubuntu 20.04, if that's relevant.

[2021-12-31 04:51] GenCode00 opened #315 "Remove .Rack 2.0.4 vst Phase extremely hi CPU Usage"
if i use phase input it maxes out cpu to freeze completely with nothing else but 1 osc  and mixer in a project . nothing else in a DAW
running ,. no effect or other vsts . its working fine in Rack v1  1% usage . stand alone Rack 2.0.4 its not working at all . can't even engage record button .

[2021-12-31 04:53] GenCode00 commented on #315
its on Mac . forgot to mention

[2022-01-15 11:26] Eurikon commented on #306
Hi Ben, VCV Rack 2.0.6 has been released today, but (after a couple of updates) still no change in the above mentioned issue.
Have you heard anything related to this matter, from VCV ?

Edit:

Sorry, i just seen that you have posted about this on the forum just a few days ago:
https://community.vcvrack.com/t/stoermelders-idea-und-development-thread/10515/434?u=eurikon

[2022-01-20 04:18] GenCode00 commented on #314
not saving but loading preset crushes on Mac too .Rack 2.0.6.

[2022-01-26 18:36] stoermelder commented on #315
Duplicate of #306.

[2022-01-26 18:36] #315 closed, assigned to nobody

[2022-01-26 19:33] stoermelder commented on #306
As there was no response from VCV support (except for "we got your message") I removed all high resolution options from mapping modules if used inside the VST and added an "Audio rate" option for those modules which hadn't one (µMAP, ReMOVE).
The modules behave now differently in the standlone version and VST but it is not possible for me to analyse the VST for the cause.

[2022-01-26 23:10] stoermelder commented on #293
Fixed in 05de80494e57fa22ed9aec37cba9178a7c8e60c5.

[2022-01-26 23:10] #293 closed, assigned to stoermelder

[2022-01-26 23:10] #314 closed, assigned to stoermelder

[2022-01-26 23:15] #290 closed, assigned to nobody

[2022-01-28 19:47] Secretcinema001 commented on #306
What a bummer the support from Rack is so vague.

As for the CPU overload, is it an option to include even lower Precision modes?
Normal Midi has only 128 steps, so maybe that could be a workaround for now, to set precision as low as 128?

Or an option to block Rack from sending out MIDI as an old-fashioned Stoermelder Hack.

The whole VCV community is waiting for your Modules, so I hope we can ke

[2022-01-28 20:24] Eurikon commented on #306
Hi Ben,

thanks for the follow up.
Sorry to hear you haven't gotten any response so far.

I just downloaded and installed the latest build with above commits, and all seems now fine regarding the cpu usage.
Hopefully for you it now means you can submit your plugin with this (temporary) work-around to the library.

All the best!

[2022-01-28 20:30] stoermelder commented on #306
I added two additional precision settings for TRANSIT. I hope this helps.

[2022-01-29 10:48] Secretcinema001 commented on #306
That's great Ben.

One hickup unfortunately.

I can select the crazy low (43 Hz) :-) setting in stand-alone and see it
work,
but in the VST it jumps back to the earlier lowest (689 Hz) setting every
time I select the lower settings.

I tried on a different Mac OS, but I only used Bitwig as host.
Also, 8Face MK2 glitches the audio when shifting presets in VST mode. Same
problem I assume? Need CPU s

[2022-01-29 11:03] stoermelder commented on #306
I'm sorry about the broken precision setting, fixed.

[2022-01-29 11:59] Secretcinema001 commented on #306
No need for a sorry mate, thanks for your fast response.

Happy to be playing with PackOne again!!

On Sat, Jan 29, 2022 at 12:03 PM Ben ***@***.***> wrote:

--
*Secret Cinema* <http://www.facebook.com/secretcinema.gem> :

*www.secretcinema.nl* <http://www.secretcinema.nl>
*www.facebook.com/secretcinema.gem
<http://www.facebook.com/secretcinema.gem>*
www.instagram.com/secretcinema

*Gem Bookings:M

[2022-01-29 12:05] Secretcinema001 commented on #306
Working and no spikes using Transit now.

On Sat, Jan 29, 2022 at 12:59 PM Secret Cinema ***@***.***>
wrote:

--
*Secret Cinema* <http://www.facebook.com/secretcinema.gem> :

*www.secretcinema.nl* <http://www.secretcinema.nl>
*www.facebook.com/secretcinema.gem
<http://www.facebook.com/secretcinema.gem>*
www.instagram.com/secretcinema

*Gem Bookings:Mail: ***@***.*** ***@***.***>Web:
www.gembooking

[2022-02-20 19:41] W4too opened #316 "Crashes opening patches using Transit or 8face"
Hi Ben

I get crashes opening patches with 8face or Transit with the slot ports linked (to a MIDI-CV module or an internal CV sequencer like BogAudio AADR for instance).
The crash probability gets bigger as the number of modules connected to 8face or transit grows.

For now the only way i found to get around this issue is to deactivate the audio-module before saving, but it clearly seems related t

[2022-02-22 06:26] stoermelder commented on #316
Thanks for reporting. Can you try it with the latest build if your patch loads without crash?

[2022-02-22 08:26] W4too commented on #316
Hi,

It seems to work very well now with this new build.
Thank you very much for the quick fix.

Cheers.

----- Mail original -----
De: "Ben" ***@***.***>
À: "stoermelder/vcvrack-packone" ***@***.***>
Cc: "W4too" ***@***.***>, "Author" ***@***.***>
Envoyé: Mardi 22 Février 2022 07:26:40
Objet: Re: [stoermelder/vcvrack-packone] Crashes opening patches using Transit or 8face (Issue #316)

Thanks for

[2022-02-23 16:29] Chaircrusher opened #317 "8Face Mk2 Bound Modules doesn't survive "Save Selection As..." followed by "Import Selection...""
If I save a collection of modules containing an 8Face Mk2 with Stoermelder Strip, it remembers all the bindings for the 8Face.

If I do "Save Selection As" followed by "Import Selection" the 8Face bindings are gone.

I haven't dug into the code, but somehow what happens when you paste a strip (or load & save) restores the 8Face Mk2 with bindings intact, but Rack2 "Import Selection" does not.

[2022-03-19 02:41] SteveRussell33 commented on #292
Fixed by https://github.com/stoermelder/vcvrack-packtau/pull/15

[2022-03-19 02:41] #292 closed, assigned to nobody

[2022-03-25 21:14] loiteringsloth opened #318 "I'm dumb.... how do you install these?"
I've tried just adding from the VCV library page, tried just subscribing from the same page, tried manually adding the folder to \Documents\Rack2\Plugins.

No matter what I do none of them show up in VCVrack. Using 2.06, free version on Windows 10

Thanks,
-Brian

[2022-03-25 21:31] Petervos2018 commented on #318
go here https://github.com/stoermelder/vcvrack-packone/releases/tag/Nightly

download the right one :

![afbeelding](https://user-images.githubusercontent.com/46076474/160203132-2415e0c5-c878-444a-9e92-6984c80ba2d9.png)

And put it in the right folder \Documents\Rack2\Plugins.

Start VCV rack.

[2022-03-25 21:49] loiteringsloth commented on #318
Working now, I guess I downloaded the wrong file. Thank you!

[2022-04-16 18:22] jaynothin opened #319 "8Face => "presetCount": 8 <=, gets changed to another number in the patch.json "autosave""
I cannot reproduce this issue at will, but it randomly occurs often enough to be annoying as I am performing LIVE.
It happened in the very first minute of setting up and using it, (example below), as well as well within a few hours of performing.
And even after applying the "fix", it bugged again later on. So it really looks random to me.

8Face "presetCount": 8, gets changed to another number in

[2022-04-16 18:46] stoermelder commented on #319
This is a feature that you are most probably not aware of: Long-pressing one of the buttons sets the number of active presets. If it "happens" you can long-press on the 8th preset button which will enable all preset slots.
Let me know if this clears things up...

[2022-04-16 18:50] jaynothin commented on #319
Ohhhhhhhhh
Now I feel like a total fool 🤦

I just tried and held a pad, and I saw it change before my eyes. 🤯

I guess, if possible, we should delete my post? Seriously.

Thank you so much :D

[2022-04-16 18:53] stoermelder commented on #319
No problem, let's just close the issue ;-)
I'm glad I could help!

[2022-04-16 18:53] #319 closed, assigned to nobody

[2022-04-28 00:43] ThePython10110 opened #320 "Suggestion: Add back to VCV Rack Library"
I'm only really suggesting this because it makes it easy to install and update, not because I personally need it.
I just think it would be nice.

[2022-05-07 20:23] flcc opened #321 "Installed nightly release but just get Glue"
Hi
Hope it's the right place.
I've intalled the plugin from the nightly build page.
OSX version.
It work since I get Glue. But I just get Glue. No others modules.

An idea ?

Cheers

[2022-05-07 21:21] Petervos2018 commented on #321
Ok try this :

Go here https://library.vcvrack.com/plugins

Scroll down until you see this :

![afbeelding](https://user-images.githubusercontent.com/46076474/167271961-d3be99e9-a197-4a5a-b76c-ccc04213c6ea.png)

Choose Remove all, and also remove the stoermelder pack1 folder from your hdd.
Start Rack,
Close rack

In the Library choose "Subscribe" for the stoermelder plug-in.

Put your downloaded n

[2022-05-07 23:51] flcc commented on #321
Superb, it works
In fact I wanted to try this solution, but I couldn't find any stoermeleder, CV-Map, Glue etc...
Why ?
Because when the PackOne section is closed, neither the site search nor the firefox search find them. I didn't think to look for PackOne. I deduced that this brand was no longer listed.
It's dumb, isn't it ?
Anyway thank you very much for you help
And double thanks for the speed

[2022-05-22 09:30] #318 closed, assigned to nobody

[2022-05-22 09:31] #321 closed, assigned to nobody

[2022-05-22 09:31] #316 closed, assigned to stoermelder

[2022-05-22 09:33] stoermelder commented on #295
I think this issue is obsolete in the meantime.

[2022-05-22 09:33] #295 closed, assigned to nobody

[2022-05-23 18:23] offthesky opened #322 "License change to GPL-3.0-or-later"
i think it's safe to say the stoermelder modules are some of the best modules there ever were! i teach private classes - intro to modular/advanced patching using the great free cardinal vcv platform ( https://github.com/DISTRHO/Cardinal ).  but cardinal has strict guidelines for adding in new sets of modules, in that the licenses need to be "GPL-3.0-or-later" to future proof.  is there any chance

[2022-06-09 01:11] DaveBenham opened #323 "TRANSIT fade time faulty on Windows until precision set"
I'm using the latest development build from 2022-05-24 on both Windows and M1 Mac running rack 2.06 pro standalone.

On Windows only the TRANSIT fade time is very fast upon loading a patch. The fade time is restored to normal if I set the precision in the context menu, even if I select the currently checked precision. I have to go through the same process every time I open the patch.

I am not exp

[2022-06-11 11:31] z-plane opened #324 "Manual link from vcv 404"
This should be a relatively easy one. Currently all module manual pages land on a GitHub 404 :/

[2022-06-16 04:10] Donmanouche opened #325 "Limited number of modules loaded on Linux"
Hi,
Only two modules are loaded in Vcvrack 2 on Linux: Midi-step and Glue. The other other do not show in the list of available modules. Normal?
Thank you.

[2022-06-16 09:15] Petervos2018 commented on #325
https://github.com/stoermelder/vcvrack-packone/issues/321#issuecomment-1120292951

[2022-06-16 17:34] Donmanouche commented on #325
Many thanks @Petervos2018 ! It works now.

[2022-06-26 19:16] subderground commented on #322
Yes, your Glue module is a must have... We can't have it in Cardinal rack. If you don't want to modify the Licence, maybe could you check the projet and perhaps add a labels/stickers module/possibilty to Cardinal rack ? That would be cool !
Have a great day. :-)  T.

[2022-08-18 14:23] mysterybear opened #326 "Glue labels not saved in selections"
Hey,

Is it just me or are glue labels not saved as part of saved selections?

[2022-08-18 14:25] mysterybear commented on #326
Ah, also mappings from CV-MAP are not saved

[2022-08-18 14:36] mysterybear commented on #326
Ah if I use STRIP everything's fine... I guess that's the suggested solution?

[2022-08-18 15:51] Torinbob opened #327 "Macro module CV outputs crash rack when Macro's knob is turned"
The Macro module CV outputs crash rack when Macro's knob is turned.

To reproduce the issue, connect either CV output on Macro to any CV input on another module.

Then turn the knob on Macro > Rack crashes

Rack standalone 2.1.2 - Mac OS Monterey 12.4

[2022-09-08 23:35] otnooishphoo opened #328 "can't build on arm Mac."
$(error Could not determine CPU architecture of $(MACHINE). Try hacking around in arch.mk)

[2022-09-09 02:17] otnooishphoo commented on #328
Tried it on an old intel and got these errors
src/helpers.hpp:30:22: error: no member named 'zoom' in namespace 'rack::settings'; did you mean simply 'zoom'?
                this->sourceZoom = rack::settings::zoom;
                                   ^~~~~~~~~~~~~~~~~~~~
                                   zoom
src/helpers.hpp:22:33: note: 'zoom' declared here
        void trigger(Vec target, float

[2022-09-09 02:28] #328 closed, assigned to nobody

[2022-09-11 07:09] stoermelder commented on #327
Thanks for reporting, fixed.

[2022-09-11 07:09] #327 closed, assigned to stoermelder

[2022-09-11 07:16] stoermelder commented on #326
The selection-function is integrated in Rack, unfortunately there is no support for mappings or custom elements (like labels).
I suggest a feature request on Rack's development.

[2022-09-11 07:17] #325 closed, assigned to nobody

[2022-09-11 07:26] stoermelder commented on #323
I'm affraid I can't reproduce the problem. Can you provide a patch file?

[2022-09-11 07:27] stoermelder commented on #324
This is known and will fixed automatically as soon there is branch "v2" in the repository.

[2022-09-11 07:35] stoermelder commented on #320
The plugin and modules have not been removed from the VCV Library, but there is no version for Rack v2 available yet.

[2022-09-11 07:35] #320 closed, assigned to nobody

[2022-09-11 07:47] stoermelder commented on #322
As far as I am aware of all contributors to this repository must agree with a licence change.
@xandramax @kant @jatinchowdhury18 @nateallen-wk, if you don't agree please let me know.

[2022-09-11 07:51] stoermelder commented on #317
Please let me know if this problem persists with the current version of Rack 2.1.2:

2.1.2 (2022-07-04)
- Fix expanders not updating (connecting or disconnecting to adjacent modules) when cloning or removing modules.

https://github.com/VCVRack/Rack/blob/v2/CHANGELOG.md

[2022-09-11 07:52] #306 closed, assigned to stoermelder

[2022-09-11 17:46] Secretcinema001 commented on #306
Hey Ben!

Thanks for the update maestro. I hope you’re ok??

Will check what this means, but I sincerely hope Pack One will be
officially added to the official Library of Rack.

I had no issues so far, but it seems midi mapping has some problems as I
read in the forum?

Hope you’re making your dreams come true and life is treating you well.

Greets

Jeroen.

On Sun, 11 Sep 2022 at 09:52, Ben ***@*

[2022-09-11 17:50] stoermelder commented on #306
Hello Jeroen, yes, I'm going to release a "beta" version to VCV Library soon.
Can you give me a link to the forum about the MIDI problems?

[2022-09-11 17:55] jatinchowdhury18 commented on #322
I will happily agree with whatever decision you and the other contributors make regarding license changes!

[2022-09-11 17:56] Secretcinema001 commented on #306
WOW!! Fantastic news Ben! I will search for you and update you asap. I will
also use Pack One now extensively and update you on what I bump into myself
if you're keen to know.

many thanks

On Sun, Sep 11, 2022 at 7:50 PM Ben ***@***.***> wrote:

--
*Secret Cinema* <http://www.facebook.com/secretcinema.gem> :

*www.secretcinema.nl* <http://www.secretcinema.nl>
*www.facebook.com/secretcinema.gem
<h

[2022-09-11 18:20] Secretcinema001 commented on #306
Actually, the one thing I have with Transit is that the state of the saved
preset buttons won't reach their saved state on the first click completely.
In other words, I need to press the green buttons several times to get to
the actual saved state. I am not sure if that has to do with the precision
setting? It seems like precision get's less accurate preset recalls.

I map the morph presets mostly

[2022-09-11 18:33] stoermelder opened #329 "Transit - not reaching saved parameter state"
Actually, the one thing I have with Transit is that the state of the saved
preset buttons won't reach their saved state on the first click completely.
In other words, I need to press the green buttons several times to get to
the actual saved state. I am not sure if that has to do with the precision
setting? It seems like precision get's less accurate preset recalls.

I map the morph presets mostly

[2022-09-11 19:04] stoermelder commented on #329
@Secretcinema001 can you try the latest build if it works as expected?

[2022-09-11 19:05] xandramax commented on #322
You have my approval.

[2022-09-11 19:11] Secretcinema001 commented on #329
Yes just downloaded and will get into it tonight and keep you posted.

So thrilled about this, you can't even imagine haha.

On Sun, Sep 11, 2022 at 9:04 PM Ben ***@***.***> wrote:

--
*Secret Cinema* <http://www.facebook.com/secretcinema.gem> :

*www.secretcinema.nl* <http://www.secretcinema.nl>
*www.facebook.com/secretcinema.gem
<http://www.facebook.com/secretcinema.gem>*
www.instagram.com/secre

[2022-09-11 19:34] Secretcinema001 commented on #329
YES! Solid as a rock now. It recalls it's snapshot for the full 100% when
using C4 mode.

The other thing might be a feature request then. The snapshots only respond
to ONE click still.
So for example, I press C4 to open saved snapshot 1, then I change some
parameters on the bound module, but I want to return to the saved state of
snapshot 1 again, but when I press C4 it won't load it's saved stat

[2022-09-11 19:37] Secretcinema001 commented on #329
Same issue for 8face modules as well btw.

On Sun, Sep 11, 2022 at 9:34 PM Secret Cinema ***@***.***>
wrote:

--
*Secret Cinema* <http://www.facebook.com/secretcinema.gem> :

*www.secretcinema.nl* <http://www.secretcinema.nl>
*www.facebook.com/secretcinema.gem
<http://www.facebook.com/secretcinema.gem>*
www.instagram.com/secretcinema

*Gem Bookings:Mail: ***@***.*** ***@***.***>Web:
www.gembooking

[2022-09-11 19:37] stoermelder opened #330 "TRANSIT, 8FACE, 8FACE mk2 - retrigger in C4 mode"
The other thing might be a feature request then. The snapshots only respond
to ONE click still.
So for example, I press C4 to open saved snapshot 1, then I change some
parameters on the bound module, but I want to return to the saved state of
snapshot 1 again, but when I press C4 it won't load it's saved state. Only
when I go to snapshot 2 and then back to 1 it will recall it's original
state.

Fo

[2022-09-11 19:42] stoermelder commented on #330
Well, the problem is, the voltage stays the same and the module can only detect a change in voltage. It would need another input to "retrigger" the snapshot.
I could add a trigger input on channel 2 of the CV input.

[2022-09-11 19:48] #329 closed, assigned to stoermelder

[2022-09-11 20:08] Secretcinema001 commented on #330
Yeah I get what you mean. Trigger channel 2 input yes, which means mapping
another midi key with a different midi channel to the same snapshot?
Most of all it's not a big deal. Let's get Pack One to Library first and
then we'll see. But below are my thoughts if you're interested in my noob
ideas. :-)

Could the snapshot button respond to Velocity or Double Press?
Or an option when each snapshot is

[2022-09-11 20:16] stoermelder commented on #330
Already added.
No, you send a trigger on channel 2 to re-trigger the current snapshot. You don't need another MIDI channel, you can use the standard gate from MIDI, like this:

![image](https://user-images.githubusercontent.com/47640667/189547058-cfd6a4c3-8796-4234-bafa-a09250f03ef4.png)

[2022-09-11 20:22] Secretcinema001 commented on #330
Ah yes of course, that's it!  Really appreciate your fast response Ben. if
I can be of any help with anything, don't hesitate to ask anytime.

Cheers,
J

On Sun, Sep 11, 2022 at 10:16 PM Ben ***@***.***> wrote:

--
*Secret Cinema* <http://www.facebook.com/secretcinema.gem> :

*www.secretcinema.nl* <http://www.secretcinema.nl>
*www.facebook.com/secretcinema.gem
<http://www.facebook.com/secretcinema

[2022-09-11 20:50] stoermelder commented on #330
Also added to all 8FACE modules.

[2022-09-11 21:10] Secretcinema001 commented on #330
Ok this is weird. My studio Mac mini M1 is exactly the same as my Macbook
Air M1. I actually duplicated my studio ac to the Macbook Air.

The only difference is an external monitor on the Mac Mini. But on the Mac
Mini Transit has no Write option for the snapshots and when I bind a module
it crashes.
On the Macbook Air it works fine. I removed the whole Pack One and
reinstalled it, but same. Build

[2022-09-11 21:12] Secretcinema001 commented on #330
dropbox link to video

https://www.dropbox.com/s/2t3p30pa63f6iho/Transit%20Crash.mp4?dl=0

On Sun, Sep 11, 2022 at 11:10 PM Secret Cinema ***@***.***>
wrote:

--
*Secret Cinema* <http://www.facebook.com/secretcinema.gem> :

*www.secretcinema.nl* <http://www.secretcinema.nl>
*www.facebook.com/secretcinema.gem
<http://www.facebook.com/secretcinema.gem>*
www.instagram.com/secretcinema

*Gem Bookings:

[2022-09-11 21:17] Secretcinema001 commented on #330
Solved it by starting a new project in Rack and not the autosave. Intersting

On Sun, Sep 11, 2022 at 11:12 PM Secret Cinema ***@***.***>
wrote:

--
*Secret Cinema* <http://www.facebook.com/secretcinema.gem> :

*www.secretcinema.nl* <http://www.secretcinema.nl>
*www.facebook.com/secretcinema.gem
<http://www.facebook.com/secretcinema.gem>*
www.instagram.com/secretcinema

*Gem Bookings:Mail: ***@***

[2022-09-11 21:19] stoermelder commented on #330
Ok, I can take a look at the crash log if it happens again.

[2022-09-12 11:16] Petervos2018 opened #331 "ARENA does not save some settings"
Hi Ben,

When you first add ARENA to a patch the proximity lines are missing. When you reduce the number of ins and outs the white and yellow circles stay in view ( they used to vanish). When reloading a patch with ARENA in it all the radius settings are back to 50%. And the radius is not visible at all when changing it.

Some screenshots :

![afbeelding](https://user-images.githubusercontent.com/

[2022-09-12 12:21] DaveBenham commented on #323
No worries, the problem has been fixed.

I built a simple test patch with the older version of packone on Windows from May, and verified the problem.

Then I downloaded the most recent version from 9/11, and the problem has disappeared.

I have a video of the old bug in action if you are interested. But I think the issue is moot at this point.

[2022-09-12 12:30] DaveBenham commented on #279
I would love to have such a module. I have been independently thinking about the need for such a thing!

[2022-09-12 12:53] DaveBenham opened #332 "Can Glue be made to work with VCV Selections?"
Scenario setup - I patch a set of modules that includes Glue with labels, and then save the construct as a VCV selection

If I import the selection, the Glue labels are gone.

I realize Strip handles this functionality just fine. Just curious if it could be made to work with VCV selections.

[2022-09-12 19:05] stoermelder commented on #331
Thanks Peter for reporting, much appreciated. I completely messed up the screen drawing while trying out some fancy things with room brightness...

[2022-09-12 19:07] stoermelder commented on #332
Duplicate of #326

[2022-09-12 19:08] stoermelder commented on #323
Thanks for reporting back. I thought so as this was fixed in 37d7231cea2de8a45c3ecf81564eb507c282a495

[2022-09-12 19:09] #323 closed, assigned to stoermelder

[2022-09-12 19:40] Petervos2018 commented on #331
And 30 minutes later it's solved, you really are incredible, thank you 😃 looking at the balls and the lines and the radius...lovely.
![afbeelding](https://user-images.githubusercontent.com/46076474/189741964-689d2f90-67f9-41e9-aa9a-f2acc9ebc466.png)

Thanks Peter.
(you can close this now or should I do it ?)

[2022-09-12 21:41] stoermelder commented on #331
Yes, let's close this one :-)

[2022-09-12 21:41] #331 closed, assigned to stoermelder

[2022-09-14 17:26] W4too opened #334 "Audio64 - inputs / outputs issue"
Hi,

When  i select my audio interface ASIO driver in audio64 module, inputs and outputs don't seem to match correctly.

![audio64](https://user-images.githubusercontent.com/100092785/190221861-ddc78fcc-2b83-4492-a7fd-1d1205b25bf8.jpg)

Thanks

[2022-09-15 17:09] offthesky commented on #322
almost half way there :] super great/exciting. thank you all for taking the time to consider this one!! <3

[2022-09-15 21:09] stoermelder commented on #334
Thanks for reporting, I fixed the issue, but also deprecated the module as multiple Audio-16 can be used for the same purpose.

[2022-09-15 21:09] #334 closed, assigned to stoermelder

[2022-09-15 21:57] stoermelder commented on #326
Feature request submited to the VCV-support.

[2022-09-15 21:58] #332 closed, assigned to nobody

[2022-09-15 21:59] stoermelder commented on #317
Duplicate of #326

[2022-09-15 21:59] #317 closed, assigned to stoermelder

[2022-09-20 20:57] stoermelder commented on #326
VCV support responded they would not add something for this scenario at the moment, so I close this for now.

[2022-09-20 20:57] #326 closed, assigned to stoermelder

[2022-10-12 01:22] pgatt commented on #297
Mac as well here, on Rack 2.1.2

[log.txt](https://github.com/stoermelder/vcvrack-packone/files/9760683/log.txt)

[2022-10-13 19:50] rasavell opened #335 "Transit Expander not lighting up"
Expander seems to work, but no visual feedback

[2022-10-13 19:51] rasavell opened #336 "Transit and 8Face don't work with Stellare Modular"
Just a heads up. Probably Stellare's problem.

[2022-10-15 15:55] stoermelder commented on #335
The manual explains how to adjust the sequence length/number of actives snapshots.
https://github.com/stoermelder/vcvrack-packone/blob/v1/docs/Transit.md#sequencing-and-selecting-snapshots

[2022-10-15 15:55] #335 closed, assigned to nobody

[2022-10-15 16:01] rasavell commented on #335
Apologies! Forgot to try this, as I was working mostly with 12 snapshots- default in the main module.
Best,
Rob

[2022-10-15 16:12] stoermelder commented on #336
Can I ask you to be a bit more specific?
I tried Stellare Modular Pelisia and can't see anything wrong?

[2022-10-15 16:13] rasavell commented on #336
I will try them again to double check.

[2022-10-15 16:36] ContemporaryInsanity opened #337 "A version of strip that allows setting of percentage of randomisation from 0-100%"

[2022-10-15 16:45] rasavell commented on #336
Yes, Pelisia looks all good. I noticed when testing the sequencers - Nomlia, Azular, Andromeda, and also the switches AL14,AL18 etc.
that Transit doesn’t catch the selector buttons, but it does handle all the dials etc.  8Face MKII handles everything, no problem, I think.

I’ve noticed similar behavior with some other modules like docB GenScale. Let me know if you’d like me to test further.

Also,

[2022-10-15 17:54] stoermelder commented on #336
I did explain the differences here some time ago, I hope it clears things up:
https://community.vcvrack.com/t/stoermelder-8face-mk2-vs-transit/15335/5

[2022-10-27 17:55] ContemporaryInsanity commented on #297
prob-key into pink trombone with Strip randomising PT every gate from PK, run it long enough, exit, reload, guaranteed crash.

Seems Strip accumulates something or other over quite some time, saves state on exit, then crashes on reload.  I've never had it crash any other way after many hours, only on exit & reload.

Considering Strips minimal functionality, the only thing that needs to persist is

[2022-10-27 21:05] higaru2 commented on #297
same behaviour of Strip on Mac (osx)...
I replicated the setup above.
thanks in advance for fixing this.
your modules are fabulous.
thank you!!!!

On Thu, Oct 27, 2022 at 8:55 PM Ewen Bates ***@***.***> wrote:

[2022-11-13 17:19] ContemporaryInsanity commented on #297
I decided to resurrect Racket Science for v2 and the first thing I've done is a super basic module randomiser based on Strip.

On a button or trigger it randomises the module to the immediate right, that's it, nothing more fancy than that, Grip can be used to exclude individual controls from randomisation.

I picked through Ben's code and took the absolute minimum to do what I wanted.

Exactly the

[2022-11-14 22:21] W4too opened #338 "8 / 16 face not recognizing modules"
Hi,
I sometimes get an error with the 8face or 16face not recognizing attached modules.
All is working fine when i build my patch but once saved and re-opening it, i get this issue.

Thanks

[16_face.zip](https://github.com/stoermelder/vcvrack-packone/files/10007520/16_face.zip)

[2022-11-15 19:27] stoermelder commented on #338
Thanks for reporting, fixed.

[2022-11-15 19:27] #338 closed, assigned to stoermelder

[2022-11-15 20:16] stoermelder commented on #297
Seems to be a problem on Mac only, I can't reproduce any crash on Windows. Can you provide a patch?

[2022-11-15 20:34] higaru2 commented on #297
yep!
here we go:

on v8
just move the pink trombone near the strip
and it usually crashes after random time...
( sometimes in few seconds )

in vX
( that is with the modules already close )
it crashes also after random time
sometimes on load

what is odd - is that after your latest nightly update
it doesnt crash so hard - but it still does...

big thanks
!!!!

files are here:
https://workupload.co

[2022-11-15 20:36] ContemporaryInsanity commented on #297
Pretty sure you're missing checking mw.

ModuleWidget *mw = APP->scene->rack->getModule(m->rightExpander.moduleId);
if(!mw) return;

[2022-11-15 20:44] stoermelder commented on #297
Yeah, you are most probably right.
Added the fix, please let me know if crashes still happen.

[2022-11-15 20:46] higaru2 commented on #297
Ben:
where to get the new builds to try!?
its not on the usual place:
https://github.com/stoermelder/vcvrack-packone/releases/tag/Nightly

thnx

On Tue, Nov 15, 2022 at 10:44 PM Ben ***@***.***> wrote:

[2022-11-15 20:46] stoermelder commented on #322
As there was no objection during the last two month, I proceed with the licence change...

[2022-11-15 20:51] stoermelder commented on #297
Looks like the build enviroment is under maintenance at the moment. I will retry the build later. Sorry for that.

[2022-11-15 21:49] #322 closed, assigned to stoermelder

[2022-11-15 22:41] kant commented on #322
You have my approval!

[2022-11-16 04:34] ghost opened #339 "I miss stoermelder modules in Rack 2"
I know it's probably a lot of work to migrate them but just know that it would be appreciated.

Especially Glue!

[2022-11-16 04:54] higaru2 commented on #339
Max:
this will make you very happy:) Ben already did that.
https://github.com/stoermelder/vcvrack-packone/releases/tag/Nightly

On Wed, Nov 16, 2022 at 6:34 AM Max Pleaner ***@***.***>
wrote:

[2022-11-16 09:44] ContemporaryInsanity commented on #337
I have implemented this in my own module.

If you do this, have a look at https://github.com/ContemporaryInsanity/RacketScience2/blob/main/src/RSRand.cpp

[2022-11-16 09:45] ContemporaryInsanity commented on #297
Looks like we've fixed it :)

[2022-11-20 19:54] #297 closed, assigned to stoermelder

[2022-11-20 20:31] #339 closed, assigned to nobody

[2022-11-20 21:00] #324 closed, assigned to nobody

[2022-11-20 21:01] #296 closed, assigned to nobody

[2022-11-22 20:36] stoermelder commented on #326
Just to let you know: I added module S++ which adds options to paste or import Rack selections while preserving GLUE's labels.
146d3d366a5e91ec5c4518e486d7c54b05175990

[2022-11-22 20:36] stoermelder commented on #332
Just to let you know: I added module S++ which adds options to paste or import Rack selections while preserving GLUE's labels.
146d3d366a5e91ec5c4518e486d7c54b05175990

[2022-11-22 20:42] stoermelder commented on #339
It is on the way and will arrive soon.
https://github.com/VCVRack/library/issues/560#issuecomment-1321237385

[2022-11-22 20:43] stoermelder commented on #318
It is on the way and will arrive soon.
https://github.com/VCVRack/library/issues/560#issuecomment-1321237385

[2022-11-22 20:43] stoermelder commented on #313
It is on the way and will arrive soon.
https://github.com/VCVRack/library/issues/560#issuecomment-1321237385

[2022-11-22 20:44] stoermelder commented on #320
It is on the way and will arrive soon.
https://github.com/VCVRack/library/issues/560#issuecomment-1321237385

[2022-11-24 16:03] bbdomestique opened #340 "Patches that have been saved with previous version, crash on opening."
First, thank you so much for making this resource available.  I use your modules in all my patches.  I updated to the latest version and now all the patches I have that use pack 1 modules crash when I try to open them.  Sometimes rack will say on opening "Could not find module Stoermelder-P1/StripBlock."  Once I hit ok, it crashes.  I'm happy to send the .vcv file if that helps.  I'm running windo

[2022-11-24 17:11] stoermelder commented on #340
Thanks for reporting. Strip-Block has not been officially released and is not included in the plugin distributed in the VCV Library - I'm not sure I will ever include it. It is still in the development build though.
Still, it should not crash. Please send me one of you patch (not too big if possible) and I'll check.

[2022-11-24 17:20] stoermelder commented on #55
I'm closing this as there is now a module for this:
https://community.vcvrack.com/t/introducing-mindmeld-patchmaster-and-routemasters/18812

[2022-11-24 17:20] #55 closed, assigned to stoermelder

[2022-11-24 17:46] bbdomestique commented on #340
[sax setup 221120.zip](https://github.com/stoermelder/vcvrack-packone/files/10086601/sax.setup.221120.zip)

all of my patches are pretty big but let me know if this is too big.  I have another computer that still runs the patches; I could thin them out and resave them so they are smaller if that is helpful.

[2022-11-24 17:58] bbdomestique commented on #340
just to be clear my other computer will run them because i havent updated pack 1 (or vcv rack pro to 2.2.0)

[2022-11-24 23:50] stoermelder opened #341 "Strip - crash on patch loading"
that fix made that particular patch work but the rest of them still crash.  It makes me think it could be something else that doesn't have anything to do with your pack1 or packtau because none of the other patches give me any info before they crash.  In case it is and you don't mind taking another look I'm attaching another patch file that still crashes.  Thanks again.

[midi controller v3 ded.zi

[2022-11-24 23:52] stoermelder commented on #341
So another problem, please try the fixed build.

[2022-11-26 23:05] agentf64 opened #342 "GOTO crashes multiple DAWs when running as VST"
Tested in both Reaper and Studio One.
Steps to reproduce - simply add the module and close the project. When you re-open the project the program crashes.
Reaper had crashes, S1 locks up and needs to be killed via task manager. I can provide logs is necessary. I could also test in other DAWs if requested (Ableton, Cubase, or Bitwig).
I did confirm that it only crashes when running as a VST.
Rack Pr

[2022-11-26 23:51] stoermelder commented on #342
Thanks for reporting. Please try the latest development build if it works now as expected:
https://github.com/stoermelder/vcvrack-packone/releases/tag/Nightly

[2022-11-27 00:16] agentf64 commented on #342
Yes. That fixed it. Cheers.

[2022-11-27 00:16] #342 closed, assigned to stoermelder

[2022-11-27 09:47] #341 closed, assigned to stoermelder

[2022-11-27 09:54] #245 closed, assigned to stoermelder

[2022-11-27 10:10] vcvrackideas opened #344 "MIDI-KEY suggestion"
Hi Ben, glad to see you back on track with all of new modules and whole beta for the library! :-)
MIDI-KEY is a long waited dream to throw a keyboard for vcv rack and replace this by small controller together to connect Sail or so features. So you have implemented ctrl, alt and shift buttons for separate button on midi controller. But why if you can add a whole combination, let's say CTRL+D, for j

[2022-11-27 11:10] vcvrackideas opened #345 "STROKE new commands suggestion"
Module - Add random module (my current workflow is quite long on it - open browser, check Random sorting, press backspace and then only choose a random module)
Presets - Save default preset (sometimes find some cool starting point but always forgot to save it due to some menu diving and lack built-in rack command)
Presets - toggle next user preset (same thing but more on the choosing between some

[2022-11-27 16:17] stoermelder commented on #345
I have no good idea how to toggle the user presets: The module has no knowledge that an user preset has been loaded, so I can't determine which the next preset should be. I could track the loaded user preset for each module but I don't think it would be very intuitive.

[2022-11-27 18:37] stoermelder commented on #344
I added options for that, but the modifiers must be manually enabled and can't be learned, for the moment.

[2022-11-28 08:07] stoermelder commented on #305
Thanks, fixed.

[2022-11-28 08:07] #305 closed, assigned to stoermelder

[2022-11-28 08:15] #344 closed, assigned to stoermelder

[2022-11-28 08:27] stoermelder commented on #312
Thanks.

[2022-11-28 08:27] #312 closed, assigned to stoermelder

[2022-11-28 08:34] stoermelder commented on #279
I'm closing this as there is now a module for this:
https://community.vcvrack.com/t/introducing-mindmeld-patchmaster-and-routemasters/18812

[2022-11-28 08:34] #279 closed, assigned to stoermelder

[2022-11-28 09:32] stoermelder commented on #307
Thanks, fixed.

[2022-11-28 09:32] #307 closed, assigned to stoermelder

[2022-11-28 09:49] stoermelder commented on #298
This is working with the current build. The problem was I prevented loading presets into GLUE for some reason, but this restriction was removed some time ago.

[2022-11-28 09:49] #298 closed, assigned to stoermelder

[2022-11-28 11:30] stoermelder commented on #291
I added a new context menu item "Bind module (select multiple)" for this.

[2022-11-28 11:30] #291 closed, assigned to stoermelder

[2022-11-28 11:36] stoermelder commented on #244
I'm closing this for now.

[2022-11-28 11:36] #244 closed, assigned to nobody

[2022-11-28 11:39] stoermelder commented on #44
I'm closing this for now.

[2022-11-28 11:39] #44 closed, assigned to stoermelder

[2022-11-28 12:41] stoermelder commented on #286
Added.

[2022-11-28 12:41] #286 closed, assigned to stoermelder

[2022-11-29 07:29] jpnielsen opened #346 "MIDI-Plug: Loopback namecrash with Rack 2.2.0 loopback"
Running Pack one in Rack 2.2.0 free.

Latest Rack has a built -in loopback driver - 16 loopbacks with each 16 midi channels.

If I enable "midi loopback" in stoermelder midi-plug, it tells me that
the midi-loopback will be enabled after I restart rack.

After restarting I have two identically named midi loopback entries in
the midi modules.

Not really a problem it seems - perhaps disable the Pack

[2022-11-29 07:48] stoermelder commented on #346
Well, technically I added the Loopback driver much time ahead of VCV, but well...
See the changelog of the latest release, which is waiting in the integration pipeline.
https://github.com/stoermelder/vcvrack-packone/releases/tag/v2.0.beta2

[2022-11-29 07:48] #346 closed, assigned to stoermelder

[2022-11-29 07:49] pgatt commented on #346
Hi Ben, I am following this conversation - I wasn't aware that it was due to you already having Loopback, I thought it was your module duplicating two instances of Loopback.

[2022-11-29 07:50] pgatt commented on #346
Thanks, seems like that's a reasonable fix. Apologies for any confusion.

[2022-11-29 20:19] stoermelder commented on #330
Closing this for now.

[2022-11-29 20:19] #330 closed, assigned to stoermelder

[2022-11-29 20:24] stoermelder commented on #92
Closing this, the proposed functionality is available in TRANSIT.

[2022-11-29 20:24] #92 closed, assigned to stoermelder

[2022-11-29 20:27] stoermelder commented on #24
Closing this for now. Rack's API does not provide the necessary functions for creating a serializable undo-history. This might change in the future, but it is impossible with Rack v2.

[2022-11-29 20:27] #24 closed, assigned to stoermelder

[2022-11-29 20:28] stoermelder commented on #62
I'm interested in implemeting this but it is still unclear how a good user interface could look like.

[2022-11-30 16:59] jaynothin opened #347 "8FACEmk2 in "forward mode" jumps to 2nd slot/snapshot when applying a "reset""
This issue happens also with: 8FACE, 8FACEx2, 8FACEmkII and TRANSIT.

I'm always performing LIVE and I use an "auto reset", (e.g. every DIV64 or DIV128) to make sure everything is always in sync, so that I don't have to manually send a sync that would just break "tempo" in a middle of a musical phrasing, if this makes any sense. 🙂

I've been using more and more 8FACEmk2, and of course I connect my

[2022-11-30 18:14] jaynothin commented on #347
Ok, I did some more tests.

So I sent a "real" reset signal from the clock (and also SEQ3 reset out, and others, etc...), instead of testing with a pulse/gate 🤦‍♂️from the clock.

Now, everything reset to slot 1, of course. 😮‍💨

So the issue isn't really an issue. I guess because it needs a very small trigger, smaller than what the clock PW knob could give me when tuned all the way down.

So maybe

[2022-11-30 20:15] Petervos2018 commented on #347
I think that delaying the reset pulse (does not have to be a trigger) by 1 sample solves all your problems ?

![afbeelding](https://user-images.githubusercontent.com/46076474/204898979-be895e53-c9b5-4b46-a3ca-93423fe29049.png)

I use the sum module to introduce 1 sample delay.

And the clocked needs some attention :

![afbeelding](https://user-images.githubusercontent.com/46076474/204899789-fa6fb1